<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> – Solid</title>
    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/lib/solid.css">
    <link rel="stylesheet" type="text/css" href="/lib/solid-specific.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/github.min.css">
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body>
    <%- partial("_nav") %>
    <div class="xs-col-12 sm-col-9 lg-col-10 sm-offset-3 lg-offset-2">
      <div class="xs-col-12 xs-p2 sm-col-11 xs-mx-auto">
        <h1 class="xs-col-11 sm-col-10 xs-mx-auto xs-border-bottom xs-pb3 xs-my4 xs-hide sm-show"><%= title %></h1>
        <div class="xs-col-11 sm-col-10 xs-mx-auto">
          <%- yield %>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
    <script src="/javascript/codehighlight.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript">
    <!--
        function toggle_visibility(id) {
           var e = document.getElementById(id);
           if(e.style.display == 'xs-block')
              e.style.display = 'none';
           else
              e.style.display = 'xs-block';
        }
    //-->
    </script>
  </body>
</html>
