<!-- Desktop Nav -->

<nav class="xs-col-3 md-col-2 p3 fixed t0 b0 l0 overflow-auto fill-gray--lighter border-right xs-hide sm-show">
  <h1 class="mb2"><a href="/">Solid</a></h1>

  <ol class="list-unstyled solid-nav">
    <li>
      <h2 class="type-4 bold">Base</h2>
    </li>
    <% for(var slug in public.base._data){ %>
    <% var page = public.base %>
    <li>
    <a href="/base/<%= slug %>" class="block <%- current.source == slug ? 'text-red' : '' %>"><%= page._data[slug].title %></a>
    </li>
    <% }; %>

    <li>
      <h2 class="type-4 bold mt2">Interface</h2>
    </li>
    <% for(var slug in public.interface._data){ %>
    <% var page = public.interface %>
      <li>
        <a href="/interface/<%= slug %>" class="block <%- current.source == slug ? 'text-red' : '' %>"><%= page._data[slug].title %></a>
      </li>
    <% }; %>

    <li>
      <h2 class="type-4 bold mt2">Layout</h2>
    </li>
    <% for(var slug in public.layout._data){ %>
    <% var page = public.layout %>
      <li>
        <a href="/layout/<%= slug %>" class="block <%- current.source == slug ? 'text-red' : '' %>"><%= page._data[slug].title %></a>
      </li>
    <% }; %>

    <li>
      <h2 class="type-4 bold mt2">Resources</h2>
    </li>
    <% for(var slug in public.resources._data){ %>
    <% var page = public.resources %>
      <li>
        <a href="/resources/<%= slug %>" class="block <%- current.source == slug ? 'text-red' : '' %>"><%= page._data[slug].title %></a>
      </li>
    <% }; %>

    <% for(var slug in public.sandbox._data){ %>
    <% var page = public.sandbox %>
      <li><a href="/sandbox/<%= slug %>" class="block <%- current.source == slug ? 'text-red' : '' %>">Sandbox</a></li>
    <% }; %>
  </ol>
</nav>

<!-- Mobile Nav -->

<nav class="col-12 fill-white xs-show sm-hide">
  <h1 class="type-2"><a href="#" class="block p2 fill-gray--lighter border-bottom--lighter text-gray bold nav-carat" onclick="toggle_visibility('solid-menu');"><%= title %></a></h1>

  <ol class="list-unstyled" id="solid-menu" style="display:none;">
    <li>
      <a href="/" class="block p2 border-bottom--lighter">Welcome</a>
    </li>
    <li>
      <h2 class="type-5 bold px2 py1 fill-gray--lighter border-bottom--lighter">Base</h2>
    </li>
    <% for(var slug in public.base._data){ %>
    <% var page = public.base %>
      <li>
        <a href="/base/<%= slug %>" class="block p2 border-bottom--lighter <%- current.source == slug ? 'text-red' : '' %>"><%= page._data[slug].title %></a>
      </li>
    <% }; %>

    <li>
      <h2 class="type-5 bold px2 py1 fill-gray--lighter border-bottom--lighter">Interface</h2>
    </li>
    <% for(var slug in public.interface._data){ %>
    <% var page = public.interface %>
      <li>
        <a href="/interface/<%= slug %>" class="block p2 border-bottom--lighter <%- current.source == slug ? 'text-red' : '' %>"><%= page._data[slug].title %></a>
      </li>
    <% }; %>

    <li>
      <h2 class="type-5 bold px2 py1 fill-gray--lighter border-bottom--lighter">Layout</h2>
    </li>
    <% for(var slug in public.layout._data){ %>
    <% var page = public.layout %>
      <li>
        <a href="/layout/<%= slug %>" class="block p2 border-bottom--lighter <%- current.source == slug ? 'text-red' : '' %>"><%= page._data[slug].title %></a>
      </li>
    <% }; %>

    <li>
      <h2 class="type-5 bold px2 py1 fill-gray--lighter border-bottom--lighter">Resources</h2>
    </li>
    <% for(var slug in public.resources._data){ %>
    <% var page = public.resources %>
      <li>
        <a href="/resources/<%= slug %>" class="block p2 border-bottom--lighter <%- current.source == slug ? 'text-red' : '' %>"><%= page._data[slug].title %></a>
      </li>
    <% }; %>

    <% for(var slug in public.sandbox._data){ %>
    <% var page = public.sandbox %>
      <li>
        <a href="/sandbox/<%= slug %>" class="block p2 text-orange border-bottom--lighter <%- current.source == slug ? 'text-red' : '' %>">Sandbox</a>
      </li>
    <% }; %>
  </ol>
</nav>