
 <nav class='p2 float-left' style='width:15%;height:100%;'>
  <ul>

    <!-- if the current is this page in the navigation, then highlight it (give it an active class, for ex) -->
    <li class="mb3">
      <h2 class="mb1 <%- current.path[0] == 'base' ? '' : '' %>">
        Base
      </h2>
      <ul>
        <!-- find data inside base foler -->
        <% for(var slug in public.base._data){ %> 
          <!-- in base folder -->
          <% var page = public.base %>
          <!-- grab subnav menu title inside data.json in base folder -->
          <li class="mb1 <%- current.source == slug ? 'bold' : '' %>">
           <!-- grab subnav menu link inside data.json in base folder -->
            <a href="/base/<%= slug %>">
              <%= page._data[slug].title %>
            </a>
          </li>
        <% }; %>
      </ul>
    </li>

    <li class="mb3">
      <h2 class="mb1 <%- current.path[0] == 'interface' ? '' : '' %>">
        Interface
      </h2>
      <ul class="#">
      <% for(var slug in public.interface._data){ %>
        <% var page = public.interface %>
        <li class="mb1 <%- current.source == slug ? 'bold' : '' %>">
          <a href="/interface/<%= slug %>">
            <%= page._data[slug].title %>
          </a>
        </li>
      <% }; %>
    </ul>
    </li>

    <li class="mb3">
      <h2 class="mb1 <%- current.path[0] == 'layout' ? '' : '' %>">
        Layout
      </h2>
      <ul>
      <% for(var slug in public.layout._data){ %>
        <% var page = public.layout %>
        <li class="mb1 <%- current.source == slug ? 'bold' : '' %>">
          <a href="/layout/<%= slug %>">
            <%= page._data[slug].title %>
          </a>
        </li>
      <% }; %>
    </ul>
    </li>

  </ul>
</nav>