<h1 class="bold border-bottom mb4 pt2 pb4">Logos <a href="/images/logos/ai/buzzfeed-logos.ai" class="button button--secondary ml3" style="position:relative;top:-.35rem;">Download .ai</a>
</h1>

<section class="mb4 pb4 border-bottom">

  <h2 class="bold mb1">Full Logos</h2>

  <p class="mb4">When using on dark backgrounds, <span class="text-red">do not invert the full color version.</span> The spacing between letterforms must be a little larger when on a dark background to maximize legibility.</p>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed</h3>

    <div class="md-inline-block p2 md-mr2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-full.svg" width="200" />
    </div>

    <div class="md-inline-block fill-red p2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-full-inverted.svg" width="200" />
    </div>

    <h5 class="mt4 mb1">BuzzFeed, Red Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 853.3 150.1"><g fill="#E32"><path d="M0 147.3V0h65.7c28 0 42.4 17.9 42.4 37.5 0 18.3-11.5 30.9-25.4 33.8 15.9 2.4 28.3 17.7 28.3 36 0 22.3-14.6 40-42.8 40H0zM76.1 43.1c0-9.1-6.6-15.5-17.2-15.5H31.4v30.9h27.5c10.6 0 17.2-5.9 17.2-15.4zm2.9 59.8c0-9.3-6.6-16.8-18.8-16.8H31.4v33.6h28.9c11.6 0 18.7-6.2 18.7-16.8zM119.6 104.6v-64h28.2v63.1c0 12.7 7.7 21.9 22.7 21.9 14.8 0 22.6-9.2 22.6-21.9V40.6h28.1v63.9c0 26.8-16.1 45.6-50.6 45.6s-51-19-51-45.5zM230.5 147.3v-21l48.1-61.2h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM326.9 147.3v-21L375 65.1h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM424.6 147.3V0h102.2v27.6H456v30.9h53.3v27.6H456v61.2h-31.4zM517.2 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM572.4 61c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM633.4 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM688.6 61c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM752.3 147.5V40.4h43c33.7 0 58 20.2 58 53.5 0 33.2-24.2 53.6-57.8 53.6h-43.2zM826 93.9c0-16.6-10-30.4-29.6-30.4H779v60.9h17.4c18.7 0 29.6-14.6 29.6-30.5z"/></g></svg>'%></code></pre>

    <h5 class="mt4 mb1">BuzzFeed, White Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 874.3 150.1"><g fill="#FFF"><path d="M0 147.3V0h65.7c28 0 42.4 17.9 42.4 37.5 0 18.3-11.5 30.9-25.4 33.8 15.9 2.4 28.3 17.7 28.3 36 0 22.3-14.6 40-42.8 40H0zM76.1 43.1c0-9.1-6.6-15.5-17.2-15.5H31.4v30.9h27.5c10.6 0 17.2-5.9 17.2-15.4zm2.9 59.8c0-9.3-6.6-16.8-18.8-16.8H31.4v33.6h28.9c11.6 0 18.7-6.2 18.7-16.8zM122.6 104.6v-64h28.2v63.1c0 12.7 7.7 21.9 22.7 21.9 14.8 0 22.6-9.2 22.6-21.9V40.6h28.1v63.9c0 26.8-16.1 45.6-50.6 45.6s-51-19-51-45.5zM236.5 147.3v-21l48.1-61.2h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM335.9 147.3v-21L384 65.1h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM436.6 147.3V0h102.2v27.6H468v30.9h53.3v27.6H468v61.2h-31.4zM532.2 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM587.4 61c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM651.4 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM706.6 61c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM773.3 147.5V40.4h43c33.7 0 58 20.2 58 53.5 0 33.2-24.2 53.6-57.8 53.6h-43.2zM847 93.9c0-16.6-10-30.4-29.6-30.4H800v60.9h17.4c18.7 0 29.6-14.6 29.6-30.5z"/></g></svg>'%></code></pre>
  </section>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed News</h3>

    <div class="md-inline-block p2 md-mr2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-full.svg" width="300" />
    </div>

    <div class="md-inline-block fill-gray--darker p2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-full-inverted.svg" width="300" />
    </div>

    <h5 class="mt4 mb1">BuzzFeed News, Black &amp; Red Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1294.2 150"><g fill="#222"><path d="M0 147.3V0h65.7c28 0 42.4 17.9 42.4 37.5 0 18.3-11.5 30.9-25.4 33.8 15.9 2.4 28.3 17.7 28.3 36 0 22.3-14.6 40-42.8 40H0zM76.1 43.1c0-9.1-6.6-15.5-17.2-15.5H31.4v30.9h27.5c10.6 0 17.2-5.9 17.2-15.4zm2.9 59.8c0-9.3-6.6-16.8-18.8-16.8H31.4v33.6h28.9c11.6 0 18.7-6.2 18.7-16.8zM119.6 104.6v-64h28.2v63.1c0 12.7 7.7 21.9 22.7 21.9 14.8 0 22.6-9.2 22.6-21.9V40.6h28.1v63.9c0 26.8-16.1 45.6-50.6 45.6s-51-19-51-45.5zM230.5 147.3v-21l48.1-61.2h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM326.9 147.3v-21L375 65.1h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM424.6 147.3V0h102.2v27.6H456v30.9h53.3v27.6H456v61.2h-31.4zM517.2 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM572.4 61c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM633.4 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM688.6 61c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM752.3 147.5V40.4h43c33.7 0 58 20.2 58 53.5 0 33.2-24.2 53.6-57.8 53.6h-43.2zM826 93.9c0-16.6-10-30.4-29.6-30.4H779v60.9h17.4c18.7 0 29.6-14.6 29.6-30.5z"/></g><g fill="#E32"><path d="M871.3 130.1l9.4-1V58.6l-9.4-.8V42h36.1L945 98.5v-39l-10.4-1.6V42h35.2v15.8l-7.9 1.6v85.8h-15.2l-49.4-74.1V128l15.5 2.1v15.2h-41.6v-15.2zM1048.9 61.4c-1.7-4.5-3.5-4.8-8.6-4.8h-24.6v29.9h8.1c3.6 0 5.4-1.2 6.1-4l2.6-9.7h9.2v39.3h-9.4l-2.8-10.1c-1-3.3-2.6-4-6.3-4h-7.6v31.9h25.9c7.8 0 8.7-.7 10.7-5.6l6.6-17.2h11.1v38.1h-89.1V130l9.7-1.3V58.6l-9.7-.8V42h84.2v34.7h-10.2l-5.9-15.3zM1145.5 94.6l-16.2 51.7h-20.5l-26.1-88-6.9-.5V42h41.1v15.8l-7.9.7 16 55 12.4-41.9-4.3-13.2-6.4-.5V42h38.3v15.8l-6.8.7 17.2 55 13.2-52.7-9.2-3V42h33v15.8l-7.3 2.5-23.4 86h-19.8l-16.4-51.7zM1232.7 136.7l-2.3 8.6h-12.2v-34h13.7c4 16.8 13.5 21.5 22.8 21.5 10.1 0 15.8-4.1 15.8-12.7 0-7.8-8.6-11.2-23.6-16.3-16.5-5.4-28.9-13.9-28.9-32.4 0-20.3 16-31 32.5-31 9.1 0 18.3 3.5 23.1 9.1l2.1-7.4h12.1v29.2h-13.2c-2.5-10.6-10.7-16.3-21.1-16.3-7.6 0-13 3.5-13 10.1 0 8.9 9.1 11.6 22.1 15.8 17.2 5.9 31.7 12.9 31.7 32.7 0 22.3-18.3 34-35.5 34-10.1-.2-19.7-3.6-26.1-10.9z"/></g></svg>'%></code></pre>

    <h5 class="mt4 mb1">BuzzFeed News, White Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1326.2 150.1"><g fill="#FFF"><path d="M0 147.3V0h65.7c28 0 42.4 17.9 42.4 37.5 0 18.3-11.5 30.9-25.4 33.8 15.9 2.4 28.3 17.7 28.3 36 0 22.3-14.6 40-42.8 40H0zM76.1 43.1c0-9.1-6.6-15.5-17.2-15.5H31.4v30.9h27.5c10.6 0 17.2-5.9 17.2-15.4zm2.9 59.8c0-9.3-6.6-16.8-18.8-16.8H31.4v33.6h28.9c11.6 0 18.7-6.2 18.7-16.8zM122.6 104.6v-64h28.2v63.1c0 12.7 7.7 21.9 22.7 21.9 14.8 0 22.6-9.2 22.6-21.9V40.6h28.1v63.9c0 26.8-16.1 45.6-50.6 45.6s-51-19-51-45.5zM236.5 147.3v-21l48.1-61.2h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM335.9 147.3v-21L384 65.1h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM436.6 147.3V0h102.2v27.6H468v30.9h53.3v27.6H468v61.2h-31.4zM532.2 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM587.4 61c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM651.4 93.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM706.6 61c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.2-8-22.7-26.5-22.7zM773.3 147.5V40.4h43c33.7 0 58 20.2 58 53.5 0 33.2-24.2 53.6-57.8 53.6h-43.2zM847 93.9c0-16.6-10-30.4-29.6-30.4H800v60.9h17.4c18.7 0 29.6-14.6 29.6-30.5zM897.3 130.1l9.4-1V58.6l-9.4-.8V42h36.1L971 98.5v-39l-10.4-1.6V42h35.2v15.8l-7.9 1.6v85.8h-15.2l-49.4-74.1V128l15.5 2.1v15.2h-41.6v-15.2zM1076.9 61.4c-1.7-4.5-3.5-4.8-8.6-4.8h-24.6v29.9h8.1c3.6 0 5.4-1.2 6.1-4l2.6-9.7h9.2v39.3h-9.4l-2.8-10.1c-1-3.3-2.6-4-6.3-4h-7.6v31.9h25.9c7.8 0 8.7-.7 10.7-5.6l6.6-17.2h11.1v38.1h-89.1V130l9.7-1.3V58.6l-9.7-.8V42h84.2v34.7h-10.2l-5.9-15.3zM1175.5 94.6l-16.2 51.7h-20.5l-26.1-88-6.9-.5V42h41.1v15.8l-7.9.7 16 55 12.4-41.9-4.3-13.2-6.4-.5V42h38.3v15.8l-6.8.7 17.2 55 13.2-52.7-9.2-3V42h33v15.8l-7.3 2.5-23.4 86h-19.8l-16.4-51.7zM1264.7 136.7l-2.3 8.6h-12.2v-34h13.7c4 16.8 13.5 21.5 22.8 21.5 10.1 0 15.8-4.1 15.8-12.7 0-7.8-8.6-11.2-23.6-16.3-16.5-5.4-28.9-13.9-28.9-32.4 0-20.3 16-31 32.5-31 9.1 0 18.3 3.5 23.1 9.1l2.1-7.4h12.1v29.2h-13.2c-2.5-10.6-10.7-16.3-21.1-16.3-7.6 0-13 3.5-13 10.1 0 8.9 9.1 11.6 22.1 15.8 17.2 5.9 31.7 12.9 31.7 32.7 0 22.3-18.3 34-35.5 34-10.1-.2-19.7-3.6-26.1-10.9z"/></g></svg>'%></code></pre>
  </section>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed Life</h3>

    <div class="md-inline-block p2 md-mr2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-life-full.svg" width="300" />
    </div>

    <div class="md-inline-block fill-blue p2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-life-full-inverted.svg" width="300" />
    </div>

    <h5 class="mt4 mb1">BuzzFeed Life, Red &amp; Blue Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1282.7 218.7"><g fill="#E32"><path d="M0 159.7V12.4h65.7c28 0 42.4 17.9 42.4 37.5 0 18.3-11.5 30.9-25.4 33.8 15.9 2.4 28.3 17.7 28.3 36 0 22.3-14.6 40-42.8 40H0zM76.1 55.4c0-9.1-6.6-15.5-17.2-15.5H31.4v30.9h27.5c10.6.1 17.2-5.9 17.2-15.4zm2.9 59.9c0-9.3-6.6-16.8-18.8-16.8H31.4v33.6h28.9c11.6 0 18.7-6.2 18.7-16.8zM119.6 117V53h28.2v63c0 12.7 7.7 21.9 22.7 21.9 14.8 0 22.6-9.2 22.6-21.9V53h28.1v63.9c0 26.8-16.1 45.6-50.6 45.6s-51-19-51-45.5zM230.5 159.7v-21l48.1-61.2h-48.1V53h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM326.9 159.7v-21L375 77.5h-48.1V53h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM424.6 159.7V12.4h102.2V40H456v30.9h53.3v27.6H456v61.2h-31.4zM517.2 106.2c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zm55.2-32.9c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.1-8-22.7-26.5-22.7zM633.4 106.2c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zm55.2-32.9c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.1-8-22.7-26.5-22.7zM752.3 159.9V52.7h43c33.7 0 58 20.2 58 53.5 0 33.2-24.2 53.6-57.8 53.6h-43.2zm73.7-53.7c0-16.6-10-30.4-29.6-30.4H779v60.9h17.4c18.7 0 29.6-14.6 29.6-30.5z"/></g><g fill="#2B8EE5" fill-rule="evenodd" clip-rule="evenodd"><path d="M1181 122.2c6 19.6 17.6 34.7 46.5 35.3 31.2.6 44-16.2 53.1-30.5 1.5-2.3 3.6-8.1.6-9.5-4.9-2.5-12-.1-17 6.2-6.5 8.1-17.3 17.9-35.7 18.1-23 .3-23.6-18.5-23.6-18.5 7.3.9 20.5 2 35.9-5.1 15.4-7.1 24.4-20.4 22.6-36.3-1.7-14.9-14.9-24.8-36.4-22.6-31.5 3.2-41.4 25.9-45.4 44.9-1.1 5.2-34.8-.1-34-.9 9.4-9.6 44.8-50.4 43.1-78.3-.4-6-3.2-24.9-22.2-24.9-38.4 0-52.6 100.6-52.6 100.6-1.5 2.6-20 30.8-34 30.8-15.4 0-10.5-30.9-5.5-48.2 3.1-10.7 8.5-23.3 7.7-24-.5-.4-5.3-.7-10.1-.6-4.1.1-8.7.6-9.5 1.1-.3.2-8.5 25.8-11.5 31.9-3.3 6.8-15.1 39.4-50 44.9-24.4 3.8-37-9.5-41.9-14.4 4.5-9.2 10.1-21.9 13.2-30.5 24.6.3 42-5.6 57.5-18.8 14-11.9 17.9-26.7 18.6-40.2 1.1-21.9-14-31.9-28-32.5-16.1-.7-28.7 6.3-38.1 17.7-10.8 13.1-16 26.2-25.7 52.9-6.8-.8-13.7-3.3-17.9-10.3-7.3-12.2 5.1-28.5 5.1-28.5l-15.3-9.3s-19 23.6-9.3 42.9c5.7 11.3 15.4 18.2 30.4 22.4-2.3 6.6-6 15.1-9.5 21.9-4-2.1-16.5-9.4-26.2-9.4-20.4 0-29.8 16.8-29.8 29.5 0 11.8 8.3 27.4 31.3 27.4 12.5 0 23.5-9 30.8-16.2 13.9 9.4 27.3 16.5 50 16.5 31.4 0 50.2-20.3 53.4-26.1.4 6.2 4.9 26.1 24.4 26.1 17.4 0 24-9.5 24-9.5s-4.1 16-3.7 29c.6 17.8 10.6 42.5 36.6 41.6 9.5-.3 24.5-5 31-22.5 3.4-9.1 4.5-23 1.6-37.6-5.3-26.4-18.7-35.9-16.4-36.8 5.5-2.1 24.1-.4 31.9.3m60.6-29.6c-6.6 13.9-25.8 15.8-37.2 13.6 1.5-8.4 6.1-29 24.9-30.2 12.9-.9 14.8 11.5 12.3 16.6m-109.2 3.1s6.4-33.7 16.1-54.2c5.2-10.9 12.1-22.6 18.8-22.6 5.4 0 7.7 6 6.4 13.3-3 17.1-33.9 60.8-41.3 63.5m-9.8 102.5c-4.8-4.2-8.8-12.2-8.3-24.5.7-16.3 7.1-34.5 13.9-47.8 8.9 6.8 15.5 16.2 18.5 24.4 4.5 12.5 6.5 23.6 2.8 37.5-3.6 13.6-17.9 18.4-26.9 10.4m-202.7-59.8c-9 .8-14.5-5-14.5-11.2 0-6.2 3.7-11.9 13.1-10.1 8.3 1.6 12.8 7.6 15.1 11.1-2.6 5-7.4 9.6-13.7 10.2m100.6-116.9c5.8-.2 9.9 5.6 9.9 12.7s-1.5 15-12.7 24.9c-7 6.1-22.7 11.2-35.8 12.4 7.1-17.1 12.9-31.4 20.1-40 5.9-6.9 12.8-9.8 18.5-10M1091.8 39.8c0 8.2-6.6 14.8-14.8 14.8-8.2 0-14.8-6.6-14.8-14.8 0-8.2 6.6-14.8 14.8-14.8 8.2 0 14.8 6.6 14.8 14.8"/></g></svg>'%></code></pre>

    <h5 class="mt4 mb1">BuzzFeed Life, White Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1307.2 218.7"><g fill="#FFF"><path d="M0 157.3V10h65.7c28 0 42.4 17.9 42.4 37.5 0 18.3-11.5 30.9-25.4 33.8 15.9 2.4 28.3 17.7 28.3 36 0 22.3-14.6 40-42.8 40H0zM76.1 53.1c0-9.1-6.6-15.5-17.2-15.5H31.4v30.9h27.5c10.6 0 17.2-5.9 17.2-15.4zm2.9 59.8c0-9.3-6.6-16.8-18.8-16.8H31.4v33.6h28.9c11.6 0 18.7-6.2 18.7-16.8zM122.6 114.7v-64h28.2v63.1c0 12.7 7.7 21.9 22.7 21.9 14.8 0 22.6-9.2 22.6-21.9V50.7h28.1v63.9c0 26.8-16.1 45.6-50.6 45.6-34.5-.1-51-19.1-51-45.5zM236.5 157.3v-21l48.1-61.2h-48.1V50.7h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM335.9 157.3v-21L384 75.2h-48.1V50.7h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM436.6 157.3V10h102.2v27.6H468v30.9h53.3v27.6H468v61.2h-31.4zM532.2 103.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM587.4 71c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.1-8-22.7-26.5-22.7zM651.4 103.9c0-30.9 23-55.9 55.2-55.9 32 0 53.4 23.9 53.4 58.5v6.6h-79.3c2 13 12.6 23.9 30.7 23.9 9.1 0 21.4-3.8 28.3-10.4l12.6 18.6c-10.6 9.7-27.4 14.8-43.9 14.8-32.5 0-57-21.9-57-56.1zM706.6 71c-17.4 0-25 12.1-26.1 22.7h52.6c-.9-10.1-8-22.7-26.5-22.7zM773.3 157.5V50.4h43c33.7 0 58 20.2 58 53.5 0 33.2-24.2 53.6-57.8 53.6h-43.2zm73.7-53.6c0-16.6-10-30.4-29.6-30.4H800v60.9h17.4c18.7 0 29.6-14.6 29.6-30.5z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M1205.5 122.2c6 19.6 17.6 34.7 46.5 35.3 31.2.6 44-16.2 53.1-30.5 1.5-2.3 3.6-8.1.6-9.5-4.9-2.5-12-.1-17 6.2-6.5 8.1-17.3 17.9-35.7 18.1-23 .3-23.6-18.5-23.6-18.5 7.3.9 20.5 2 35.9-5.1 15.4-7.1 24.4-20.4 22.6-36.3-1.7-14.9-14.9-24.8-36.4-22.6-31.5 3.2-41.4 25.9-45.4 44.9-1.1 5.2-34.8-.1-34-.9 9.4-9.6 44.8-50.4 43.1-78.3-.4-6-3.2-24.9-22.2-24.9-38.4 0-52.6 100.6-52.6 100.6-1.5 2.6-20 30.8-34 30.8-15.4 0-10.5-30.9-5.5-48.2 3.1-10.7 8.5-23.3 7.7-24-.5-.4-5.3-.7-10.1-.6-4.1.1-8.7.6-9.5 1.1-.3.2-8.5 25.8-11.5 31.9-3.3 6.8-15.1 39.4-50 44.9-24.4 3.8-37-9.5-41.9-14.4 4.5-9.2 10.1-21.9 13.2-30.5 24.6.3 42-5.6 57.5-18.8 14-11.9 17.9-26.7 18.6-40.2 1.1-21.9-14-31.9-28-32.5-16.1-.7-28.7 6.3-38.1 17.7-10.8 13.1-16 26.2-25.7 52.9-6.8-.8-13.7-3.3-17.9-10.3-7.3-12.2 5.1-28.5 5.1-28.5L955 22.7s-19 23.6-9.3 42.9c5.7 11.3 15.4 18.2 30.4 22.4-2.3 6.6-6 15.1-9.5 21.9-4-2.1-16.5-9.4-26.2-9.4-20.4 0-29.8 16.8-29.8 29.5 0 11.8 8.3 27.4 31.3 27.4 12.5 0 23.5-9 30.8-16.2 13.9 9.4 27.3 16.5 50 16.5 31.4 0 50.2-20.3 53.4-26.1.4 6.2 4.9 26.1 24.4 26.1 17.4 0 24-9.5 24-9.5s-4.1 16-3.7 29c.6 17.8 10.6 42.5 36.6 41.6 9.5-.3 24.5-5 31-22.5 3.4-9.1 4.5-23 1.6-37.6-5.3-26.4-18.7-35.9-16.4-36.8 5.5-2.1 24.1-.4 31.9.3m60.6-29.6c-6.6 13.9-25.8 15.8-37.2 13.6 1.5-8.4 6.1-29 24.9-30.2 12.8-.9 14.7 11.5 12.3 16.6m-109.2 3.1s6.4-33.7 16.1-54.2c5.2-10.9 12.1-22.6 18.8-22.6 5.4 0 7.7 6 6.4 13.3-3.1 17.1-33.9 60.8-41.3 63.5m-9.8 102.5c-4.8-4.2-8.8-12.2-8.3-24.5.7-16.3 7.1-34.5 13.9-47.8 8.9 6.8 15.5 16.2 18.5 24.4 4.5 12.5 6.5 23.6 2.8 37.5-3.7 13.6-17.9 18.4-26.9 10.4m-202.7-59.8c-9 .8-14.5-5-14.5-11.2 0-6.2 3.7-11.9 13.1-10.1 8.3 1.6 12.8 7.6 15.1 11.1-2.6 5-7.4 9.6-13.7 10.2M1045 21.5c5.8-.2 9.9 5.6 9.9 12.7s-1.5 15-12.7 24.9c-7 6.1-22.7 11.2-35.8 12.4 7.1-17.1 12.9-31.4 20.1-40 5.8-6.9 12.7-9.8 18.5-10M1116.3 39.8c0 8.2-6.6 14.8-14.8 14.8-8.2 0-14.8-6.6-14.8-14.8 0-8.2 6.6-14.8 14.8-14.8 8.1 0 14.8 6.6 14.8 14.8"/></g></svg>'%></code></pre>
  </section>

</section>

<section class="mb4 pb4 border-bottom">

  <h2 class="bold mb1">Half Logos</h2>

  <p class="mb4">For smaller spaces, use our abbreviated logos. They may appear with or without the viral arrow. Once again, when using on dark backgrounds, <span class="text-red">do not invert the full color version.</span></p>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed</h3>

    <div class="sm-inline-block p2 md-mr2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-half.svg" width="120" />
    </div>

    <div class="sm-inline-block fill-red p2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-half-inverted.svg" width="120" />
    </div>

    <h5 class="mt4 mb1">BuzzFeed, Half, Red Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 414.1 150.1"><g fill="#E32"><path d="M0 147.3V0h65.7c28 0 42.4 17.9 42.4 37.5 0 18.3-11.5 30.9-25.4 33.8 15.9 2.4 28.3 17.7 28.3 36 0 22.3-14.6 40-42.8 40H0zM76.1 43.1c0-9.1-6.6-15.5-17.2-15.5H31.4v30.9h27.5c10.6 0 17.2-5.9 17.2-15.4zm2.9 59.8c0-9.3-6.6-16.8-18.8-16.8H31.4v33.6h28.9c11.6 0 18.7-6.2 18.7-16.8zM119.6 104.6v-64h28.2v63.1c0 12.7 7.7 21.9 22.7 21.9 14.8 0 22.6-9.2 22.6-21.9V40.6h28.1v63.9c0 26.8-16.1 45.6-50.6 45.6s-51-19-51-45.5zM230.5 147.3v-21l48.1-61.2h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM326.9 147.3v-21L375 65.1h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2z"/></g></svg>'%></code></pre>

    <h5 class="mt4 mb1">BuzzFeed, Half, White Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 423.1 150.1"><g fill="#FFF"><path d="M0 147.3V0h65.7c28 0 42.4 17.9 42.4 37.5 0 18.3-11.5 30.9-25.4 33.8 15.9 2.4 28.3 17.7 28.3 36 0 22.3-14.6 40-42.8 40H0zM76.1 43.1c0-9.1-6.6-15.5-17.2-15.5H31.4v30.9h27.5c10.6 0 17.2-5.9 17.2-15.4zm2.9 59.8c0-9.3-6.6-16.8-18.8-16.8H31.4v33.6h28.9c11.6 0 18.7-6.2 18.7-16.8zM122.6 104.6v-64h28.2v63.1c0 12.7 7.7 21.9 22.7 21.9 14.8 0 22.6-9.2 22.6-21.9V40.6h28.1v63.9c0 26.8-16.1 45.6-50.6 45.6s-51-19-51-45.5zM236.5 147.3v-21l48.1-61.2h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2zM335.9 147.3v-21L384 65.1h-48.1V40.6h86.3v20.1l-49 62.1h49.9v24.5h-87.2z"/></g></svg>'%></code></pre>
  </section>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed News</h3>

    <div class="sm-inline-block p2 md-mr2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-half.svg" width="150" />
    </div>

    <div class="sm-inline-block fill-gray--darker p2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-half-inverted.svg" width="150" />
    </div>

    <h5 class="mt4 mb1">BuzzFeed News, Half, Black Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 422.9 107.1"><g fill="#222"><path d="M0 89.8l9.4-1V18.3L0 17.5V1.7h36.1l37.6 56.5v-39l-10.4-1.6V1.7h35.2v15.8l-7.9 1.6V105H75.4L26.1 30.9v56.8l15.5 2.1V105H0V89.8zM177.6 21.1c-1.7-4.5-3.5-4.8-8.6-4.8h-24.6v29.9h8.1c3.6 0 5.4-1.2 6.1-4l2.6-9.7h9.2v39.3H161l-2.8-10.1c-1-3.3-2.6-4-6.3-4h-7.6v31.9h25.9c7.8 0 8.7-.7 10.7-5.6l6.6-17.2h11.1V105h-89.1V89.8l9.7-1.3V18.3l-9.7-.8V1.7h84.2v34.7h-10.2l-5.9-15.3zM274.2 54.3L258 106h-20.5l-26.1-88-6.9-.5V1.7h41.1v15.8l-7.9.7 16 55 12.4-41.9-4.3-13.3-6.4-.5V1.7h38.3v15.8l-6.8.7 17.2 55 13.2-52.7-9.2-3V1.7h33v15.8l-7.3 2.5-23.4 86h-19.8l-16.4-51.7zM361.4 96.4l-2.3 8.6h-12.2V71h13.7c4 16.8 13.5 21.5 22.8 21.5 10.1 0 15.8-4.1 15.8-12.7 0-7.8-8.6-11.2-23.6-16.3-16.5-5.4-28.9-13.9-28.9-32.4 0-20.3 16-31 32.5-31 9.1 0 18.3 3.5 23.1 9.1l2.1-7.4h12.1V31h-13.2c-2.5-10.6-10.7-16.3-21.1-16.3-7.6 0-13 3.5-13 10.1 0 8.9 9.1 11.6 22.1 15.8 17.2 5.9 31.7 12.9 31.7 32.7 0 22.3-18.3 34-35.5 34-10.1-.2-19.7-3.6-26.1-10.9z"/></g></svg>'%></code></pre>

    <h5 class="mt4 mb1">BuzzFeed News, Half, White Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.9 107.1"><g fill="#FFF"><path d="M0 89.8l9.4-1V18.3L0 17.5V1.7h36.1l37.6 56.5v-39l-10.4-1.6V1.7h35.2v15.8l-7.9 1.6V105H75.4L26.1 30.9v56.8l15.5 2.1V105H0V89.8zM179.6 21.1c-1.7-4.5-3.5-4.8-8.6-4.8h-24.6v29.9h8.1c3.6 0 5.4-1.2 6.1-4l2.6-9.7h9.2v39.3H163l-2.8-10.1c-1-3.3-2.6-4-6.3-4h-7.6v31.9h25.9c7.8 0 8.7-.7 10.7-5.6l6.6-17.2h11.1V105h-89.1V89.8l9.7-1.3V18.3l-9.7-.8V1.7h84.2v34.7h-10.2l-5.9-15.3zM278.2 54.3L262 106h-20.5l-26.1-88-6.9-.5V1.7h41.1v15.8l-7.9.7 16 55 12.4-41.9-4.3-13.3-6.4-.5V1.7h38.3v15.8l-6.8.7 17.2 55 13.2-52.7-9.2-3V1.7h33v15.8l-7.3 2.5-23.4 86h-19.8l-16.4-51.7zM367.4 96.4l-2.3 8.6h-12.2V71h13.7c4 16.8 13.5 21.5 22.8 21.5 10.1 0 15.8-4.1 15.8-12.7 0-7.8-8.6-11.2-23.6-16.3-16.5-5.4-28.9-13.9-28.9-32.4 0-20.3 16-31 32.5-31 9.1 0 18.3 3.5 23.1 9.1l2.1-7.4h12.1V31h-13.2c-2.5-10.6-10.7-16.3-21.1-16.3-7.6 0-13 3.5-13 10.1 0 8.9 9.1 11.6 22.1 15.8 17.2 5.9 31.7 12.9 31.7 32.7 0 22.3-18.3 34-35.5 34-10.1-.2-19.7-3.6-26.1-10.9z"/></g></svg>'%></code></pre>
  </section>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed Life</h3>

    <div class="sm-inline-block p2 md-mr2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-life-half.svg" width="120" />
    </div>

    <div class="sm-inline-block fill-blue p2 text-center line-height-0">
      <img src="/images/logos/svgs/buzzfeed-life-half-inverted.svg" width="120" />
    </div>

    <h5 class="mt4 mb1">BuzzFeed Life, Half, Blue Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 396.6 218.7"><g fill="#2B8EE5" fill-rule="evenodd" clip-rule="evenodd"><path d="M295 122.2c6 19.6 17.6 34.7 46.5 35.3 31.2.6 44-16.2 53.1-30.5 1.5-2.3 3.6-8.1.6-9.5-4.9-2.5-12-.1-17 6.2-6.5 8.1-17.3 17.9-35.7 18.1-23 .3-23.6-18.5-23.6-18.5 7.3.9 20.5 2 35.9-5.1 15.4-7.1 24.4-20.4 22.6-36.3-1.7-14.9-14.9-24.8-36.4-22.6-31.5 3.2-41.4 25.9-45.4 44.9-1.1 5.2-34.8-.1-34-.9 9.4-9.6 44.8-50.4 43.1-78.3-.4-6-3.2-24.9-22.2-24.9-38.4 0-52.6 100.6-52.6 100.6-1.5 2.6-20 30.8-34 30.8-15.4 0-10.5-30.9-5.5-48.2 3.1-10.7 8.5-23.3 7.7-24-.5-.4-5.3-.7-10.1-.6-4.1.1-8.7.6-9.5 1.1-.3.2-8.5 25.8-11.5 31.9-3.3 6.8-15.1 39.4-50 44.9-24.4 3.8-37-9.5-41.9-14.4 4.5-9.2 10.1-21.9 13.2-30.5 24.6.3 42-5.6 57.5-18.8 14-11.9 17.9-26.7 18.6-40.2 1.1-21.9-14-31.9-28-32.5-16.1-.7-28.7 6.3-38.1 17.7-11 13-16.2 26.1-25.9 52.8-6.8-.8-13.7-3.3-17.9-10.3-7.3-12.2 5.1-28.5 5.1-28.5l-15.3-9.3s-19 23.6-9.3 42.9c5.7 11.3 15.4 18.2 30.4 22.4-2.3 6.6-6 15.1-9.5 21.9-4-2.1-16.5-9.4-26.2-9.4C9.4 100.4 0 117.2 0 129.9c0 11.8 8.3 27.4 31.3 27.4 12.5 0 23.5-9 30.8-16.2 13.9 9.4 27.3 16.5 50 16.5 31.4 0 50.2-20.3 53.4-26.1.4 6.2 4.9 26.1 24.4 26.1 17.4 0 24-9.5 24-9.5s-4.1 16-3.7 29c.6 17.8 10.6 42.5 36.6 41.6 9.5-.3 24.5-5 31-22.5 3.4-9.1 4.5-23 1.6-37.6-5.3-26.4-18.7-35.9-16.4-36.8 5.6-2 24.2-.3 32 .4m60.6-29.6c-6.6 13.9-25.8 15.8-37.2 13.6 1.5-8.4 6.1-29 24.9-30.2 12.8-.9 14.7 11.5 12.3 16.6m-109.2 3.1s6.4-33.7 16.1-54.2c5.2-10.9 12.1-22.6 18.8-22.6 5.4 0 7.7 6 6.4 13.3-3.1 17.1-33.9 60.8-41.3 63.5m-9.8 102.5c-4.8-4.2-8.8-12.2-8.3-24.5.7-16.3 7.1-34.5 13.9-47.8 8.9 6.8 15.5 16.2 18.5 24.4 4.5 12.5 6.5 23.6 2.8 37.5-3.7 13.6-17.9 18.4-26.9 10.4M33.9 138.4c-9 .8-14.5-5-14.5-11.2 0-6.2 3.7-11.9 13.1-10.1 8.3 1.6 12.8 7.6 15.1 11.1-2.7 5-7.4 9.6-13.7 10.2M134.5 21.5c5.8-.2 9.9 5.6 9.9 12.7s-1.5 15-12.7 24.9c-7 6.1-22.7 11.2-35.8 12.4 7.1-17.1 12.9-31.4 20.1-40 5.8-6.9 12.7-9.8 18.5-10M205.8 39.8c0 8.2-6.6 14.8-14.8 14.8-8.2 0-14.8-6.6-14.8-14.8 0-8.2 6.6-14.8 14.8-14.8 8.1 0 14.8 6.6 14.8 14.8"/></g></svg>'%></code></pre>

    <h5 class="mt4 mb1">BuzzFeed Life, Half, White Text</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 396.6 218.7"><g fill="#FFF" fill-rule="evenodd" clip-rule="evenodd"><path d="M295 122.2c6 19.6 17.6 34.7 46.5 35.3 31.2.6 44-16.2 53.1-30.5 1.5-2.3 3.6-8.1.6-9.5-4.9-2.5-12-.1-17 6.2-6.5 8.1-17.3 17.9-35.7 18.1-23 .3-23.6-18.5-23.6-18.5 7.3.9 20.5 2 35.9-5.1 15.4-7.1 24.4-20.4 22.6-36.3-1.7-14.9-14.9-24.8-36.4-22.6-31.5 3.2-41.4 25.9-45.4 44.9-1.1 5.2-34.8-.1-34-.9 9.4-9.6 44.8-50.4 43.1-78.3-.4-6-3.2-24.9-22.2-24.9-38.4 0-52.6 100.6-52.6 100.6-1.5 2.6-20 30.8-34 30.8-15.4 0-10.5-30.9-5.5-48.2 3.1-10.7 8.5-23.3 7.7-24-.5-.4-5.3-.7-10.1-.6-4.1.1-8.7.6-9.5 1.1-.3.2-8.5 25.8-11.5 31.9-3.3 6.8-15.1 39.4-50 44.9-24.4 3.8-37-9.5-41.9-14.4 4.5-9.2 10.1-21.9 13.2-30.5 24.6.3 42-5.6 57.5-18.8 14-11.9 17.9-26.7 18.6-40.2 1.1-21.9-14-31.9-28-32.5-16.1-.7-28.7 6.3-38.1 17.7-11 13-16.2 26.1-25.9 52.8-6.8-.8-13.7-3.3-17.9-10.3-7.3-12.2 5.1-28.5 5.1-28.5l-15.3-9.3s-19 23.6-9.3 42.9c5.7 11.3 15.4 18.2 30.4 22.4-2.3 6.6-6 15.1-9.5 21.9-4-2.1-16.5-9.4-26.2-9.4C9.4 100.4 0 117.2 0 129.9c0 11.8 8.3 27.4 31.3 27.4 12.5 0 23.5-9 30.8-16.2 13.9 9.4 27.3 16.5 50 16.5 31.4 0 50.2-20.3 53.4-26.1.4 6.2 4.9 26.1 24.4 26.1 17.4 0 24-9.5 24-9.5s-4.1 16-3.7 29c.6 17.8 10.6 42.5 36.6 41.6 9.5-.3 24.5-5 31-22.5 3.4-9.1 4.5-23 1.6-37.6-5.3-26.4-18.7-35.9-16.4-36.8 5.6-2 24.2-.3 32 .4m60.6-29.6c-6.6 13.9-25.8 15.8-37.2 13.6 1.5-8.4 6.1-29 24.9-30.2 12.8-.9 14.7 11.5 12.3 16.6m-109.2 3.1s6.4-33.7 16.1-54.2c5.2-10.9 12.1-22.6 18.8-22.6 5.4 0 7.7 6 6.4 13.3-3.1 17.1-33.9 60.8-41.3 63.5m-9.8 102.5c-4.8-4.2-8.8-12.2-8.3-24.5.7-16.3 7.1-34.5 13.9-47.8 8.9 6.8 15.5 16.2 18.5 24.4 4.5 12.5 6.5 23.6 2.8 37.5-3.7 13.6-17.9 18.4-26.9 10.4M33.9 138.4c-9 .8-14.5-5-14.5-11.2 0-6.2 3.7-11.9 13.1-10.1 8.3 1.6 12.8 7.6 15.1 11.1-2.7 5-7.4 9.6-13.7 10.2M134.5 21.5c5.8-.2 9.9 5.6 9.9 12.7s-1.5 15-12.7 24.9c-7 6.1-22.7 11.2-35.8 12.4 7.1-17.1 12.9-31.4 20.1-40 5.8-6.9 12.7-9.8 18.5-10M205.8 39.8c0 8.2-6.6 14.8-14.8 14.8-8.2 0-14.8-6.6-14.8-14.8 0-8.2 6.6-14.8 14.8-14.8 8.1 0 14.8 6.6 14.8 14.8"/></g></svg>'%></code></pre>
  </section>

</section>

<section class="mb4 pb4">

  <h2 class="bold mb1">Viral Arrows</h2>

  <p class="mb4">For simple marks to denote BuzzFeed and BuzzFeed News content, use these icons. Always include the circle, even when on black. The only exception is for our App Store iconography.</p>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed</h3>

    <div class="inline-block p2 mr2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-arrow.svg" width="75" />
    </div>

    <div class="inline-block fill-red p2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-arrow-inverted.svg" width="75" />
    </div>

    <h5 class="mt4 mb1">BuzzFeed Arrow</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127 127"><circle fill="#E32" stroke="#E32" stroke-width="2" stroke-miterlimit="10" cx="63.5" cy="63.5" r="62.5"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M96.8 62.3L92.6 33 65.1 44.1 76 50.4 65.7 68.2 47.8 57.9 30.2 88.4l9.9 5.6L52 73.4l17.8 10.3 16-27.7"/></svg>'%></code></pre>

    <h5 class="mt4 mb1">BuzzFeed Arrow, White Border</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127 127"><circle fill="#E32" stroke="#FFF" stroke-width="2" stroke-miterlimit="10" cx="63.5" cy="63.5" r="62.5"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M96.8 62.3L92.6 33 65.1 44.1 76 50.4 65.7 68.2 47.8 57.9 30.2 88.4l9.9 5.6L52 73.4l17.8 10.3 16-27.7"/></svg>'%></code></pre>
  </section>

  <section class="mb4">
    <h3 class="mb1 bold">BuzzFeed News</h3>

    <div class="inline-block p2 mr2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-arrow.svg" width="75" />
    </div>

    <div class="inline-block fill-gray--darker p2 line-height-0">
      <img src="/images/logos/svgs/buzzfeed-news-arrow-inverted.svg" width="75" />
    </div>

    <h5 class="mt4 mb1">BuzzFeed News Arrow</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127 127"><circle fill="#222" stroke="#222" stroke-width="2" stroke-miterlimit="10" cx="63.5" cy="63.5" r="62.5"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M96.8 62.3L92.6 33 65.1 44.1 76 50.4 65.7 68.2 47.8 57.9 30.2 88.4l9.9 5.6L52 73.4l17.8 10.3 16-27.7"/></svg>'%></code></pre>

    <h5 class="mt4 mb1">BuzzFeed News Arrow, White Border</h5>

    <pre><code class="html" style="white-space:nowrap;"><%='<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127 127"><circle fill="#222" stroke="#FFF" stroke-width="2" stroke-miterlimit="10" cx="63.5" cy="63.5" r="62.5"/><path fill-rule="evenodd" clip-rule="evenodd" fill="#FFF" d="M96.8 62.3L92.6 33 65.1 44.1 76 50.4 65.7 68.2 47.8 57.9 30.2 88.4l9.9 5.6L52 73.4l17.8 10.3 16-27.7"/></svg>'%></code></pre>
  </section>

</section>
