<div class="mb4 pb2">

  <h2 class="bold mb1">The Basic Block Grid</h2>

  <p class="mb2">The block grid is useful when you have a variable number of alike items that you need to present in a grid of various row lengths. The grid blocks are aligned vertically to the top of their rows. To achieve the layout, you use a <code class="js-highlight">block-grid block-grid-n</code> wrapper (n goes from 1-6), and then give each inner block a class of <code class="js-highlight">block-grid-item</code>. Here's an example.</p>

  <ul class="block-grid block-grid-3 mb4">

    <li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/22/13/campaign_images/webdr02/can-we-guess-your-age-based-on-the-words-you-use-2-22032-1434994389-8_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">Can We Guess Your Age Based On The Words You Use?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li><!--
    --><li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/8/11/campaign_images/webdr06/what-type-of-man-should-you-marry-2-12561-1436368362-4_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">What Type of Man Should You Marry?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li><!--
    --><li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/22/13/campaign_images/webdr02/can-we-guess-your-age-based-on-the-words-you-use-2-22032-1434994389-8_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">Can We Guess Your Age Based On The Words You Use?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li><!--
    --><li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/8/11/campaign_images/webdr06/what-type-of-man-should-you-marry-2-12561-1436368362-4_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">What Type of Man Should You Marry?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li><!--
    --><li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/22/13/campaign_images/webdr02/can-we-guess-your-age-based-on-the-words-you-use-2-22032-1434994389-8_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">Can We Guess Your Age Based On The Words You Use?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li><!--
    --><li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/8/11/campaign_images/webdr06/what-type-of-man-should-you-marry-2-12561-1436368362-4_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">What Type of Man Should You Marry?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li>
  </ul>

  <p class="mb2">And the code:</p>

  <div class="mb4 pb4">

<pre><code class="html"><%='<div class="block-grid block-grid-3">'%>
  <%='<div class="block-grid-item">Content goes here.</div>'%>
  <%='<div class="block-grid-item">Content goes here.</div>'%>
  <%='<div class="block-grid-item">Content goes here.</div>'%>
<%='</div>'%></code></pre>

  </div>

  <h2 class="bold mb1">Responsive Block Grid</h2>

  <p class="mb2">You can make the block grid responsive by simply adding our responsive breakpoint prepends to the <code class="js-highlight">block-grid-n</code> class. So, for instance, if you wanted your grid to be four across at large, three across at medium and two across the rest of the way to mobile, you'd give your block grid container classes of <code class="js-highlight">block-grid xs-block-grid-2 md-block-grid-3 lg-block-grid-4</code>. With a result of:</p>

  <ul class="block-grid xs-block-grid-2 md-block-grid-3 lg-block-grid-4 mb4">

    <li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/22/13/campaign_images/webdr02/can-we-guess-your-age-based-on-the-words-you-use-2-22032-1434994389-8_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">Can We Guess Your Age Based On The Words You Use?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li><!--
    --><li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/8/11/campaign_images/webdr06/what-type-of-man-should-you-marry-2-12561-1436368362-4_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">What Type of Man Should You Marry?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li><!--
    --><li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/22/13/campaign_images/webdr02/can-we-guess-your-age-based-on-the-words-you-use-2-22032-1434994389-8_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">Can We Guess Your Age Based On The Words You Use?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li><!--
    --><li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/8/11/campaign_images/webdr06/what-type-of-man-should-you-marry-2-12561-1436368362-4_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">What Type of Man Should You Marry?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li><!--
    --><li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/22/13/campaign_images/webdr02/can-we-guess-your-age-based-on-the-words-you-use-2-22032-1434994389-8_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">Can We Guess Your Age Based On The Words You Use?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li><!--
    --><li class="block-grid-item">
      <div class="fill-white border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/8/11/campaign_images/webdr06/what-type-of-man-should-you-marry-2-12561-1436368362-4_wide.jpg">
        <div class="p1">
          <h5 class="bold mb1">What Type of Man Should You Marry?</h5>
          <p class="type-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li>
  </ul>

  <p class="mb2">And the code:</p>

  <div class="mb4 pb4">

<pre><code class="html"><%='<div class="block-grid xs-block-grid-2 md-block-grid-3 lg-block-grid-4">'%>
  <%='<div class="block-grid-item">Content goes here.</div>'%>
  <%='<div class="block-grid-item">Content goes here.</div>'%>
  <%='<div class="block-grid-item">Content goes here.</div>'%>
<%='</div>'%></code></pre>

  </div>

</div>
