<div class="xs-mb4 xs-pb2">

  <h2 class="bold xs-mb1">The Basic xs-block Grid</h2>

  <p class="xs-mb2">The xs-block grid is useful when you have a variable number of alike items that you need to present in a grid of various row lengths. The grid xs-blocks are aligned vertically to the top of their rows. To achieve the layout, you use a <code class="js-highlight">block-grid xs-block-grid-n</code> wrapper (n goes from 1-6), and then give each inner xs-block a class of <code class="js-highlight">block-grid-item</code>. Here's an example.</p>

  <ul class="block-grid xs-block-grid-3 xs-mb4">

    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/27/11/campaign_images/webdr10/which-animal-matches-your-personality-2-22744-1435420255-2_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">Which Animal Matches Your Personality?</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li>
    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/7/19/campaign_images/webdr02/the-sorting-hat-quiz-hogwarts-2-16400-1436310166-16_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">This Quiz Is The Closest You'll Get To Putting On The Sorting Hat</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li>
    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/27/11/campaign_images/webdr10/which-animal-matches-your-personality-2-22744-1435420255-2_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">Which Animal Matches Your Personality?</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li>
    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/7/19/campaign_images/webdr02/the-sorting-hat-quiz-hogwarts-2-16400-1436310166-16_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">This Quiz Is The Closest You'll Get To Putting On The Sorting Hat</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li>
    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/27/11/campaign_images/webdr10/which-animal-matches-your-personality-2-22744-1435420255-2_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">Which Animal Matches Your Personality?</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li>
    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/7/19/campaign_images/webdr02/the-sorting-hat-quiz-hogwarts-2-16400-1436310166-16_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">This Quiz Is The Closest You'll Get To Putting On The Sorting Hat</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li>
  </ul>

  <div class="xs-mb4 xs-pb4">

<pre><code class="html"><%='<ul class="block-grid xs-block-grid-3">'%>
  <%='<li class="block-grid-item">Content goes here.</li>'%>
  <%='<li class="block-grid-item">Content goes here.</li>'%>
  <%='<li class="block-grid-item">Content goes here.</li>'%>
<%='</ul>'%></code></pre>

  </div>

  <h2 class="bold xs-mb1">Responsive xs-block Grid</h2>

  <p class="xs-mb2">You can make the xs-block grid responsive by simply adding our responsive breakpoint prepends to the <code class="js-highlight">xs-block-grid-n</code> class. So, for instance, if you wanted your grid to be four across at large, three across at medium and two across the rest of the way to mobile, you'd give your xs-block grid container classes of <code class="js-highlight">block-grid xs-block-grid-2 md-block-grid-3 lg-block-grid-4</code>. With a result of:</p>

  <ul class="block-grid xs-block-grid-2 md-block-grid-3 lg-block-grid-4 xs-mb4">

    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/27/11/campaign_images/webdr10/which-animal-matches-your-personality-2-22744-1435420255-2_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">Which Animal Matches Your Personality?</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li>
    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/7/19/campaign_images/webdr02/the-sorting-hat-quiz-hogwarts-2-16400-1436310166-16_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">This Quiz Is The Closest You'll Get To Putting On The Sorting Hat</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li>
    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/27/11/campaign_images/webdr10/which-animal-matches-your-personality-2-22744-1435420255-2_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">Which Animal Matches Your Personality?</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li>
    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/7/19/campaign_images/webdr02/the-sorting-hat-quiz-hogwarts-2-16400-1436310166-16_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">This Quiz Is The Closest You'll Get To Putting On The Sorting Hat</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li>
    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-06/27/11/campaign_images/webdr10/which-animal-matches-your-personality-2-22744-1435420255-2_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">Which Animal Matches Your Personality?</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, 3 weeks ago</p>
        </div>
      </div>
    </li>
    <li class="block-grid-item">
      <div class="fill-white xs-border">
        <img src="http://s3-static-ak.buzzfed.com/static/2015-07/7/19/campaign_images/webdr02/the-sorting-hat-quiz-hogwarts-2-16400-1436310166-16_wide.jpg">
        <div class="xs-p1">
          <h5 class="bold xs-mb1">This Quiz Is The Closest You'll Get To Putting On The Sorting Hat</h5>
          <p class="text-6 text-gray--lighter">Javier Moreno, One week ago</p>
        </div>
      </div>
    </li>
  </ul>

  <p class="xs-mb2">And the code:</p>

  <div class="xs-mb4 xs-pb4">

<pre><code class="html"><%='<ul class="block-grid xs-block-grid-2 md-block-grid-3 lg-block-grid-4">'%>
  <%='<li class="block-grid-item">Content goes here.</li>'%>
  <%='<li class="block-grid-item">Content goes here.</li>'%>
  <%='<li class="block-grid-item">Content goes here.</li>'%>
<%='</ul>'%></code></pre>

  </div>

</div>
