<h2 class="bold border-bottom mb4 pb2">The Fluid Grid</h2>

<div class="mb4">

  <h3 class="bold mb1">The Grid</h3>

  <p class="mb3">For laying out pages, BuzzFeed uses a 12 column, fluid grid system (which can be made <a href="/layout/responsive">responsive</a> using our breakpoint prefixes). In order to begin using the grid, wrap your main grid columns in a .clearfix container. You'll then need to use our .col and .col-n classes to both float and then set the width of each column. You can see an example below:</p>

  <div class="clearfix mb3">
    <div class="col col-3 border-left border-top border-bottom p1">.col .col-3</div>
    <div class="col col-4 border p1">.col .col-4</div>
    <div class="col col-5 border-right border-top border-bottom p1">.col .col-5</div>
  </div>

  <p class="mb1">And here's the code:</p>

  <pre class="mb4"><code class="html"><%='<div class="clearfix">'%>
  <%='<div class="col col-3">.col .col-3</div>'%>
  <%='<div class="col col-4">.col .col-4</div>'%>
  <%='<div class="col col-5">.col .col-5</div>'%>
<%='</div>'%></code></pre>

  <h3 class="bold mb1">Spacing Columns</h3>

  <p class="mb3">In order to add space between your columns, use our <a href="/layout/utilities/">padding utility classes</a> and wrap your column's content in a separate container. <b>Do not use margin or your grid will wrap.</b> Here's an example of using padding to space your grid columns:</p>

  <div class="clearfix mb3">
    <div class="col col-3 pr1">
      <div class="border p1">.col .col-3 .pr1</div>
    </div>
    <div class="col col-4 pr2">
      <div class="border p1">.col .col-4 .pr2</div>
    </div>
    <div class="col col-5">
      <div class="border p1">.col .col-5</div>
    </div>
  </div>

  <p class="mb1">Here's how it works in code:</p>

   <pre class="mb4"><code class="html"><%='<div class="clearfix">'%>
  <%='<div class="col col-3 pr1">'%>
    <%='<div class="border p1">.col .col-3 .pr1</div>'%>
  <%='</div>'%>
  <%='<div class="col col-4 pr2">'%>
    <%='<div class="border p1">.col .col-4 .pr2</div>'%>
  <%='</div>'%>
  <%='<div class="col col-5">'%>
    <%='<div class="border p1">.col .col-5</div>'%>
  <%='</div>'%>
<%='</div>'%></code></pre>

  <h3 class="bold mb1">Nesting Columns</h3>

  <p class="mb3">Since our grid is percentage-based, it can be nested within itself. When you nest a new grid, the columns are sized relative to the parent. Like so:</p>

  <div class="clearfix mb3">
    <div class="col col-6 border-left border-top border-bottom p1">
      <p class="mb1">.col .col-6</p>
      <div class="col col-4 fill-yellow p1">.col .col-4</div>
      <div class="col col-4 fill-yellow p1">.col .col-4</div>
      <div class="col col-4 fill-yellow p1">.col .col-4</div>
    </div>
    <div class="col col-6 border p1">
      <p class="mb1">.col .col-6</p>
      <div class="col col-4 fill-yellow p1">.col .col-4</div>
      <div class="col col-4 fill-yellow p1">.col .col-4</div>
      <div class="col col-4 fill-yellow p1">.col .col-4</div>
    </div>
  </div>

  <p class="mb1">And the code:</p>

  <pre class="mb4"><code class="html"><%='<div class="clearfix">'%>
  <%='<div class="col col-6">'%>
    <%='<p>.col .col-6</p>'%>
    <%='<div class="col col-4">.col .col-4</div>'%>
    <%='<div class="col col-4">.col .col-4</div>'%>
    <%='<div class="col col-4">.col .col-4</div>'%>
  <%='</div>'%>
  <%='<div class="col col-6">'%>
    <%='<p>.col .col-6</p>'%>
    <%='<div class="col col-4">.col .col-4</div>'%>
    <%='<div class="col col-4">.col .col-4</div>'%>
    <%='<div class="col col-4">.col .col-4</div>'%>
  <%='</div>'%>
<%='</div>'%></code></pre>

</div>
