<h2 class="bold border-bottom mb4 pb2">Responsive Prefixes</h2>

<div class="mb4 pb2">
	<h3 class="bold mb1">An Introduction</h3>
	<p class="mb3">We've made our utility, typography and grid classes even more powerful by adding responsive prefixes. Using the prefixes xs, sm, md, and lg, you can quickly and easily adjust your layout and content as a user scales their browser down.</p>

  <p class="bold mb1">Resize your browser to see our Extra Small, Small, Medium and Large breakpoints.</p>

  <div class="mb1">
  	<div class="xs-hide lg-show text-green">Large</div>
  	<div class="xs-hide md-show lg-hide text-orange">Medium</div>
  	<div class="xs-hide sm-show md-hide text-blue">Small</div>
  	<div class="xs-show sm-hide text-red">Extra Small</div>
  </div>
  <div class="clearfix mb3">
    <div class="col xs-col-12 sm-col-12 md-col-6 lg-col-3 border p1">
      <p class="xs-show sm-hide">.xs-col-12</p>
      <p class="xs-hide sm-show md-hide">.sm-col-12</p>
      <p class="xs-hide md-show lg-hide">.md-col-6</p>
      <p class="xs-hide lg-show">.lg-col-3</p>
    </div>
    <div class="col xs-col-12 md-col-6 lg-col-3 border p1">
      <p class="xs-show sm-hide">.xs-col-12</p>
      <p class="xs-hide sm-show md-hide">.sm-col-12</p>
      <p class="xs-hide md-show lg-hide">.md-col-6</p>
      <p class="xs-hide lg-show">.lg-col-3</p>
    </div>
    <div class="col xs-col-12 md-col-6 lg-col-3 border p1">
      <p class="xs-show sm-hide">.xs-col-12</p>
      <p class="xs-hide sm-show md-hide">.sm-col-12</p>
      <p class="xs-hide md-show lg-hide">.md-col-6</p>
      <p class="xs-hide lg-show">.lg-col-3</p>
    </div>
    <div class="col xs-col-12 md-col-6 lg-col-3 border p1">
      <p class="xs-show sm-hide">.xs-col-12</p>
      <p class="xs-hide sm-show md-hide">.sm-col-12</p>
      <p class="xs-hide md-show lg-hide">.md-col-6</p>
      <p class="xs-hide lg-show">.lg-col-3</p>
    </div>
  </div>

  <p>This is achieved with the markup below. As you can see, we're using our <code class="js-highlight">.show</code> and <code class="js-highlight">.hide</code> utility classes, but adding breakpoint prefixes to determine when to show and when to hide each div:</p>

  <pre><code class="html"><%= '<div class="clearfix mb3">' %>
  <%= '<div class="col xs-col-12 sm-col-12 md-col-6 lg-col-3 border p1">' %>
    <%= '<p class="xs-show sm-hide">.xs-col-12</p>' %>
    <%= '<p class="xs-hide sm-show md-hide">.sm-col-12</p>' %>
    <%= '<p class="xs-hide md-show lg-hide">.md-col-6</p>' %>
    <%= '<p class="xs-hide lg-show">.lg-col-3</p>' %>
  <%= '</div>' %>
  <%= '<div class="col xs-col-12 md-col-6 lg-col-3 border p1">' %>
    <%= '<p class="xs-show sm-hide">.xs-col-12</p>' %>
    <%= '<p class="xs-hide sm-show md-hide">.sm-col-12</p>' %>
    <%= '<p class="xs-hide md-show lg-hide">.md-col-6</p>' %>
    <%= '<p class="xs-hide lg-show">.lg-col-3</p>' %>
  <%= '</div>' %>
  <%= '<div class="col xs-col-12 md-col-6 lg-col-3 border p1">' %>
    <%= '<p class="xs-show sm-hide">.xs-col-12</p>' %>
    <%= '<p class="xs-hide sm-show md-hide">.sm-col-12</p>' %>
    <%= '<p class="xs-hide md-show lg-hide">.md-col-6</p>' %>
    <%= '<p class="xs-hide lg-show">.lg-col-3</p>' %>
  <%= '</div>' %>
  <%= '<div class="col xs-col-12 md-col-6 lg-col-3 border p1">' %>
    <%= '<p class="xs-show sm-hide">.xs-col-12</p>' %>
    <%= '<p class="xs-hide sm-show md-hide">.sm-col-12</p>' %>
    <%= '<p class="xs-hide md-show lg-hide">.md-col-6</p>' %>
    <%= '<p class="xs-hide lg-show">.lg-col-3</p>' %>
  <%= '</div>' %>
<%= '</div>' %></code></pre>

</div>

<div class="mb4 pb2">

	<h3 class="bold mb1">How It Works</h3>

	<p class="mb3">Unlike typical responsive systems, Solid works responsively from the lowest breakpoint and up, as opposed to largest-to-smallest. This means thinking mobile-first and working our way up to our desktop layout when writing our markup.</p>
  
  <table class="table-border">
    <tr>
      <th>Prefixes</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>xs-</td>
      <td>Apply at min-width of 24rem</td>
    </tr>
    <tr>
      <td>sm-</td>
      <td>Apply at min-width of 40rem</td>
    </tr>
    <tr>
      <td>md-</td>
      <td>Apply at min-width of 52rem</td>
    </tr>
    <tr>
      <td>lg-</td>
      <td>Apply at min-width of 64rem</td>
    </tr>
  </table>

</div>

<div class="mb4 pb2">

  <h3 class="bold mb1">What can I use these with?</h3>

  <p class="mb3">Not all our utility classes are responsive. We've selected a set that seems relevant and useful, rather than make everything responsive. Below is a list of what's possible to make responsive by default:</p>

  <table class="table-border">
    <tr>
      <th>Responsive classes</th>
      <th>Description</th>
    </tr>
    <tr>
      <td>.col-1 to .col-12</td>
      <td><a href="/layout/grid">Our grid system.</a></td>
    </tr>
    <tr>
      <td>.offset-1 to .offset-12</td>
      <td>Offset classes for the grid columns.</td>
    </tr>
    <tr>
      <td>.type-1 to .type-6</td>
      <td>Our type system.</td>
    </tr>
    <tr>
      <td>.display-*</td>
      <td>inline, block, inline-block</td>
    </tr>
    <tr>
      <td>.overflow-*</td>
      <td>hidden, auto, scroll</td>
    </tr>
    <tr>
      <td>.show</td>
      <td>Show content.</td>
    </tr>
    <tr>
      <td>.hide</td>
      <td>Hide content.</td>
    </tr>
    <tr>
      <td>.m*</td>
      <td>Margins</td>
    </tr>
    <tr>
      <td>.p*</td>
      <td>Padding</td>
    </tr>
    <tr>
      <td>.half-width</td>
      <td>Half the parent width.</td>
    </tr>
    <tr>
      <td>.full-width</td>
      <td>100% width.</td>
    </tr>
    <tr>
      <td>.full-height</td>
      <td>100% height.</td>
    </tr>
    <tr>
      <td>.fit</td>
      <td>100% max-width.</td>
    </tr>
    <tr>
      <td>.border, .border-*</td>
      <td>Borders.</td>
    </tr>
  </table>

</div>
