<h2 class="mb1">Utility Classes</h2>
<p class="type-3 mb4">Use these classes to layout and lightly style content.</p>


<section class="mb3">
	<h3 class="mb2 bold">Floats</h3>

	<div class="clearfix">
		<div class="float-left">Left</div>
		<div class="float-right">Right</div>
	</div>

	<pre>
	  <code class="html"><%= '<div class="clearfix">' %><br><%= '  <div class="float-left">Left</div>' %><br><%= '  <div class="float-right">Right</div>' %><br><%= '</div>' %></code>
	</pre>

</section>

<!--Inline/Block-->

<section class="mb3">
	<h3 class="mb2 bold">Block Types</h3>

	<div>
		<div class="inline">Inline</div>
		<div class="inline-block">Inline Block</div>
		<a href="#" class="block">Block</a>
	</div>

	<pre>
	  <code class="html"><%= '<div>' %><br><%= '  <div class="inline">Inline</div>' %><br><%= '  <div class="inline-block">Inline Block</div>' %><br><%= '  <a href="#" class="block">Block</a>' %><br><%= '</div>' %></code>
	</pre>

</section>

<!--Overflow-->

<section class="mb3">
	<h3 class="mb2 bold">Overflows</h3>

	<div class="overflow-hidden" style="height:50px;">
		When life gives you lemons, don’t make lemonade. Make life take the lemons back! Get mad! I don’t want your damn lemons, what the hell am I supposed to do with these? Demand to see life’s manager! Make life rue the day it thought it could give Cave Johnson lemons! Do you know who I am? I’m the man who’s gonna burn your house down! With the lemons! I’m gonna get my engineers to invent a combustible lemon that burns your house down!
	</div>
	<pre>
		<code class="css">class { overflow: hidden; }</code>
	</pre>

	<div class="overflow-auto" style="height:50px;">
		When life gives you lemons, don’t make lemonade. Make life take the lemons back! Get mad! I don’t want your damn lemons, what the hell am I supposed to do with these? Demand to see life’s manager! Make life rue the day it thought it could give Cave Johnson lemons! Do you know who I am? I’m the man who’s gonna burn your house down! With the lemons! I’m gonna get my engineers to invent a combustible lemon that burns your house down!
	</div>
	<pre>
		<code class="css">class { overflow: auto; }</code>
	</pre>

	<div class="overflow-scroll" style="height:50px;">
		When life gives you lemons, don’t make lemonade. Make life take the lemons back! Get mad! I don’t want your damn lemons, what the hell am I supposed to do with these? Demand to see life’s manager! Make life rue the day it thought it could give Cave Johnson lemons! Do you know who I am? I’m the man who’s gonna burn your house down! With the lemons! I’m gonna get my engineers to invent a combustible lemon that burns your house down!
	</div>
	<pre>
		<code class="css">class { overflow: scroll; }</code>
	</pre>

</section>

<section class="mb3">
	<h3 class="mb2 bold">Margins &amp; Padding</h3>

	<table class="full-width">
		<thead class="bold">
			<td>Shorthand</td>
			<td>Description</td>
		</thead>
		<tr>
			<td>m</td>
			<td>margin</td>
		</tr>
		<tr>
			<td>p</td>
			<td>padding</td>
		</tr>
		<tr>
			<td>t</td>
			<td>top</td>
		</tr>
		<tr>
			<td>r</td>
			<td>right</td>
		</tr>
		<tr>
			<td>b</td>
			<td>bottom</td>
		</tr>
		<tr>
			<td>l</td>
			<td>left</td>
		</tr>
		<tr>
			<td>x</td>
			<td>x-axis</td>
		</tr>
		<tr>
			<td>y</td>
			<td>y-axis</td>
		</tr>
		<tr>
			<td>1</td>
			<td>$space-1 (.5rem)</td>
		</tr>
		<tr>
			<td>2</td>
			<td>$space-2 (1rem)</td>
		</tr>
		<tr>
			<td>3</td>
			<td>$space-3 (1.5rem)</td>
		</tr>
		<tr>
			<td>4</td>
			<td>$space-4 (2rem)</td>
		</tr>
	</table>

</section>

<!--Widths-->
<!--Margins/Paddings-->
<!--Positioning-->
<!--Z-Index-->
<!--Absolute Center-->
<!--Rounded/Circle-->
<!--Border-->
<!--Flex-->