<h2 class="bold mb1">Utility Classes</h2>
<p class="type-3 mb3">Use these classes to layout and lightly style content.</p>


<section class="mb3">

	<h3 class="mb2 bold">Floats</h3>

	<div class="clearfix">
		<div class="float-left">Left</div>
		<div class="float-right">Right</div>
	</div>

	<pre>
	  <code class="html"><%= '<div class="clearfix">' %><br><%= '  <div class="float-left">Left</div>' %><br><%= '  <div class="float-right">Right</div>' %><br><%= '</div>' %></code>
	</pre>

</section>

<!--Inline/Block-->

<section class="mb3">

	<h3 class="mb2 bold">Block Types</h3>

	<div>
		<div class="inline">Inline</div>
		<div class="inline-block">Inline Block</div>
		<a href="#" class="block">Block</a>
	</div>

	<pre>
	  <code class="html"><%= '<div>' %><br><%= '  <div class="inline">Inline</div>' %><br><%= '  <div class="inline-block">Inline Block</div>' %><br><%= '  <a href="#" class="block">Block</a>' %><br><%= '</div>' %></code>
	</pre>

</section>

<!--Overflow-->

<section class="mb3">

	<h3 class="mb2 bold">Overflows</h3>

	<div class="overflow-hidden" style="height:50px;">
		When life gives you lemons, don’t make lemonade. Make life take the lemons back! Get mad! I don’t want your damn lemons, what the hell am I supposed to do with these? Demand to see life’s manager! Make life rue the day it thought it could give Cave Johnson lemons! Do you know who I am? I’m the man who’s gonna burn your house down! With the lemons! I’m gonna get my engineers to invent a combustible lemon that burns your house down!
	</div>
	<pre>
		<code class="css">class { overflow: hidden; }</code>
	</pre>

	<div class="overflow-auto" style="height:50px;">
		When life gives you lemons, don’t make lemonade. Make life take the lemons back! Get mad! I don’t want your damn lemons, what the hell am I supposed to do with these? Demand to see life’s manager! Make life rue the day it thought it could give Cave Johnson lemons! Do you know who I am? I’m the man who’s gonna burn your house down! With the lemons! I’m gonna get my engineers to invent a combustible lemon that burns your house down!
	</div>
	<pre>
		<code class="css">class { overflow: auto; }</code>
	</pre>

	<div class="overflow-scroll" style="height:50px;">
		When life gives you lemons, don’t make lemonade. Make life take the lemons back! Get mad! I don’t want your damn lemons, what the hell am I supposed to do with these? Demand to see life’s manager! Make life rue the day it thought it could give Cave Johnson lemons! Do you know who I am? I’m the man who’s gonna burn your house down! With the lemons! I’m gonna get my engineers to invent a combustible lemon that burns your house down!
	</div>
	<pre>
		<code class="css">class { overflow: scroll; }</code>
	</pre>

</section>

<!--Widths-->

<section class="mb3">

	<h3 class="mb1 bold">Widths</h3>
	<p class="type-3 mb4">Some simple classes to make widths easier for you. And you and you and you!</p>

	<div class="half-width border p2 mb1">.half-width</div>
	<a href="#" class="full-width inline-block border mb1 p2">.full-width</a>
	<div class="fit p2 border">.fit</div>

</section>

<!--Margins/Paddings-->

<section class="mb3">

	<h3 class="mb1 bold">Margins &amp; Padding</h3>
	<p class="type-3 mb4">This set of classes can be used to set margin and padding in a number of ways: to all sides of an item at once, to just the x or y-axis or even to a single side. The spacing is based on the $space-n variables, where n increments from 0-4.</p>

	<table class="full-width border rounded">
		<thead class="bold border-bottom">
			<td class="py2 px1">Shorthand</td>
			<td class="py2 px1">Description</td>
		</thead>
		<tr class="border-bottom">
			<td class="p1">m <span class="type-5 text-gray-lightest ml1">.m0-.m4</span></td>
			<td class="p1">margin</td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">p <span class="type-5 text-gray-lightest ml1">.p0-.p4</span></td>
			<td class="p1">padding</td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">t <span class="type-5 text-gray-lightest ml1">.mtn, .ptn</span></td>
			<td class="p1">top</td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">r <span class="type-5 text-gray-lightest ml1">.mrn, .prn</span></td>
			<td class="p1">right</td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">b <span class="type-5 text-gray-lightest ml1">.mbn, .pbn</span></td>
			<td class="p1">bottom</td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">l <span class="type-5 text-gray-lightest ml1">.mln, .pln</span></td>
			<td class="p1">left</td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">x <span class="type-5 text-gray-lightest ml1">.mxn, .pxn</span></td>
			<td class="p1">x-axis</td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">y <span class="type-5 text-gray-lightest ml1">.myn, .pyn</span></td>
			<td class="p1">y-axis</td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">-auto <span class="type-5 text-gray-lightest ml1">.mx-auto</span></td>
			<td class="p1">center an object with margin</td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">1</td>
			<td class="p1">$space-1 <span class="type-5 text-gray-lightest ml1">.5rem</span></td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">2</td>
			<td class="p1">$space-2 <span class="type-5 text-gray-lightest ml1">1rem</span></td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">3</td>
			<td class="p1">$space-3 <span class="type-5 text-gray-lightest ml1">1.5rem</span></td>
		</tr>
		<tr class="border-bottom">
			<td class="p1">4</td>
			<td class="p1">$space-4 <span class="type-5 text-gray-lightest ml1">2rem</span></td>
		</tr>
	</table>

</section>

<!--Positioning-->

<section class="mb3">

	<h3 class="mb1 bold">Positioning</h3>
	<p class="type-3">Use these classes to position elements and give them z-index hierarchy.</p>

	<pre>
		<code class="css"><%= '.relative { position: relative; }' %><br><%= '.absolute { position: absolute; }' %><br><%= '.fixed    { position: fixed; }' %><br><br><%= '.z1 { z-index: 100; }' %><br><%= '.z2 { z-index: 200; }' %><br><%= '.z3 { z-index: 300; }' %><br><%= '.z4 { z-index: 400; }' %></code>
	</pre>

</section>

<!--Z-Index-->
<!--Absolute Center-->
<!--Rounded/Circle-->
<!--Border-->
<!--Flex-->