<section class="xs-mb5 xs-pb2">

	<h3 class="xs-mb2 bold">Floats</h3>

	<div class="clearfix xs-border xs-p1 xs-col-12 md-col-4 xs-mb2">
		<div class="xs-float-left xs-border xs-p1">xs-float-left</div>
		<div class="xs-float-right xs-border xs-p1">xs-float-right</div>
	</div>

	<pre><code class="html"><%= '<div class="clearfix">' %><br><%= '  <div class="xs-float-left">Left</div>' %><br><%= '  <div class="xs-float-right">Right</div>' %><br><%= '</div>' %></code></pre>

</section>

<!--Inline/xs-block-->

<section class="xs-mb5 xs-pb2">

	<h3 class="xs-mb2 bold">xs-block Types</h3>

	<div class="xs-mb2">
		<div class="xs-inline xs-border xs-p1">xs-inline</div>
		<div class="xs-inline-block xs-border xs-p1">xs-inline-block</div>
		<a href="#" class="xs-block xs-border xs-p1 xs-mt1">xs-block</a>
	</div>

	<pre><code class="html"><%= '<div>' %><br><%= '  <div class="xs-inline">xs-inline</div>' %><br><%= '  <div class="xs-inline-block">xs-inline xs-block</div>' %><br><%= '  <a href="#" class="xs-block">xs-block</a>' %><br><%= '</div>' %></code></pre>

</section>

<!--Overflow-->

<section class="xs-mb5 xs-pb2">

	<h3 class="xs-mb2 bold">Overflows</h3>

	<section class="xs-mb4">
		<div class="xs-overflow-hidden xs-border xs-p2 xs-mb2" style="height:85px;">
			<h3 class="text-5 xs-mb1">xs-overflow-hidden</h3>
			<p>When life gives you lemons, don’t make lemonade. Make life take the lemons back! Get mad! I don’t want your damn lemons, what the hell am I supposed to do with these? Demand to see life’s manager! Make life rue the day it thought it could give Cave Johnson lemons! Do you know who I am? I’m the man who’s gonna burn your house down! With the lemons! I’m gonna get my engineers to invent a combustible lemon that burns your house down!</p>
		</div>
		<pre><code class="css">class { xs-overflow: hidden; }</code></pre>
	</section>

	<section class="xs-mb4">
		<div class="xs-overflow-auto xs-border xs-p2 xs-mb2" style="height:85px;">
			<h3 class="text-5 xs-mb1">xs-overflow-auto</h3>
			<p>When life gives you lemons, don’t make lemonade. Make life take the lemons back! Get mad! I don’t want your damn lemons, what the hell am I supposed to do with these? Demand to see life’s manager! Make life rue the day it thought it could give Cave Johnson lemons! Do you know who I am? I’m the man who’s gonna burn your house down! With the lemons! I’m gonna get my engineers to invent a combustible lemon that burns your house down!</p>
		</div>
		<pre><code class="css">class { xs-overflow: auto; }</code></pre>
	</section>

	<section>
		<div class="xs-overflow-scroll xs-border xs-p2 xs-mb2" style="height:85px;">
			<h3 class="text-5 xs-mb1">xs-overflow-scroll</h3>
			<p>When life gives you lemons, don’t make lemonade. Make life take the lemons back! Get mad! I don’t want your damn lemons, what the hell am I supposed to do with these? Demand to see life’s manager! Make life rue the day it thought it could give Cave Johnson lemons! Do you know who I am? I’m the man who’s gonna burn your house down! With the lemons! I’m gonna get my engineers to invent a combustible lemon that burns your house down!</p>
		</div>
		<pre><code class="css">class { xs-overflow: scroll; }</code></pre>
	</section>

</section>

<!--Widths-->

<section class="xs-mb5 xs-pb2">

	<h3 class="xs-mb2 bold">Widths</h3>

	<div class="xs-mb2">
		<div class="xs-half-width xs-border xs-p2 xs-mb1">xs-half-width</div>
		<a href="#" class="xs-full-width xs-inline-block xs-border xs-mb1 xs-p2">xs-full-width</a>
		<div class="xs-fit xs-p2 xs-border">xs-fit</div>
	</div>
	<pre><code class="css">xs-half-width { width: 50%; }
xs-full-width { width: 100%; }
xs-fit { max-width: 100%; }</code></pre>

</section>

<!--Spacing-->

<section class="xs-mb5 xs-pb2">

	<h3 class="xs-mb1 bold">Spacing</h3>
	<p class="xs-mb2">This shorthand can be combined to set margin, padding and position in a number of ways: to all sides of an item at once, to just the x or y-axis or even to a single side. The spacing is based on the $space-n variables, where n increments from 0-4.</p>

	<table class="table-border">
		<th>Prefixes</td>
		<th>Description</td>
		<tr>
			<td>m</td>
			<td>margin</td>
		</tr>
		<tr>
			<td>p</td>
			<td>padding</td>
		</tr>
		<tr>
			<td>t</td>
			<td>top</td>
		</tr>
		<tr>
			<td>r</td>
			<td>right</td>
		</tr>
		<tr>
			<td>b</td>
			<td>bottom</td>
		</tr>
		<tr>
			<td>l</td>
			<td>left</td>
		</tr>
		<tr>
			<td>x</td>
			<td>x-axis</td>
		</tr>
		<tr>
			<td>y</td>
			<td>y-axis</td>
		</tr>
		<tr>
			<td>z</td>
			<td>z-index</td>
		</tr>
		<tr>
			<td>1</td>
			<td>$space-1 <span class="text-5 text-gray--lightest xs-ml1">.5rem</span></td>
		</tr>
		<tr>
			<td>2</td>
			<td>$space-2 <span class="text-5 text-gray--lightest xs-ml1">1rem</span></td>
		</tr>
		<tr>
			<td>3</td>
			<td>$space-3 <span class="text-5 text-gray--lightest xs-ml1">1.5rem</span></td>
		</tr>
		<tr>
			<td>4</td>
			<td>$space-4 <span class="text-5 text-gray--lightest xs-ml1">2rem</span></td>
		</tr>
		<tr>
			<td>5</td>
			<td>$space-5 <span class="text-5 text-gray--lightest xs-ml1">3rem</span></td>
		</tr>
		<tr>
			<td>6</td>
			<td>$space-6 <span class="text-5 text-gray--lightest xs-ml1">4.5rem</span></td>
		</tr>
	</table>

</section>

<!--Margins/Paddings-->

<section class="xs-mb5 xs-pb2">

	<h3 class="xs-mb3 bold">Margin</h3>

	<div class="xs-mb2">
		<div class="xs-inline-block xs-border xs-p2 xs-mr0">xs-mr0</div><div class="xs-inline-block xs-border xs-p2 xs-mr1">xs-mr1</div><div class="xs-inline-block xs-border xs-p2 xs-mr2">xs-mr2</div><div class="xs-inline-block xs-border xs-p2 xs-mr3">xs-mr3</div><div class="xs-inline-block xs-border xs-p2 xs-mr4">xs-mr4</div><div class="xs-inline-block xs-border xs-p2 xs-mr5">xs-mr5</div><div class="xs-inline-block xs-border xs-p2 xs-mr6">xs-mr6</div>
	</div>

	<pre><code class="css">xs-m0  { margin:        0; }
xs-mt0 { margin-top:    0; }
xs-mr0 { margin-right:  0; }
xs-mb0 { margin-bottom: 0; }
xs-ml0 { margin-left:   0; }
xs-mx0 { margin-left:   0; margin-right: 0;}
xs-my0 { margin-top:    0; margin-bottom: 0;}

xs-m1  { margin:        $space-1; }
xs-mt1 { margin-top:    $space-1; }
xs-mr1 { margin-right:  $space-1; }
xs-mb1 { margin-bottom: $space-1; }
xs-ml1 { margin-left:   $space-1; }
xs-mx1 { margin-left:   $space-1; margin-right: $space-1;}
xs-my1 { margin-top:    $space-1; margin-bottom: $space-1;}

xs-m2  { margin:        $space-2; }
xs-mt2 { margin-top:    $space-2; }
xs-mr2 { margin-right:  $space-2; }
xs-mb2 { margin-bottom: $space-2; }
xs-ml2 { margin-left:   $space-2; }
xs-mx2 { margin-left:   $space-2; margin-right: $space-2;}
xs-my2 { margin-top:    $space-2; margin-bottom: $space-2;}

xs-m3  { margin:        $space-3; }
xs-mt3 { margin-top:    $space-3; }
xs-mr3 { margin-right:  $space-3; }
xs-mb3 { margin-bottom: $space-3; }
xs-ml3 { margin-left:   $space-3; }
xs-mx3 { margin-left:   $space-3; margin-right: $space-3;}
xs-my3 { margin-top:    $space-3; margin-bottom: $space-3;}

xs-m4  { margin:        $space-4; }
xs-mt4 { margin-top:    $space-4; }
xs-mr4 { margin-right:  $space-4; }
xs-mb4 { margin-bottom: $space-4; }
xs-ml4 { margin-left:   $space-4; }
xs-mx4 { margin-left:   $space-4; margin-right: $space-4;}
xs-my4 { margin-top:    $space-4; margin-bottom: $space-4;}

xs-m5  { margin:        $space-5; }
xs-mt5 { margin-top:    $space-5; }
xs-mr5 { margin-right:  $space-5; }
xs-mb5 { margin-bottom: $space-5; }
xs-ml5 { margin-left:   $space-5; }
xs-mx5 { margin-left:   $space-5; margin-right: $space-5;}
xs-my5 { margin-top:    $space-5; margin-bottom: $space-5;}

xs-m6  { margin:        $space-6; }
xs-mt6 { margin-top:    $space-6; }
xs-mr6 { margin-right:  $space-6; }
xs-mb6 { margin-bottom: $space-6; }
xs-ml6 { margin-left:   $space-6; }
xs-mx6 { margin-left:   $space-6; margin-right: $space-6;}
xs-my6 { margin-top:    $space-6; margin-bottom: $space-6;}

xs-mx-auto { margin-left: auto; margin-right: auto; }</code></pre>

</section>

<section class="xs-mb5 xs-pb2">

	<h3 class="xs-mb3 bold">Padding</h3>

	<div class="xs-mb2">
		<div class="xs-inline-block xs-border p0">xs-p0</div>
		<div class="xs-inline-block xs-border xs-p1">xs-p1</div>
		<div class="xs-inline-block xs-border xs-p2">xs-p2</div>
		<div class="xs-inline-block xs-border xs-p3">xs-p3</div>
		<div class="xs-inline-block xs-border xs-p4">xs-p4</div>
		<div class="xs-inline-block xs-border xs-p5">xs-p5</div>
		<div class="xs-inline-block xs-border xs-p6">xs-p6</div>
	</div>

	<pre><code class="css">xs-p0  { padding:        0; }
xs-pt0 { padding-top:    0; }
xs-pr0 { padding-right:  0; }
xs-pb0 { padding-bottom: 0; }
xs-pl0 { padding-left:   0; }
xs-px0 { padding-left:   0; padding-right: 0;}
xs-py0 { padding-top:    0; padding-bottom: 0;}

xs-p1  { padding:        $space-1; }
xs-pt1 { padding-top:    $space-1; }
xs-pr1 { padding-right:  $space-1; }
xs-pb1 { padding-bottom: $space-1; }
xs-pl1 { padding-left:   $space-1; }
xs-px1 { padding-left:   $space-1; padding-right: $space-1;}
xs-py1 { padding-top:    $space-1; padding-bottom: $space-1;}

xs-p2  { padding:        $space-2; }
xs-pt2 { padding-top:    $space-2; }
xs-pr2 { padding-right:  $space-2; }
xs-pb2 { padding-bottom: $space-2; }
xs-pl2 { padding-left:   $space-2; }
xs-px2 { padding-left:   $space-2; padding-right: $space-2;}
xs-py2 { padding-top:    $space-2; padding-bottom: $space-2;}

xs-p3  { padding:        $space-3; }
xs-pt3 { padding-top:    $space-3; }
xs-pr3 { padding-right:  $space-3; }
xs-pb3 { padding-bottom: $space-3; }
xs-pl3 { padding-left:   $space-3; }
xs-px3 { padding-left:   $space-3; padding-right: $space-3;}
xs-py3 { padding-top:    $space-3; padding-bottom: $space-3;}

xs-p4  { padding:        $space-4; }
xs-pt4 { padding-top:    $space-4; }
xs-pr4 { padding-right:  $space-4; }
xs-pb4 { padding-bottom: $space-4; }
xs-pl4 { padding-left:   $space-4; }
xs-px4 { padding-left:   $space-4; padding-right: $space-4;}
xs-py4 { padding-top:    $space-4; padding-bottom: $space-4;}

xs-p5  { padding:        $space-5; }
xs-pt5 { padding-top:    $space-5; }
xs-pr5 { padding-right:  $space-5; }
xs-pb5 { padding-bottom: $space-5; }
xs-pl5 { padding-left:   $space-5; }
xs-px5 { padding-left:   $space-5; padding-right: $space-5;}
xs-py5 { padding-top:    $space-5; padding-bottom: $space-5;}

xs-p6  { padding:        $space-6; }
xs-pt6 { padding-top:    $space-6; }
xs-pr6 { padding-right:  $space-6; }
xs-pb6 { padding-bottom: $space-6; }
xs-pl6 { padding-left:   $space-6; }
xs-px6 { padding-left:   $space-6; padding-right: $space-6;}
xs-py6 { padding-top:    $space-6; padding-bottom: $space-6;}

</code></pre>

</section>

<!--Positioning-->

<section class="xs-mb5 xs-pb2">

	<h3 class="xs-mb1 bold">Positioning</h3>
	<p class="xs-mb2">Use these classes to position elements and give them z-index hierarchy.</p>

	<pre><code class="css">xs-relative { position: relative; }
xs-absolute { position: absolute; }
xs-fixed    { position: fixed; }

xs-z1 { z-index: 100; }
xs-z2 { z-index: 200; }
xs-z3 { z-index: 300; }
xs-z4 { z-index: 400; }

xs-t0 { top:    0; }
xs-r0 { right:  0; }
xs-b0 { bottom: 0; }
xs-l0 { left:   0; }

xs-t1 { top:    $space-1; }
xs-r1 { right:  $space-1; }
xs-b1 { bottom: $space-1; }
xs-l1 { left:   $space-1; }

xs-t2 { top:    $space-2; }
xs-r2 { right:  $space-2; }
xs-b2 { bottom: $space-2; }
xs-l2 { left:   $space-2; }

xs-t3 { top:    $space-3; }
xs-r3 { right:  $space-3; }
xs-b3 { bottom: $space-3; }
xs-l3 { left:   $space-3; }

xs-t4 { top:    $space-4; }
xs-r4 { right:  $space-4; }
xs-b4 { bottom: $space-4; }
xs-l4 { left:   $space-4; }

xs-t5 { top:    $space-5; }
xs-r5 { right:  $space-5; }
xs-b5 { bottom: $space-5; }
xs-l5 { left:   $space-5; }

xs-t6 { top:    $space-6; }
xs-r6 { right:  $space-6; }
xs-b6 { bottom: $space-6; }
xs-l6 { left:   $space-6; }

</section>

<!--Rounded/Circle-->

<section class="xs-mb5 xs-pb2">

	<h3 class="xs-mb1 bold">Rounded Corners and Circles</h3>
	<p class="xs-mb2">Round off corners or make an element a circle using <code class="js-highlight">rounded</code> and <code class="js-highlight">circle</code>.</p>

	<section class="xs-mb4 xs-pb2">

		<div class="xs-inline-block fill-blue text-white xs-p2 xs-mb2 rounded">rounded</div>
		<pre class="xs-mb4"><code class="css">rounded { xs-border-radius: 3px; }</code></pre>

		<div class="xs-inline-block fill-blue text-white xs-p2 xs-mb2 rounded-top">rounded-top</div>
		<pre class="xs-mb4"><code class="css">rounded-top {xs-border-radius:3px;}</code></pre>

		<div class="xs-inline-block fill-blue text-white xs-p2 xs-mb2 rounded-bottom">rounded-bottom</div>
		<pre><code class="css">rounded-bottom { xs-border-radius:3px; }</code></pre>

	</section>

	<div class="xs-col-6 sm-col-2">
		<img src="/images/user.png" height="100" alt="user" class="circle xs-mb2" />
	</div>

	<pre><code class="html"><%= '<img src="/images/user.png" height="100" alt="user" class="circle" />' %></code></pre>

	<pre><code class="css">.circle { xs-border-radius:50%; }</code></pre>

</section>

<!--Border-->

<section class="xs-mb5 xs-pb2">

	<h3 class="xs-mb1 bold">xs-borders</h3>
	<p class="xs-mb4">Add a quick, semi-transparent xs-border to an object.</p>

	<p class="xs-mb2 bold">Default xs-border</p>
	<div class="xs-mb2">
		<div class="xs-inline-block fill-gray--lighter xs-mr2 xs-p2 xs-border">xs-border</div>
		<div class="xs-inline-block fill-gray--lighter xs-mr2 xs-p2 xs-border-top">xs-border-top</div>
		<div class="xs-inline-block fill-gray--lighter xs-mr2 xs-p2 xs-border-right">xs-border-right</div>
		<div class="xs-inline-block fill-gray--lighter xs-mr2 xs-p2 xs-border-bottom">xs-border-bottom</div>
		<div class="xs-inline-block fill-gray--lighter xs-mr2 xs-p2 xs-border-left">xs-border-left</div>
	</div>

	<pre><code class="css xs-mb4">xs-border {
  xs-border:1px solid rgba(0,0,0,.2);
}

xs-border-top {
  xs-border-top:1px solid rgba(0,0,0,.2);
}

xs-border-right {
  xs-border-right:1px solid rgba(0,0,0,.2);
}

xs-border-bottom {
  xs-border-bottom:1px solid rgba(0,0,0,.2);
}

xs-border-left {
  xs-border-left:1px solid rgba(0,0,0,.2);
}</code></pre>

<p class="xs-mb2 bold">Lighter xs-border</p>
	<div class="xs-mb2">
		<div class="xs-inline-block fill-gray--lighter xs-mr2 xs-p2 xs-border--lighter">xs-border--lighter</div>
		<div class="xs-inline-block fill-gray--lighter xs-mr2 xs-p2 xs-border-top--lighter">xs-border-top--lighter</div>
		<div class="xs-inline-block fill-gray--lighter xs-mr2 xs-p2 xs-border-right--lighter">xs-border-right--lighter</div>
		<div class="xs-inline-block fill-gray--lighter xs-mr2 xs-p2 xs-border-bottom--lighter">xs-border-bottom--lighter</div>
		<div class="xs-inline-block fill-gray--lighter xs-mr2 xs-p2 xs-border-left--lighter">xs-border-left--lighter</div>
	</div>

	<pre><code class="css">xs-border--lighter {
  xs-border:1px solid rgba(0,0,0,.1);
}

xs-border-top--lighter {
  xs-border-top:1px solid rgba(0,0,0,.1);
}

xs-border-right--lighter {
  xs-border-right:1px solid rgba(0,0,0,.1);
}

xs-border-bottom--lighter {
  xs-border-bottom:1px solid rgba(0,0,0,.1);
}

xs-border-left--lighter {
  xs-border-left:1px solid rgba(0,0,0,.1);
}</code></pre>

</section>

