<!--<section class="xs-mb4 xs-pb2">

  <h2 class="bold xs-mb2">Buttons</h2>

  <p class="xs-mb4">Solid provides a variety as buttons to use as links or page actions. The default <span class="nowrap">.<code class="js-highlight">button</code></span> class applies a base reset, padding and type size to both buttons and links.</p>

  <p class="xs-mb1">.<code class="js-highlight">button</code></p>

  <a href="#" class="button">Link</a> <button class="button">Button</button>

</section>-->

<section class="xs-mb6">

  <a name="primary-buttons"></a>
  <h2 class="bold xs-mb2">Primary Buttons</h2>

  <p class="xs-mb4">This button type is used for primary links and page actions. It can be used with either <code class="js-highlight">a</code> or <code class="js-highlight">button</code> tags.</p>

  <div class="xs-mb4">
    <p class="xs-mb1">.<code class="js-highlight">button--primary</code></p>
    <a class="button button--primary" href="#">Link</a>
    <button class="button button--primary">Button</button>
  </div>
  
  <pre class="xs-mt2"><code class="html"><%='<a class="button button--primary" href="">Link</a>'%></code></pre>
  <pre class="xs-mt1"><code class="html"><%='<button class="button button--primary">Button</button>'%></code></pre>

</section>

<section class="xs-mb6">

  <a name="secondary-buttons"></a>
  <h2 class="bold xs-mb2">Secondary Buttons</h2>

  <p class="xs-mb4">This button type is used for secondary links and page actions. It can be used with either <code class="js-highlight">a</code> or <code class="js-highlight">button</code> tags.</p>

  <div class="xs-mb4">
    <p class="xs-mb1">.<code class="js-highlight">button--secondary</code></p>
    <a class="button button--secondary" href="">Link</a>
    <button class="button button--secondary">Button</button>
  </div>
  <pre class="xs-mt2"><code class="html"><%='<a class="button button--secondary" href="">Link</a>'%></code></pre>
  <pre class="xs-mt1"><code class="html"><%='<button class="button button--secondary">Button</button>'%></code></pre>

</section>

<section class="xs-mb6">

  <a name="negative-buttons"></a>
  <h2 class="bold xs-mb2">Negative Buttons</h2>

  <p class="xs-mb4">This button type is used for destructive or negative links and page actions. It can be used with either <code class="js-highlight">a</code> or <code class="js-highlight">button</code> tags.</p>

  <div class="xs-mb4">
    <p class="xs-mb1">.<code class="js-highlight">button--negative</code></p>
    <a class="button button--negative" href="">Link</a>
    <button class="button button--negative">Button</button>
  </div>
  <pre class="xs-mt2"><code class="html"><%='<a class="button button--negative" href="">Link</a>'%></code></pre>
  <pre class="xs-mt1"><code class="html"><%='<button class="button button--negative">Button</button>'%></code></pre>

</section>

<section class="xs-mb6">

  <a name="disabled-buttons"></a>
  <h2 class="bold xs-mb2">Disabled Buttons</h2>

  <p class="xs-mb4">This button type is used for inactive links and page actions.</p>

  <div class="xs-mb4">
    <a class="button--disabled button--primary" href="">Link</a>
    <button class="button--disabled button--primary">Button</button>
    <a class="button--disabled button--secondary" href="">Link</a>
    <button class="button--disabled button--secondary">Button</button>
    <button class="button--disabled button--negative">Delete</button>
  </div>
  <pre class="xs-mb1"><code class="html"><%='<a class="button--disabled button--primary" href="">Link</a>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<button class="button--disabled button--primary">Button</button>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<a class="button--disabled button--secondary" href="">Link</a>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<button class="button--disabled button--secondary">Button</button>'%></code></pre>
  <pre><code class="html"><%='<button class="button--disabled button--negative">Delete</button>'%></code></pre>

</section>

<section class="xs-mb6">
  <h2 class="bold xs-mb2">Button with Icon</h2>
  <p class="xs-mb4">Combine <span class="nowrap">.<code class="js-highlight">button--primary</code></span> or <span class="nowrap">.<code class="js-highlight">button--secondary</code></span> with <span class="nowrap">.<code class="js-highlight">button--icon</code></span> to include an icon.</p>
  <div class="xs-mb4">
    <a class="button button--icon button--primary" href="#">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 256c0-134.391 109.609-244 244-244 62.589 0 123.271 25.099 168.068 67.354l41.302-40.984c5.719-6.036 14.615-7.625 21.922-4.448 7.625 3.177 12.708 10.484 12.708 18.745v142.333c0 11.12-9.214 20.333-20.333 20.333h-142.333c-8.26 0-15.568-5.083-18.745-12.708-3.177-7.307-1.589-16.203 4.448-21.922l43.526-43.844c-29.547-27.641-68.943-43.526-110.563-43.526-89.594 0-162.667 73.073-162.667 162.667 0 89.594 73.073 162.667 162.667 162.667 50.516 0 97.219-22.875 128.354-63.224 1.589-2.224 4.448-3.495 7.307-3.813 2.859 0 5.719.953 7.943 2.859l43.526 43.844c3.495 3.495 3.813 9.531.635 13.661-46.385 55.917-115.01 88.005-187.766 88.005-134.391 0-244-109.609-244-244z"/>
      </svg>
      Reset timer
    </a>

     <a class="button button--icon button--secondary" href="#">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 256c0-134.391 109.609-244 244-244 62.589 0 123.271 25.099 168.068 67.354l41.302-40.984c5.719-6.036 14.615-7.625 21.922-4.448 7.625 3.177 12.708 10.484 12.708 18.745v142.333c0 11.12-9.214 20.333-20.333 20.333h-142.333c-8.26 0-15.568-5.083-18.745-12.708-3.177-7.307-1.589-16.203 4.448-21.922l43.526-43.844c-29.547-27.641-68.943-43.526-110.563-43.526-89.594 0-162.667 73.073-162.667 162.667 0 89.594 73.073 162.667 162.667 162.667 50.516 0 97.219-22.875 128.354-63.224 1.589-2.224 4.448-3.495 7.307-3.813 2.859 0 5.719.953 7.943 2.859l43.526 43.844c3.495 3.495 3.813 9.531.635 13.661-46.385 55.917-115.01 88.005-187.766 88.005-134.391 0-244-109.609-244-244z"/>
      </svg>
      Reset timer
    </a>

  </div>

  <pre class="xs-mt2"><code class="html"><%='<a class="button button--icon button--primary" href="#">'%>
  <%='<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">'%>
  <%='<path d="M12 256c0-134.391 109.609-244 244-244 62.589 0 123.271 25.099 168.068 67.354l41.302-40.984c5.719-6.036 14.615-7.625 21.922-4.448 7.625 3.177 12.708 10.484 12.708 18.745v142.333c0 11.12-9.214 20.333-20.333 20.333h-142.333c-8.26 0-15.568-5.083-18.745-12.708-3.177-7.307-1.589-16.203 4.448-21.922l43.526-43.844c-29.547-27.641-68.943-43.526-110.563-43.526-89.594 0-162.667 73.073-162.667 162.667 0 89.594 73.073 162.667 162.667 162.667 50.516 0 97.219-22.875 128.354-63.224 1.589-2.224 4.448-3.495 7.307-3.813 2.859 0 5.719.953 7.943 2.859l43.526 43.844c3.495 3.495 3.813 9.531.635 13.661-46.385 55.917-115.01 88.005-187.766 88.005-134.391 0-244-109.609-244-244z"/>'%>
   <%='</svg>'%>
   <%='Reset timer'%>
<%='</a>'%></code></pre>

   <pre class="xs-mt1"><code class="html"><%='<a class="button button--icon button--secondary" href="#">'%>
  <%='<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">'%>
  <%='<path d="M12 256c0-134.391 109.609-244 244-244 62.589 0 123.271 25.099 168.068 67.354l41.302-40.984c5.719-6.036 14.615-7.625 21.922-4.448 7.625 3.177 12.708 10.484 12.708 18.745v142.333c0 11.12-9.214 20.333-20.333 20.333h-142.333c-8.26 0-15.568-5.083-18.745-12.708-3.177-7.307-1.589-16.203 4.448-21.922l43.526-43.844c-29.547-27.641-68.943-43.526-110.563-43.526-89.594 0-162.667 73.073-162.667 162.667 0 89.594 73.073 162.667 162.667 162.667 50.516 0 97.219-22.875 128.354-63.224 1.589-2.224 4.448-3.495 7.307-3.813 2.859 0 5.719.953 7.943 2.859l43.526 43.844c3.495 3.495 3.813 9.531.635 13.661-46.385 55.917-115.01 88.005-187.766 88.005-134.391 0-244-109.609-244-244z"/>'%>
   <%='</svg>'%>
   <%='Reset timer'%>
<%='</a>'%></code></pre>
</section>

<section class="xs-mb6">
  <h2 class="bold xs-mb2">Social Buttons</h2>
  <p class="xs-mb4">Combine <span class="nowrap">.<code class="js-highlight">button</code></span> with <span class="nowrap">.<code class="js-highlight">button--icon</code></span> to include an icon. Use <span class="nowrap">.<code class="js-highlight">button-socialnetworkname</code></span> to assign the fill color. </p>
  <div class="xs-mb4">
    <a class="button button--icon button--facebook" href="#">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M427.245 262.99h-55.599v201.745h-83.24v-201.745h-41.62v-69.578h41.62v-41.62c0-56.87 23.51-90.547 90.229-90.547h55.599v69.578h-34.948c-25.734 0-27.641 9.849-27.641 27.958v34.63h62.906l-7.307 69.578zm72.755-159.49c0-50.516-40.984-91.5-91.5-91.5h-305c-50.516 0-91.5 40.984-91.5 91.5v305c0 50.516 40.984 91.5 91.5 91.5h305c50.516 0 91.5-40.984 91.5-91.5v-305z"/>
      </svg>
      Follow us
    </a>

    <a class="button button--icon button--twitter" href="#">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M486.746 108.788c-17.472 7.531-36.449 12.953-56.03 15.062 20.183-12.049 35.546-31.027 42.775-53.62-18.677 11.146-39.763 19.279-61.753 23.496-17.773-18.978-43.077-30.726-71.091-30.726-53.921 0-97.299 43.679-97.299 97.299 0 7.531.904 15.062 2.41 22.291-80.731-4.217-152.726-42.775-200.622-101.817-8.435 14.459-13.254 31.027-13.254 49.101 0 33.738 17.17 63.561 43.378 81.032-15.965-.602-31.027-5.121-43.98-12.351v1.205c0 47.294 33.437 86.454 78.02 95.491-8.133 2.109-16.869 3.314-25.605 3.314-6.326 0-12.351-.602-18.375-1.506 12.351 38.558 48.198 66.573 90.973 67.477-33.437 26.207-75.309 41.57-120.795 41.57-8.133 0-15.664-.301-23.496-1.205 43.077 27.714 94.287 43.679 149.413 43.679 178.934 0 276.835-148.208 276.835-276.835 0-4.217 0-8.435-.301-12.652 18.978-13.857 35.546-31.027 48.8-50.306z"/>
      </svg>
      Follow us
    </a>

    <a class="button button--icon button--google" href="#">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M268.904 404.101c0 51.322-48.683 68.918-92.38 68.918-46.923 0-110.269-21.702-110.269-78.01 0-61 71.558-76.25 119.654-76.25 4.986 0 9.678 0 14.663.587 29.913 20.822 68.332 43.697 68.332 84.755zm-35.192-252.798c0 35.779-13.784 64.813-53.962 64.813-52.202 0-81.529-69.798-81.529-114.375 0-34.606 18.769-68.625 57.188-68.625 54.255 0 78.303 73.611 78.303 118.188zm-38.418-139.303c-18.476 0-36.952 2.053-54.841 5.865-53.375 11.731-96.486 59.24-96.486 114.962 0 58.947 49.269 100.885 106.163 100.885 6.745 0 13.49-.587 20.529-1.466-2.933 9.091-6.452 15.543-6.452 25.221 0 16.423 9.091 31.087 18.769 43.697-52.495 1.466-134.024 14.957-160.125 67.745-6.159 12.317-10.851 25.808-10.851 39.591 0 68.038 79.183 91.5 134.024 91.5 43.404 0 89.447-9.385 123.173-38.418 24.928-21.702 41.058-48.976 41.058-82.702 0-82.115-87.981-97.072-87.981-134.904 0-38.712 65.692-44.577 65.692-122.293 0-32.846-14.663-68.332-43.697-86.514h39.591l39.591-23.168h-128.159zm304.707 75.077h-75.077v-75.077h-37.538v75.077h-75.077v37.538h75.077v75.077h37.538v-75.077h75.077v-37.538z"/>
      </svg>
      Follow us
    </a>

  </div>

  <pre class="xs-mt2"><code class="html"><%='<a class="button button--icon button--facebook" href="#">'%>
  <%='<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">'%>
  <%='<path d="M427.245 262.99h-55.599v201.745h-83.24v-201.745h-41.62v-69.578h41.62v-41.62c0-56.87 23.51-90.547 90.229-90.547h55.599v69.578h-34.948c-25.734 0-27.641 9.849-27.641 27.958v34.63h62.906l-7.307 69.578zm72.755-159.49c0-50.516-40.984-91.5-91.5-91.5h-305c-50.516 0-91.5 40.984-91.5 91.5v305c0 50.516 40.984 91.5 91.5 91.5h305c50.516 0 91.5-40.984 91.5-91.5v-305z"/>'%>
   <%='</svg>'%>
   <%='Follow us'%>
<%='</a>'%></code></pre>

  <pre class="xs-mt2"><code class="html"><%='<a class="button button--icon button--twitter" href="#">'%>
  <%='<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">'%>
  <%='<path d="M486.746 108.788c-17.472 7.531-36.449 12.953-56.03 15.062 20.183-12.049 35.546-31.027 42.775-53.62-18.677 11.146-39.763 19.279-61.753 23.496-17.773-18.978-43.077-30.726-71.091-30.726-53.921 0-97.299 43.679-97.299 97.299 0 7.531.904 15.062 2.41 22.291-80.731-4.217-152.726-42.775-200.622-101.817-8.435 14.459-13.254 31.027-13.254 49.101 0 33.738 17.17 63.561 43.378 81.032-15.965-.602-31.027-5.121-43.98-12.351v1.205c0 47.294 33.437 86.454 78.02 95.491-8.133 2.109-16.869 3.314-25.605 3.314-6.326 0-12.351-.602-18.375-1.506 12.351 38.558 48.198 66.573 90.973 67.477-33.437 26.207-75.309 41.57-120.795 41.57-8.133 0-15.664-.301-23.496-1.205 43.077 27.714 94.287 43.679 149.413 43.679 178.934 0 276.835-148.208 276.835-276.835 0-4.217 0-8.435-.301-12.652 18.978-13.857 35.546-31.027 48.8-50.306z"/>'%>
   <%='</svg>'%>
   <%='Follow us'%>
<%='</a>'%></code></pre>

   <pre class="xs-mt1"><code class="html"><%='<a class="button button--icon button--google" href="#">'%>
  <%='<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">'%>
  <%='<path d="M268.904 404.101c0 51.322-48.683 68.918-92.38 68.918-46.923 0-110.269-21.702-110.269-78.01 0-61 71.558-76.25 119.654-76.25 4.986 0 9.678 0 14.663.587 29.913 20.822 68.332 43.697 68.332 84.755zm-35.192-252.798c0 35.779-13.784 64.813-53.962 64.813-52.202 0-81.529-69.798-81.529-114.375 0-34.606 18.769-68.625 57.188-68.625 54.255 0 78.303 73.611 78.303 118.188zm-38.418-139.303c-18.476 0-36.952 2.053-54.841 5.865-53.375 11.731-96.486 59.24-96.486 114.962 0 58.947 49.269 100.885 106.163 100.885 6.745 0 13.49-.587 20.529-1.466-2.933 9.091-6.452 15.543-6.452 25.221 0 16.423 9.091 31.087 18.769 43.697-52.495 1.466-134.024 14.957-160.125 67.745-6.159 12.317-10.851 25.808-10.851 39.591 0 68.038 79.183 91.5 134.024 91.5 43.404 0 89.447-9.385 123.173-38.418 24.928-21.702 41.058-48.976 41.058-82.702 0-82.115-87.981-97.072-87.981-134.904 0-38.712 65.692-44.577 65.692-122.293 0-32.846-14.663-68.332-43.697-86.514h39.591l39.591-23.168h-128.159zm304.707 75.077h-75.077v-75.077h-37.538v75.077h-75.077v37.538h75.077v75.077h37.538v-75.077h75.077v-37.538z"'%>
    <%='</svg>'%>
    <%='Follow us'%>
<%='</a>'%></code></pre>
</section>

<section class="xs-mb6">
  <h2 class="bold xs-mb2">Button Groups</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">button-group</code></span> class and a combination of radio inputs (<span class="nowrap">.<code class="js-highlight">button-group__radio</code></span>) and labels (<span class="nowrap">.<code class="js-highlight">button-group__item</code></span>) to create segmented controls. This pattern should only be used when there are at least 3 buttons.</p>
  
  <form>
    <div class="button-group">
      <input class="button-group__radio" type="radio" id="option_1" value="option_1" name="options" checked="checked">
      <label class="button-group__item" for="option_1">Option 1</label>

      <input class="button-group__radio" type="radio" id="option_2" value="option_2" name="options">
      <label class="button-group__item" for="option_2">Option 2</label>

      <input class="button-group__radio" type="radio" id="option_3" value="option_3" name="options">
      <label class="button-group__item" for="option_3">Option 3</label>
    </div>
  </form>

  <pre class="xs-mt2"><code class="html"><%='<div class="button-group">'%>
  <%='<input class="button-group__radio" type="radio" id="option_1" value="option_1" name="options" checked="checked">'%>
  <%='<label class="button-group__item" for="option_1">Option 1</label>'%>
  <%='<input class="button-group__radio" type="radio" id="option_2" value="option_2" name="options">'%>
  <%='<label class="button-group__item" for="option_2">Option 2</label>'%>
  <%='<input class="button-group__radio" type="radio" id="option_3" value="option_3" name="options">'%>
  <%='<label class="button-group__item" for="option_3">Option 3</label>'%>
<%='</div>'%></code></pre>
</section>

<section class="xs-mb6">
  <h2 class="bold xs-mb2">Small Buttons</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">button--small</code></span> class for smaller versions of all Solid's button types.</p>

  <div class="xs-mb4">
    <a class="button--small button--primary" href="#">Link</a>
    <button class="button--small button--primary">Button</button>
    <a class="button--small button--secondary" href="#">Link</a>
    <button class="button--small button--secondary">Button</button>
    <button class="button--small button--negative">Delete</button>
  </div>
  <pre class="xs-mb1"><code class="html"><%='<a class="button--small button--primary" href="">Link</a>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<button class="button--small button--primary">Button</button>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<a class="button--small button--secondary" href="">Link</a>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<button class="button--small button--secondary">Button</button>'%></code></pre>
  <pre><code class="html"><%='<button class="button--small button--negative">Delete</button>'%></code></pre>
</section>


<section class="xs-mb6">
  <h2 class="bold xs-mb2">Small Buttons with Icon</h2>
  <p class="xs-mb4">Combine <span class="nowrap">.<code class="js-highlight">button--primary</code></span> or <span class="nowrap">.<code class="js-highlight">button--secondary</code></span> with <span class="nowrap">.<code class="js-highlight">button--icon</code></span> to include an icon.</p>
  <div class="xs-mb4">
    <a class="button--small button--icon button--primary" href="#">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 256c0-134.391 109.609-244 244-244 62.589 0 123.271 25.099 168.068 67.354l41.302-40.984c5.719-6.036 14.615-7.625 21.922-4.448 7.625 3.177 12.708 10.484 12.708 18.745v142.333c0 11.12-9.214 20.333-20.333 20.333h-142.333c-8.26 0-15.568-5.083-18.745-12.708-3.177-7.307-1.589-16.203 4.448-21.922l43.526-43.844c-29.547-27.641-68.943-43.526-110.563-43.526-89.594 0-162.667 73.073-162.667 162.667 0 89.594 73.073 162.667 162.667 162.667 50.516 0 97.219-22.875 128.354-63.224 1.589-2.224 4.448-3.495 7.307-3.813 2.859 0 5.719.953 7.943 2.859l43.526 43.844c3.495 3.495 3.813 9.531.635 13.661-46.385 55.917-115.01 88.005-187.766 88.005-134.391 0-244-109.609-244-244z"/>
      </svg>
      Reset timer
    </a>

     <a class="button--small button--icon button--secondary" href="#">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M12 256c0-134.391 109.609-244 244-244 62.589 0 123.271 25.099 168.068 67.354l41.302-40.984c5.719-6.036 14.615-7.625 21.922-4.448 7.625 3.177 12.708 10.484 12.708 18.745v142.333c0 11.12-9.214 20.333-20.333 20.333h-142.333c-8.26 0-15.568-5.083-18.745-12.708-3.177-7.307-1.589-16.203 4.448-21.922l43.526-43.844c-29.547-27.641-68.943-43.526-110.563-43.526-89.594 0-162.667 73.073-162.667 162.667 0 89.594 73.073 162.667 162.667 162.667 50.516 0 97.219-22.875 128.354-63.224 1.589-2.224 4.448-3.495 7.307-3.813 2.859 0 5.719.953 7.943 2.859l43.526 43.844c3.495 3.495 3.813 9.531.635 13.661-46.385 55.917-115.01 88.005-187.766 88.005-134.391 0-244-109.609-244-244z"/>
      </svg>
      Reset timer
    </a>

  </div>

  <pre class="xs-mt2"><code class="html"><%='<a class="button--small button--icon button--primary" href="#">'%>
  <%='<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">'%>
  <%='<path d="M12 256c0-134.391 109.609-244 244-244 62.589 0 123.271 25.099 168.068 67.354l41.302-40.984c5.719-6.036 14.615-7.625 21.922-4.448 7.625 3.177 12.708 10.484 12.708 18.745v142.333c0 11.12-9.214 20.333-20.333 20.333h-142.333c-8.26 0-15.568-5.083-18.745-12.708-3.177-7.307-1.589-16.203 4.448-21.922l43.526-43.844c-29.547-27.641-68.943-43.526-110.563-43.526-89.594 0-162.667 73.073-162.667 162.667 0 89.594 73.073 162.667 162.667 162.667 50.516 0 97.219-22.875 128.354-63.224 1.589-2.224 4.448-3.495 7.307-3.813 2.859 0 5.719.953 7.943 2.859l43.526 43.844c3.495 3.495 3.813 9.531.635 13.661-46.385 55.917-115.01 88.005-187.766 88.005-134.391 0-244-109.609-244-244z"/>'%>
   <%='</svg>'%>
   <%='Reset timer'%>
<%='</a>'%></code></pre>

   <pre class="xs-mt1"><code class="html"><%='<a class="button--small button--icon button--secondary" href="#">'%>
  <%='<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">'%>
  <%='<path d="M12 256c0-134.391 109.609-244 244-244 62.589 0 123.271 25.099 168.068 67.354l41.302-40.984c5.719-6.036 14.615-7.625 21.922-4.448 7.625 3.177 12.708 10.484 12.708 18.745v142.333c0 11.12-9.214 20.333-20.333 20.333h-142.333c-8.26 0-15.568-5.083-18.745-12.708-3.177-7.307-1.589-16.203 4.448-21.922l43.526-43.844c-29.547-27.641-68.943-43.526-110.563-43.526-89.594 0-162.667 73.073-162.667 162.667 0 89.594 73.073 162.667 162.667 162.667 50.516 0 97.219-22.875 128.354-63.224 1.589-2.224 4.448-3.495 7.307-3.813 2.859 0 5.719.953 7.943 2.859l43.526 43.844c3.495 3.495 3.813 9.531.635 13.661-46.385 55.917-115.01 88.005-187.766 88.005-134.391 0-244-109.609-244-244z"/>'%>
   <%='</svg>'%>
   <%='Reset timer'%>
<%='</a>'%></code></pre>
</section>


<section class="xs-mb6">
  <h2 class="bold xs-mb2">Small Social Buttons</h2>
  <p class="xs-mb4">Combine <span class="nowrap">.<code class="js-highlight">button--small</code></span> with <span class="nowrap">.<code class="js-highlight">button--icon</code></span> to include an icon. Use <span class="nowrap">.<code class="js-highlight">button-socialnetworkname</code></span> to assign the fill color. </p>
  <div class="xs-mb4">
    <a class="button--small button--icon button--facebook" href="#">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M427.245 262.99h-55.599v201.745h-83.24v-201.745h-41.62v-69.578h41.62v-41.62c0-56.87 23.51-90.547 90.229-90.547h55.599v69.578h-34.948c-25.734 0-27.641 9.849-27.641 27.958v34.63h62.906l-7.307 69.578zm72.755-159.49c0-50.516-40.984-91.5-91.5-91.5h-305c-50.516 0-91.5 40.984-91.5 91.5v305c0 50.516 40.984 91.5 91.5 91.5h305c50.516 0 91.5-40.984 91.5-91.5v-305z"/>
      </svg>
      Follow us
    </a>

    <a class="button--small button--icon button--twitter" href="#">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M486.746 108.788c-17.472 7.531-36.449 12.953-56.03 15.062 20.183-12.049 35.546-31.027 42.775-53.62-18.677 11.146-39.763 19.279-61.753 23.496-17.773-18.978-43.077-30.726-71.091-30.726-53.921 0-97.299 43.679-97.299 97.299 0 7.531.904 15.062 2.41 22.291-80.731-4.217-152.726-42.775-200.622-101.817-8.435 14.459-13.254 31.027-13.254 49.101 0 33.738 17.17 63.561 43.378 81.032-15.965-.602-31.027-5.121-43.98-12.351v1.205c0 47.294 33.437 86.454 78.02 95.491-8.133 2.109-16.869 3.314-25.605 3.314-6.326 0-12.351-.602-18.375-1.506 12.351 38.558 48.198 66.573 90.973 67.477-33.437 26.207-75.309 41.57-120.795 41.57-8.133 0-15.664-.301-23.496-1.205 43.077 27.714 94.287 43.679 149.413 43.679 178.934 0 276.835-148.208 276.835-276.835 0-4.217 0-8.435-.301-12.652 18.978-13.857 35.546-31.027 48.8-50.306z"/>
      </svg>
      Follow us
    </a>

    <a class="button--small button--icon button--google" href="#">
      <svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
        <path d="M268.904 404.101c0 51.322-48.683 68.918-92.38 68.918-46.923 0-110.269-21.702-110.269-78.01 0-61 71.558-76.25 119.654-76.25 4.986 0 9.678 0 14.663.587 29.913 20.822 68.332 43.697 68.332 84.755zm-35.192-252.798c0 35.779-13.784 64.813-53.962 64.813-52.202 0-81.529-69.798-81.529-114.375 0-34.606 18.769-68.625 57.188-68.625 54.255 0 78.303 73.611 78.303 118.188zm-38.418-139.303c-18.476 0-36.952 2.053-54.841 5.865-53.375 11.731-96.486 59.24-96.486 114.962 0 58.947 49.269 100.885 106.163 100.885 6.745 0 13.49-.587 20.529-1.466-2.933 9.091-6.452 15.543-6.452 25.221 0 16.423 9.091 31.087 18.769 43.697-52.495 1.466-134.024 14.957-160.125 67.745-6.159 12.317-10.851 25.808-10.851 39.591 0 68.038 79.183 91.5 134.024 91.5 43.404 0 89.447-9.385 123.173-38.418 24.928-21.702 41.058-48.976 41.058-82.702 0-82.115-87.981-97.072-87.981-134.904 0-38.712 65.692-44.577 65.692-122.293 0-32.846-14.663-68.332-43.697-86.514h39.591l39.591-23.168h-128.159zm304.707 75.077h-75.077v-75.077h-37.538v75.077h-75.077v37.538h75.077v75.077h37.538v-75.077h75.077v-37.538z"/>
      </svg>
      Follow us
    </a>
  </div>

  <pre class="xs-mt2"><code class="html"><%='<a class="button--small button--icon button--facebook" href="#">'%>
  <%='<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">'%>
  <%='<path d="M427.245 262.99h-55.599v201.745h-83.24v-201.745h-41.62v-69.578h41.62v-41.62c0-56.87 23.51-90.547 90.229-90.547h55.599v69.578h-34.948c-25.734 0-27.641 9.849-27.641 27.958v34.63h62.906l-7.307 69.578zm72.755-159.49c0-50.516-40.984-91.5-91.5-91.5h-305c-50.516 0-91.5 40.984-91.5 91.5v305c0 50.516 40.984 91.5 91.5 91.5h305c50.516 0 91.5-40.984 91.5-91.5v-305z"/>'%>
   <%='</svg>'%>
   <%='Follow us'%>
<%='</a>'%></code></pre>

<pre class="xs-mt2"><code class="html"><%='<a class="button--small button--icon button--twitter" href="#">'%>
  <%='<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">'%>
  <%='<path d="M486.746 108.788c-17.472 7.531-36.449 12.953-56.03 15.062 20.183-12.049 35.546-31.027 42.775-53.62-18.677 11.146-39.763 19.279-61.753 23.496-17.773-18.978-43.077-30.726-71.091-30.726-53.921 0-97.299 43.679-97.299 97.299 0 7.531.904 15.062 2.41 22.291-80.731-4.217-152.726-42.775-200.622-101.817-8.435 14.459-13.254 31.027-13.254 49.101 0 33.738 17.17 63.561 43.378 81.032-15.965-.602-31.027-5.121-43.98-12.351v1.205c0 47.294 33.437 86.454 78.02 95.491-8.133 2.109-16.869 3.314-25.605 3.314-6.326 0-12.351-.602-18.375-1.506 12.351 38.558 48.198 66.573 90.973 67.477-33.437 26.207-75.309 41.57-120.795 41.57-8.133 0-15.664-.301-23.496-1.205 43.077 27.714 94.287 43.679 149.413 43.679 178.934 0 276.835-148.208 276.835-276.835 0-4.217 0-8.435-.301-12.652 18.978-13.857 35.546-31.027 48.8-50.306z"/>'%>
   <%='</svg>'%>
   <%='Follow us'%>
<%='</a>'%></code></pre>

   <pre class="xs-mt1"><code class="html"><%='<a class="button--small button--icon button--google" href="#">'%>
  <%='<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">'%>
  <%='<path d="M268.904 404.101c0 51.322-48.683 68.918-92.38 68.918-46.923 0-110.269-21.702-110.269-78.01 0-61 71.558-76.25 119.654-76.25 4.986 0 9.678 0 14.663.587 29.913 20.822 68.332 43.697 68.332 84.755zm-35.192-252.798c0 35.779-13.784 64.813-53.962 64.813-52.202 0-81.529-69.798-81.529-114.375 0-34.606 18.769-68.625 57.188-68.625 54.255 0 78.303 73.611 78.303 118.188zm-38.418-139.303c-18.476 0-36.952 2.053-54.841 5.865-53.375 11.731-96.486 59.24-96.486 114.962 0 58.947 49.269 100.885 106.163 100.885 6.745 0 13.49-.587 20.529-1.466-2.933 9.091-6.452 15.543-6.452 25.221 0 16.423 9.091 31.087 18.769 43.697-52.495 1.466-134.024 14.957-160.125 67.745-6.159 12.317-10.851 25.808-10.851 39.591 0 68.038 79.183 91.5 134.024 91.5 43.404 0 89.447-9.385 123.173-38.418 24.928-21.702 41.058-48.976 41.058-82.702 0-82.115-87.981-97.072-87.981-134.904 0-38.712 65.692-44.577 65.692-122.293 0-32.846-14.663-68.332-43.697-86.514h39.591l39.591-23.168h-128.159zm304.707 75.077h-75.077v-75.077h-37.538v75.077h-75.077v37.538h75.077v75.077h37.538v-75.077h75.077v-37.538z"'%>
    <%='</svg>'%>
    <%='Follow us'%>
<%='</a>'%></code></pre>
</section>

<section class="xs-mb6">
  <h2 class="bold xs-mb2">Small Button Groups</h2>
  <p class="xs-mb4">Simply use <span class="nowrap">.<code class="js-highlight">button-group--small</code></span> to create a smaller version of the segmented button above.</p>

  <form>
    <div class="button-group--small">
      <input class="button-group__radio" type="radio" id="option_4" value="option_4" name="options" checked="checked">
      <label class="button-group__item" for="option_4">Option 4</label>

      <input class="button-group__radio" type="radio" id="option_5" value="option_5" name="options">
      <label class="button-group__item" for="option_5">Option 5</label>

      <input class="button-group__radio" type="radio" id="option_6" value="option_6" name="options">
      <label class="button-group__item" for="option_6">Option 6</label>
    </div>
  </form>

  <pre class="xs-mt2"><code class="html"><%='<div class="button-group--small">'%>
  <%='<input class="button-group__radio" type="radio" id="option_4" value="option_4" name="options" checked="checked">'%>
  <%='<label class="button-group__item" for="option_4">Option 4</label>'%>
  <%='<input class="button-group__radio" type="radio" id="option_5" value="option_5" name="options">'%>
  <%='<label class="button-group__item" for="option_5">Option 5</label>'%>
  <%='<input class="button-group__radio" type="radio" id="option_6" value="option_6" name="options">'%>
  <%='<label class="button-group__item" for="option_6">Option 6</label>'%>
<%='</div>'%></code></pre>
</section>