<!--<section class="xs-mb4 xs-pb2">

  <h2 class="bold xs-mb2">Buttons</h2>

  <p class="xs-mb4">Solid provides a variety as buttons to use as links or page actions. The default <span class="nowrap">.<code class="js-highlight">button</code></span> class applies a base reset, padding and type size to both buttons and links.</p>

  <p class="xs-mb1">.<code class="js-highlight">button</code></p>

  <a href="#" class="button">Link</a> <button class="button">Button</button>

</section>-->

<section class="xs-mb4 xs-pb2">

  <h2 class="bold xs-mb2">Primary Buttons</h2>

  <p class="xs-mb4">This button type is used for primary links and page actions. It can be used with either <code class="js-highlight">a</code> or <code class="js-highlight">button</code> tags.</p>

  <div class="xs-mb4">
    <p class="xs-mb1">.<code class="js-highlight">button--primary</code></p>
    <a class="button button--primary" href="#">Link</a>
    <button class="button button--primary">Button</button>
  </div>
  <pre class="xs-mt2"><code class="html"><%='<a class="button button--primary" href="">Link</a>'%></code></pre>
  <pre class="xs-mt1"><code class="html"><%='<button class="button button--primary">Button</button>'%></code></pre>

</section>

<section class="xs-mb4 xs-pb2">

  <h2 class="bold xs-mb2">Secondary Buttons</h2>

  <p class="xs-mb4">This button type is used for secondary links and page actions. It can be used with either <code class="js-highlight">a</code> or <code class="js-highlight">button</code> tags.</p>

  <div class="xs-mb4">
    <p class="xs-mb1">.<code class="js-highlight">button--secondary</code></p>
    <a class="button button--secondary" href="">Link</a>
    <button class="button button--secondary">Button</button>
  </div>
  <pre class="xs-mt2"><code class="html"><%='<a class="button button--secondary" href="">Link</a>'%></code></pre>
  <pre class="xs-mt1"><code class="html"><%='<button class="button button--secondary">Button</button>'%></code></pre>

</section>

<section class="xs-mb4 xs-pb2">

  <h2 class="bold xs-mb2">Negative Buttons</h2>

  <p class="xs-mb4">This button type is used for destructive links and page actions. It can be used with either <code class="js-highlight">a</code> or <code class="js-highlight">button</code> tags.</p>

  <div class="xs-mb4">
    <p class="xs-mb1">.<code class="js-highlight">button--delete</code></p>
    <a class="button button--delete" href="">Link</a>
    <button class="button button--delete">Button</button>
  </div>
  <pre class="xs-mt2"><code class="html"><%='<a class="button button--delete" href="">Link</a>'%></code></pre>
  <pre class="xs-mt1"><code class="html"><%='<button class="button button--delete">Button</button>'%></code></pre>

</section>

<section class="xs-mb4 xs-pb2">

  <h2 class="bold xs-mb2">Disabled Buttons</h2>

  <p class="xs-mb4">This button type is used for inactive links and page actions.</p>

  <div class="xs-mb4">
    <a class="button--disabled button--primary" href="">Link</a>
    <button class="button--disabled button--primary">Button</button>
    <a class="button--disabled button--secondary" href="">Link</a>
    <button class="button--disabled button--secondary">Button</button>
    <button class="button--disabled button--delete">Delete</button>
  </div>
  <pre class="xs-mb1"><code class="html"><%='<a class="button--disabled button--primary" href="">Link</a>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<button class="button--disabled button--primary">Button</button>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<a class="button--disabled button--secondary" href="">Link</a>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<button class="button--disabled button--secondary">Button</button>'%></code></pre>
  <pre><code class="html"><%='<button class="button--disabled button--delete">Delete</button>'%></code></pre>

</section>

<section class="xs-mb4 xs-pb2">

  <h2 class="bold xs-mb2">Small Buttons</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">button--small</code></span> class for smaller versions of all Solid's button types.</p>

  <div class="xs-mb4">
    <a class="button--small button--primary" href="#">Link</a>
    <button class="button--small button--primary">Button</button>
    <a class="button--small button--secondary" href="#">Link</a>
    <button class="button--small button--secondary">Button</button>
    <button class="button--small button--delete">Delete</button>
  </div>
  <pre class="xs-mb1"><code class="html"><%='<a class="button--small button--primary" href="">Link</a>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<button class="button--small button--primary">Button</button>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<a class="button--small button--secondary" href="">Link</a>'%></code></pre>
  <pre class="xs-mb1"><code class="html"><%='<button class="button--small button--secondary">Button</button>'%></code></pre>
  <pre><code class="html"><%='<button class="button--small button--delete">Delete</button>'%></code></pre>

</section>

<section class="xs-mb4 xs-pb2">

  <h2 class="bold xs-mb2">Segmented Buttons</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">segmented-button</code></span> and a combination of radio inputs and labels to create segmented controls. This pattern should only be used when there are at least three buttons.</p>
  
  <form>

    <div class="segmented-button">

      <input type="radio" id="cool_guy_1" value="cool_guy_1" name="cool_guys" checked="checked">
      <label class="segmented-button-label" for="cool_guy_1">Option 1</label>

      <input type="radio" id="cool_guy_2" value="cool_guy_2" name="cool_guys">
      <label class="segmented-button-label" for="cool_guy_2">Option 2</label>

      <input type="radio" id="cool_guy_3" value="cool_guy_3" name="cool_guys">
      <label class="segmented-button-label" for="cool_guy_3">Option 3</label>

    </div>

  </form>

  <pre class="xs-mt2"><code class="html"><%='<div class="segmented-button">'%>
  <%='<input type="radio" id="cool_guy_1" value="cool_guy_1" name="cool_guys" checked="checked">'%>
  <%='<label class="segmented-button-label" for="cool_guy_1">Option 1</label>'%>
  <%='<input type="radio" id="cool_guy_2" value="cool_guy_2" name="cool_guys">'%>
  <%='<label class="segmented-button-label" for="cool_guy_2">Option 2</label>'%>
  <%='<input type="radio" id="cool_guy_3" value="cool_guy_3" name="cool_guys">'%>
  <%='<label class="segmented-button-label" for="cool_guy_3">Option 3</label>'%>
<%='</div>'%></code></pre>

</section>

<section class="xs-mb4 xs-pb2">

  <h2 class="bold xs-mb2">Small Segmented Buttons</h2>

  <p class="xs-mb4">Simply use <span class="nowrap">.<code class="js-highlight">segemented-button--small</code></span> to create a smaller version of the segmented button above.</p>

  <form>

    <div class="segmented-button--small">

      <input type="radio" id="cool_guy_1" value="cool_guy_1" name="cool_guys" checked="checked">
      <label class="segmented-button-label" for="cool_guy_1">Option 1</label>

      <input type="radio" id="cool_guy_2" value="cool_guy_2" name="cool_guys">
      <label class="segmented-button-label" for="cool_guy_2">Option 2</label>

      <input type="radio" id="cool_guy_3" value="cool_guy_3" name="cool_guys">
      <label class="segmented-button-label" for="cool_guy_3">Option 3</label>

    </div>
  
  </form>

  <pre class="xs-mt2"><code class="html"><%='<div class="segmented-button--small">'%>
  <%='<input type="radio" id="cool_guy_1" value="cool_guy_1" name="cool_guys" checked="checked">'%>
  <%='<label class="segmented-button-label" for="cool_guy_1">Option 1</label>'%>
  <%='<input type="radio" id="cool_guy_2" value="cool_guy_2" name="cool_guys">'%>
  <%='<label class="segmented-button-label" for="cool_guy_2">Option 2</label>'%>
  <%='<input type="radio" id="cool_guy_3" value="cool_guy_3" name="cool_guys">'%>
  <%='<label class="segmented-button-label" for="cool_guy_3">Option 3</label>'%>
<%='</div>'%></code></pre>

</section>
