<h2 class="bold border-bottom mb4 pb2">Buttons</h2>

<section class="mb4">
  <h3 class="bold">Default Buttons</h3>
  <h4 class="xs-col-12 lg-col-9 mb3">By default, buttons size to the width of the text inside them. 
  </h4>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Primary button</label>
      <label class="block type-4 text-gray-lighter">The primary button is used for actions where the button takes a forceful action, or a <i>primary</i> action on the page. It’s used for cases like <strong>Yes</strong>/No and <strong>Add</strong>/Cancel. It’s also used for things like Sign Up and Log in. <br><br>
      <strong>For a button that links,</strong> use an <code>a</code> element that's styled like a button. <br><br>
      <strong>For a button that performs an action on this page,</strong> use a <code>button</code> element when you are submitting to a database (Submit, Load More, etc.).</label>
    </div>
  <div class="fill-white p3">
    <a class="button button--primary" href="">Link</a>
    <button class="button button--primary">Button</button>
    <pre class="mt1"><code class="html"><%='<a class="button button--primary" href="">Link</a>'%></code></pre>
    <pre class="mt1"><code class="html"><%='<button class="button button--primary">Button</button>'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Secondary button</label>
      <label class="block type-4 text-gray-lighter">The secondary button is used for actions that are less important than the primary action (if there is one). This button is used for things like Yes/<strong>No</strong> and Add/<strong>Cancel</strong>. It also can be used to load more content, like Load more and More news. This button does not have a background fill. <br><br> 
      <strong>For a button that links,</strong> use an <code>a</code> element that's styled like a button. <br><br>
      <strong>For a button that performs an action on this page,</strong> use a <code>button</code> element when you are submitting to a database (Submit, Load More, etc.).</label></label>
    </div>
  <div class="fill-white p3">
    <a class="button button--secondary" href="">Link</a>
    <button class="button button--secondary">Button</button>
    <pre class="mt1"><code class="html"><%='<a class="button button--secondary" href="">Link</a>'%></code></pre>
    <pre class="mt1"><code class="html"><%='<button class="button button--secondary">Button</button>'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Delete button</label>
      <label class="block type-4 text-gray-lighter">Use this button only for deleting! Please don't use this for any other type of negative or dangerous action. It should only be used if something is going to be deleted after clicking this button.</label>
    </div>
  <div class="fill-white p3">
    <button class="button button--delete">Delete</button>
    <pre class="mt1"><code class="html"><%='<button class="button button--delete">Delete</button>'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Disabled buttons</label>
      <label class="block type-4 text-gray-lighter">This button is disabled and cannot be clicked. Use the <code class="js-highlight">button--disabled</code> class to make a disabled button.</label>
    </div>
  <div class="fill-white p3">
    <a class="button button--primary button--disabled" href="">Link</a>
    <button class="button button--primary button--disabled">Button</button>
    <a class="button button--secondary button--disabled" href="">Link</a>
    <button class="button button--secondary button--disabled">Button</button>
    <button class="button button--delete button--disabled">Delete</button>
    <pre class="mt1"><code class="html"><%='<a class="button button--primary button--disabled" href="">Link</a>'%></code></pre>
    <pre class="mt1"><code class="html"><%='<button class="button button--primary button--disabled">Button</button>'%></code></pre>
    <pre class="mt1"><code class="html"><%='<a class="button button--secondary button--disabled" href="">Link</a>'%></code></pre>
    <pre class="mt1"><code class="html"><%='<button class="button button--secondary button--disabled">Button</button>'%></code></pre>
    <pre class="mt1"><code class="html"><%='<button class="button button--delete button--disabled">Delete</button>'%></code></pre>
    </div>
  </div>


  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Small buttons</label>
      <label class="block type-4 text-gray-lighter">Use the <code class="js-highlight">button--small</code> class to make a small button.</label>
    </div>
  <div class="fill-white p3">
    <a class="button button--primary button--small" href="">Link</a>
    <button class="button button--primary button--small">Button</button>
    <a class="button button--secondary button--small" href="">Link</a>
    <button class="button button--secondary button--small">Button</button>
    <button class="button button--delete button--small">Delete</button>

    <pre class="mt1"><code class="html"><%='<a class="button button--primary button--small" href="">Link</a>'%></code></pre>
    <pre class="mt1"><code class="html"><%='<button class="button button--primary button--small">Button</button>'%></code></pre>
    <pre class="mt1"><code class="html"><%='<a class="button button--secondary button--small" href="">Link</a>'%></code></pre>
    <pre class="mt1"><code class="html"><%='<button class="button button--secondary button--small">Button</button>'%></code></pre>
    <pre class="mt1"><code class="html"><%='<button class="button button--delete button--small">Delete</button>'%></code></pre>
    </div>
  </div>

 
</section>

<section class="mb4">
  <h3 class="bold mb2">Using multiple buttons together</h3>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Primary button as primary action</label>
      <label class="block type-4 text-gray-lighter">The primary button should always be placed to the right of the secondary button.</label>
    </div>
  <div class="fill-white p3">
    <a class="button button--secondary" href="">Cancel</a>
    <a class="button button--primary" href="">Add</a>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Delete button as primary action</label>
      <label class="block type-4 text-gray-lighter">The delete button should always be placed to the right of the secondary button.</label>
    </div>
  <div class="fill-white p3">
    <a class="button button--secondary" href="">Cancel</a>
    <a class="button button--delete" href="">Delete</a>
    </div>
  </div>

</section>
