<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Form Labels</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">form-label</code></span> class to get default margins, layout and styling for form labels. BuzzFeed labels are always written in sentence case. Additionally, use the <span class="nowrap">.<code class="js-highlight">form-label--required</code></span> class around an asterisk to declare a field required. If a field needs to be marked as optional, wrap "(optional)" in <span class="nowrap">.<code class="js-highlight">form-label--optional</code></span>.</p>

  <form class="xs-mb4">
    <label class="form-label">Add your website</label>
    <label class="form-label">Add your website <span class="form-label--required">*</span></label>
    <label class="form-label">What is your phone number? <span class="form-label--optional">(optional)</span></label>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<label class="form-label">Add your website</label>'%>
  <%='<label class="form-label">Add your website <span class="form-label--required">*</span></label>'%>
  <%='<label class="form-label">What is your phone number? <span class="form-label--optional">(optional)</span></label>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Text Inputs</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">text-input</code></span> class to get default styling for text inputs. BuzzFeed text inputs are always paired with a label to give users context. Placeholder text is used for additional context when necessary.</p>

  <form class="xs-mb4">
    <label class="form-label">Add your website</label>
    <input type="text" class="text-input" placeholder="www.example.com">
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<label class="form-label">Add your website</label>'%>
  <%='<input type="text" class="text-input" placeholder="www.example.com">'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Helper Text</h2>

  <p class="xs-mb4">When necessary, place additional helper text beneath inputs in a <code class="js-highlight">label</code> with a <span class="nowrap">.<code class="js-highlight">form-helper</code></span> class.</p>

  <form class="xs-mb4">
    <label class="form-label">Add your website</label>
    <input type="text" class="text-input" placeholder="www.example.com">
    <label class="form-helper">You don't need to include http://</label>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<label class="form-label">Add your website</label>'%>
  <%='<input type="text" class="text-input" placeholder="www.example.com">'%>
  <%='<label class="form-helper">You don\'t need to include http://</label>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Textareas</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">textarea</code></span> class to get default styling for textareas. When choosing a type size and width for textareas, Solid suggests aiming for a measure of 52-78 characters.</p>

  <form class="xs-mb4">
    <label class="form-label">Add a comment</label>
    <textarea class="textarea"></textarea>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<label class="form-label">Add a Comment</label>'%>
  <%='<textarea class="textarea"></textarea>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Select Fields</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">select</code></span> class to get default styling for select fields. Optionally, use a form label above your select if the default text is not descriptive enough, if the default is one of the valid select options, or if the selection will be saved and viewable again later.</p>

  <form class="xs-mb4">
    <select class="select">
      <option value="choose">Choose your personality</option>
      <option value="amazing">Amazing</option>
      <option value="boring">Boring</option>
      <option value="fun">Fun</option> 
    </select>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<select class="select">'%>
    <%='<option value="choose">Choose your personality</option>'%>
    <%='<option value="amazing">Amazing</option>'%>
    <%='<option value="boring">Boring</option>'%>
    <%='<option value="fun">Fun</option>'%>
  <%='</select>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Radio Buttons</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">radio</code></span> class alongside a <code class="js-highlight">label</code> to get Solid's default styling for radio inputs.</p>

  <form class="xs-mb4">
    <input type="radio" class="radio" id="option_1" value="option_1" name="options" checked="checked">
    <label for="option_1">Option 1</label>  
    <input type="radio" class="radio" id="option_2" value="option_2" name="options">
    <label for="option_2">Option 2</label>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<input type="radio" class="radio" id="option_1" value="option_1" name="options" checked="checked">'%>
  <%='<label for="option_1">Option 1</label>'%>
  <%='<input type="radio" class="radio" id="option_2" value="option_2" name="options">'%>
  <%='<label for="option_2">Option 2</label>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Checkboxes</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">checkbox</code></span> class alongside a <code class="js-highlight">label</code> to get Solid's default styling for radio inputs.</p>

  <form class="xs-mb4">
    <input type="checkbox" class="checkbox" id="check_1" value="check_1" name="checkboxes">
    <label for="check_1">Option 1</label> 
    <input type="checkbox" class="checkbox" id="check_2" value="check_2" name="checkboxes">
    <label for="check_2">Option 2</label>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<input type="radio" class="radio" id="option_1" value="option_1" name="options" checked="checked">'%>
  <%='<label class="radio-label" for="option_1">Option 1</label>'%>
  <%='<input type="radio" class="radio" id="option_2" value="option_2" name="options">'%>
  <%='<label class="radio-label" for="option_2">Option 2</label>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Small Form Labels</h2>

  <p class="xs-mb4">Append the <span class="nowrap">.<code class="js-highlight">form-label--small</code></span> class to get a smaller version of Solid's form labels.</p>

  <form class="xs-mb4">
    <label class="form-label form-label--small">Add your website</label>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<label class="form-label form-label--small">Add your website</label>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Small Text Inputs</h2>

  <p class="xs-mb4">Append the <span class="nowrap">.<code class="js-highlight">text-input--small</code></span> class to get a smaller version of Solid's text inputs.</p>

  <form class="xs-mb4">
    <label class="form-label form-label--smaller">Add your website</label>
    <input type="text" class="text-input text-input--small" placeholder="www.example.com">
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<label class="form-label form-label--smaller">Choose a username</label>'%>
  <%='<input type="text" class="text-input text-input--smaller" placeholder="www.example.com">'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Small Select Fields</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">select--small</code></span> class to get the smaller version of Solid's select field.</p>

  <form class="xs-mb4">
    <select class="select select--small">
      <option value="choose">Choose your personality</option>
      <option value="amazing">Amazing</option>
      <option value="boring">Boring</option>
      <option value="fun">Fun</option> 
    </select>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<select class="select select--small">'%>
    <%='<option value="choose">Choose your personality</option>'%>
    <%='<option value="amazing">Amazing</option>'%>
    <%='<option value="boring">Boring</option>'%>
    <%='<option value="fun">Fun</option>'%>
  <%='</select>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Form Warnings</h2>

  <p class="xs-mb4">Wrap each field in a <code class="js-highlight">fieldset</code> and add a <span class="nowrap">.<code class="js-highlight">form-fieldset--warning</code></span> class to change the child <code class="js-highlight">label</code></span> and form field styling. Additionally, add a <code class="js-highlight">span</code> below the input with a <span class="nowrap">.<code class="js-highlight">form-feedback</code></span> class to inform the user what needs to be adjusted.</p>

  <form class="xs-mb4">
    <fieldset class="fieldset form-fieldset--warning">
      <label class="form-label">Your name</label>
      <input type="text" class="text-input">
      <span class="form-feedback">Caps lock is on!</span>
    </fieldset>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<fieldset class="fieldset form-fieldset--warning">'%>
    <%='<label class="form-label">Your name</label>'%>
    <%='<input type="text" class="text-input">'%>
    <%='<span class="form-feedback">Caps lock is on!</span>'%>
  <%='</fieldset>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Form Errors</h2>

  <p class="xs-mb4">Wrap each field in a <code class="js-highlight">fieldset</code> and add a <span class="nowrap">.<code class="js-highlight">form-fieldset--warning</code></span> class to change the child <code class="js-highlight">label</code></span> and form field styling. Additionally, add a <code class="js-highlight">span</code> below the input with a <span class="nowrap">.<code class="js-highlight">form-feedback</code></span> class to inform the user what needs to be adjusted.</p>

  <form class="xs-mb4">
    <fieldset class="fieldset form-fieldset--error">
      <label class="form-label">Your name</label>
      <input type="text" class="text-input">
      <span class="form-feedback">Your name can't be Wolverine.</span>
    </fieldset>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<fieldset class="fieldset form-fieldset--error">'%>
    <%='<label class="form-label">Your name</label>'%>
    <%='<input type="text" class="text-input">'%>
    <%='<span class="form-feedback">Your name can\'t be Wolverine</span>'%>
  <%='</fieldset>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb6">

  <h2 class="xs-mb2 bold">Form Success</h2>

  <p class="xs-mb4">Wrap each field in a <code class="js-highlight">fieldset</code> and add a <span class="nowrap">.<code class="js-highlight">form-fieldset--success</code></span> class to change the child <code class="js-highlight">label</code></span> and form field styling. Additionally, add a <code class="js-highlight">span</code> below the input with a <span class="nowrap">.<code class="js-highlight">form-feedback</code></span> class to inform the user what needs to be adjusted.</p>

  <form class="xs-mb4">
    <fieldset class="fieldset form-fieldset--success">
      <label class="form-label">Your name</label>
      <input type="text" class="text-input">
      <span class="form-feedback">Boom. Looks good!</span>
    </fieldset>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<fieldset class="fieldset form-fieldset--success">'%>
    <%='<label class="form-label">Your name</label>'%>
    <%='<input type="text" class="text-input">'%>
    <%='<span class="form-feedback">Boom. Looks good!</span>'%>
  <%='</fieldset>'%>
<%='</form>'%></code></pre>

</section>
