<section class="xs-mb4 xs-pb2">

  <h2 class="xs-mb2 bold">Form Labels</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">form-label</code></span> class to get our default margins, layout and styling for form labels. BuzzFeed labels are always written in sentence case.</p>

  <form class="xs-mb4">
    <label class="form-label">Add your website</label>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<label class="form-label">Choose a username</label>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb4 xs-pb2">

  <h2 class="xs-mb2 bold">Text Inputs</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">text-input</code></span> class to get our default styling for text inputs. BuzzFeed text inputs are always paired with a label to give users context. Placeholder text is used for additional context when necessary.</p>

  <form class="xs-mb4">
    <label class="form-label">Add your website</label>
    <input type="text" class="text-input" placeholder="www.example.com">
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<label class="form-label">Choose a username</label>'%>
  <%='<input type="text" class="text-input" placeholder="www.example.com">'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb4 xs-pb2">

  <h2 class="xs-mb2 bold">Textareas</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">textarea</code></span> class to get our default styling for textareas. When choosing a type size and width for textareas, Solid suggests aiming for a measure of 52-78 characters.</p>

  <form class="xs-mb4">
    <label class="form-label">Add a comment</label>
    <textarea class="textarea"></textarea>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<label class="form-label">Add a Comment</label>'%>
  <%='<textarea class="textarea"></textarea>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb4 xs-pb2">

  <h2 class="xs-mb2 bold">Select Fields</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">select</code></span> class to get our default styling for select fields. Optionally, use a form label above your select if the default text is not desrcriptive enough, if the default is one of the valid select options, or if the selection will be saved and viewable again later.</p>

  <form class="xs-mb4">
    <select class="select">
      <option value="choose">Choose your personality</option>
      <option value="amazing">Amazing</option>
      <option value="boring">Boring</option>
      <option value="fun">Fun</option> 
    </select>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<select class="select">'%>
    <%='<option value="choose">Choose your personality</option>'%>
    <%='<option value="amazing">Amazing</option>'%>
    <%='<option value="boring">Boring</option>'%>
    <%='<option value="fun">Fun</option>'%>
  <%='</select>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb4 xs-pb2">

  <h2 class="xs-mb2 bold">Radio Buttons</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">radio</code></span> class alongside a <code class="js-highlight">label</code> to get Solid's default styling for radio inputs.</p>

  <form class="xs-mb4">
    <input type="radio" class="radio" id="option_1" value="option_1" name="options" checked="checked">
    <label for="option_1">Option 1</label>  
    <input type="radio" class="radio" id="option_2" value="option_2" name="options">
    <label for="option_2">Option 2</label>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<input type="radio" class="radio" id="option_1" value="option_1" name="options" checked="checked">'%>
  <%='<label for="option_1">Option 1</label>'%>
  <%='<input type="radio" class="radio" id="option_2" value="option_2" name="options">'%>
  <%='<label for="option_2">Option 2</label>'%>
<%='</form>'%></code></pre>

</section>

<section class="xs-mb4 xs-pb2">

  <h2 class="xs-mb2 bold">Checkboxes</h2>

  <p class="xs-mb4">Use the <span class="nowrap">.<code class="js-highlight">checkbox</code></span> class alongside a <code class="js-highlight">label</code> to get Solid's default styling for radio inputs.</p>

  <form class="xs-mb4">
    <input type="checkbox" class="checkbox" id="check_1" value="check_1" name="checkboxes">
    <label for="check_1">Option 1</label> 
    <input type="checkbox" class="checkbox" id="check_2" value="check_2" name="checkboxes">
    <label for="check_2">Option 2</label>
  </form>

  <pre><code class="html"><%='<form>'%>
  <%='<input type="radio" class="radio" id="option_1" value="option_1" name="options" checked="checked">'%>
  <%='<label class="radio-label" for="option_1">Option 1</label>'%>
  <%='<input type="radio" class="radio" id="option_2" value="option_2" name="options">'%>
  <%='<label class="radio-label" for="option_2">Option 2</label>'%>
<%='</form>'%></code></pre>

</section>



<section class="xs-mb4">
  <h3 class="xs-mb2 bold">Small Inputs</h3>

  <div class="xs-col-12 lg-col-9 xs-mb4 fill-gray--lighter rounded xs-border">
    <div class="xs-p3">
      <label class="xs-block text-4 bold">Small text input with label</label>
      <label class="xs-block text-4 text-gray--lighter">This is a small text input with a label.</label>
    </div>
  <div class="fill-white xs-p3">
    <fieldset class="form-fieldset">
      <label class="form-label form-label--small">Your name</label>
      <input type="text" class="text-input text-input--small xs-mb2">
      <a class="button button--primary button--small" href="">Add</a>
    </fieldset>
    <pre><code class="html"><%='<fieldset class="form-fieldset">'%><br>  <%='<label class="form-label form-label--small">Your name</label>'%><br>  <%='<input type="text" class="text-input--small">'%><br><%='</fieldset>'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 xs-mb4 fill-gray--lighter rounded xs-border">
    <div class="xs-p3">
      <label class="xs-block text-4 bold">Small select</label>
      <label class="xs-block text-4 text-gray--lighter">This is a small select menu.</label>
    </div>
    <div class="fill-white xs-p3">
      <fieldset class="form-fieldset">
        <select class="select select--small xs-mb2">
          <option value="choose">Choose a personality</option>
          <option value="amazing">Amazing</option>
          <option value="boring">Boring</option>
          <option value="fun">Fun</option> 
        </select>
      </fieldset>
      <pre><code class="html"><%='<fieldset class="form-fieldset">'%><br>  <%= '<select class="select select--small xs-mb2">'%><br>    <%='<option value="choose">Choose a personality</option>'%><br>    <%='<option value="amazing">Amazing</option>'%><br>    <%='<option value="boring">Boring</option>'%><br>    <%='<option value="fun">Fun</option>'%><br>  <%='</select>'  %><br><%='</fieldset>'%></code></pre>
    </div>
  </div>

</section>

<section class="xs-mb4">
  <h3 class="xs-mb2 bold">Labels and Messaging</h3>

  <div class="xs-col-12 lg-col-9 xs-mb4 fill-gray--lighter rounded xs-border">
    <div class="xs-p3">
      <label class="xs-block text-4 bold">Required form label</label>
      <label class="xs-block text-4 text-gray--lighter">Use this asterisk when a form field is required by placing the asterisk in a span and using the modifier <code class="js-highlight">form-label--required</code>. Only label fields as required when it is the least commonly used type of field in a form.</label>
    </div>
  <div class="fill-white xs-p3">
    <fieldset class="form-fieldset">
      <label class="form-label">Your name <span class="form-label--required">*</span></label>
      <input type="text" class="text-input xs-mb2">
    </fieldset>
    <pre><code class="html"><%='<fieldset class="form-fieldset">'%><br>  <%= '<label class="form-label">Your name <span class="form-label--required">*</span></label>'%><br>  <%='<input type="text" class="text-input">'%><br><%='</fieldset>'%></code></pre>
  </div>
  </div>

  <div class="xs-col-12 lg-col-9 xs-mb4 fill-gray--lighter rounded xs-border">
    <div class="xs-p3">
      <label class="xs-block text-4 bold">Optional form label</label>
      <label class="xs-block text-4 text-gray--lighter">Use this text when a form field is optional by placing the "(optional)" text in a span and using the modifier <code class="js-highlight">form-label--optional</code></label>
    </div>
    <div class="fill-white xs-p3">
      <fieldset class="form-fieldset">
        <label class="form-label">Link <span class="form-label--optional">(optional)</span></label>
        <input type="text" class="text-input xs-mb2">
      </fieldset>
      <pre><code class="html"><%='<fieldset class="form-fieldset">'%><br>  <%= '<label class="form-label">Link <span class="form-label--optional">(optional)</span></label>'%><br>  <%='<input type="text" class="text-input">'%><br><%='</fieldset>'%></code></pre>
    </div>
  </div>
  
  <div class="xs-col-12 lg-col-9 xs-mb4 fill-gray--lighter rounded xs-border">
    <div class="xs-p3">
      <label class="xs-block text-4 bold">Helper text</label>
      <label class="xs-block text-4 text-gray--lighter">Helper text is only placed below the input. It helps gives hints to the user about how to fill out the form. Only use this helper text if you have to!</label>
    </div>
    
    <div class="fill-white xs-p3">
      <fieldset class="form-fieldset">
        <label class="form-label">Your username</label>
        <input type="text" class="text-input">
        <label class="form-helper xs-mb3"> BTW, your username cannot be changed</label>
      </fieldset>
      <pre><code class="html"><%='<fieldset class="form-fieldset">'%><br>  <%='<label class="form-label">Your username</label>'%><br>  <%='<input type="text" class="text-input">'%><br>  <%='<label class="form-helper"> BTW, your username cannot be changed</label>'%><br><%='</fieldset>'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 xs-mb4 fill-gray--lighter rounded xs-border">
    <div class="xs-p3">
      <label class="xs-block text-4 bold">Warning message</label>
      <label class="xs-block text-4 text-gray--lighter">Input label and input border turn orange, and the warning message is placed below the input. The label, input, and message must be wrapped in a div with class <code class="js-highlight">form--warning</code>.</label>
    </div>
    <div class="fill-white xs-p3">
      <fieldset class="form-fieldset form-fieldset--warning">
        <label class="form-label">Your name</label>
        <input type="text" class="text-input">
        <label class="form-feedback xs-mb3">Caps lock is on!</label>
      </fieldset>
      <pre><code class="html"><%='<fieldset class="form-fieldset form-fieldset--warning">'%><br><%='   <label class="form-label">Your name</label>'%><br><%='   <input type="text" class="text-input">'%><br><%='   <label class="form-feedback">Caps lock is on!</label>'%><br><%='</fieldset>'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 xs-mb4 fill-gray--lighter rounded xs-border">
    <div class="xs-p3">
      <label class="xs-block text-4 bold">Error message</label>
      <label class="xs-block text-4 text-gray--lighter">Input label and input border turn red, and the error message is placed below the input. The label, input, and message must be wrapped in a div with class <code class="js-highlight">form--error</code>.</label>
    </div>
    <div class="fill-white xs-p3">
      <fieldset class="form-fieldset form-fieldset--error">
        <label class="form-label">Your name</label>
        <input type="text" class="text-input">
        <label class="form-feedback xs-mb3">This is an error message about your password.</label>
      </fieldset>
       <pre><code class="html"><%='<fieldset class="form-fieldset form-fieldset--error">'%><br><%='   <label class="form-label">Your name</label>'%><br><%='   <input type="text" class="text-input">'%><br><%='   <label class="form-feedback">This is an error message about your password.</label>'%><br><%='</fieldset>'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 xs-mb4 fill-gray--lighter rounded xs-border">
    <div class="xs-p3">
     <label class="xs-block text-4 bold">Success message</label>
     <label class="xs-block text-4 text-gray--lighter">Input label and input border turn green, and the success message is placed below the input. It appears once the error is cleared. The label, input, and message must be wrapped in a div with class <code class="js-highlight">form--success</code>.</label>
    </div>
    <div class="fill-white xs-p3">
      <fieldset class="form-fieldset form-fieldset--success">
        <label class="form-label">Your name</label>
        <input type="text" class="text-input">
        <label class="form-feedback xs-mb3">Looks good!</label>
      </fieldset>
        <pre><code class="html"><%='<fieldset class="form-fieldset form-fieldset--success">'%><br><%='   <label class="form-label">Your name</label>'%><br><%='   <input type="text" class="text-input">'%><br><%='   <label class="form-feedback">Looks good!</label>'%><br><%='</fieldset>'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 xs-mb4 fill-gray--lighter rounded xs-border">
    <div class="xs-p3">
      <label class="xs-block text-4 bold">Error message + helper text</label>
      <label class="xs-block text-4 text-gray--lighter">You can use these messages together. If a field has helper text, the error (or success/warning) message appears above the helper text.</label>
    </div>
    <div class="fill-white xs-p3">
      <fieldset class="form-fieldset form-fieldset--error">
        <label class="form-label">Your name</label>
        <input type="text" class="text-input">
        <label class="form-feedback">This is an error message about your password.</label>
        <label class="form-helper xs-mb3">Your password must contain at least 8 characters.</label>
      </fieldset>
      <pre><code class="html"><%='<fieldset class="form-fieldset form-fieldset--error">'%><br><%='   <label class="form-label">Your name</label>'%><br><%='   <input type="text" class="text-input">'%><br><%='   <label class="form-feedback">This is an error message about your password.</label>'%><br><%='   <label class="form-helper"> BTW, your username cannot be changed</label>'%><br><%='</fieldset>'%></code></pre>
    </div>
  </div>
 
</section>

