<h2 class="bold border-bottom mb4 pb2">Forms</h2>

<section class="mb4">
  <h3 class="mb2 bold">Default Inputs</h3>

  <div class="xs-col-12 lg-col-8 mb4 fill-gray-lighter rounded border">  
    <div class="p3">
      <label class="block mb1 type-4 bold">Text input</label>
      <label class="block type-4 text-gray-lighter">This is a default text input. </label>
    </div>
    <div class="fill-white p3">
      <input type="text" class="text-input mb2">
      <pre><code class="html"><%='<input type="text" class="text-input mb2">'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-8 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block mb1 type-4 bold">Text input with label</label>
      <label class="block type-4 text-gray-lighter">A text input should always have a label. Labels should be written in sentence case.</label>
    </div>
  <div class="fill-white p3">
    <label class="form-label">Your name</label>
    <input type="text" class="text-input mb2">
    <pre><code class="html"><%='<label class="form-label">Your name</label>'%><br/><%='<input type="text" class="text-input mb2">'%></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-8 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block mb1 type-4 bold">Text input with placeholder text</label>
      <label class="block type-4 text-gray-lighter">This is a default text input with placeholder text inside. Placeholder text should only be used when necessary. Otherwise, please use a form label to label the input. A good use of placeholder text would be to inform the user of what they should/can type in the field. This only applies if the placeholder is useful  helpful information </label>
    </div>
    <div class="fill-white p3">
      <input type="text" placeholder="Type here" class="text-input mb2">
      <pre><code class="html"><%= '<input type="text" placeholder="Type here" class="text-input mb2">'%> </code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-8 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block mb1 type-4 bold">Textarea</label>
      <label class="block type-4 text-gray-lighter">Textareas should be used when a field may be filled out with more than one line of text. An example use case is for comments or for a field in a contact form.</label>
   </div>
   <div class="fill-white p3">
      <textarea class="textarea mb2"></textarea>
      <pre><code class="html"><%= '<textarea class="textarea mb2"></textarea>'%> </code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-8 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block mb1 type-4 bold">Select</label>
      <label class="block type-4 text-gray-lighter">Selects are drop down menus and they can be used when you need the user to select one option out of many.</label>
    </div>
    <div class="fill-white p3">
      <select class="select mb2">
        <option value="choose">Choose a personality</option>
        <option value="amazing">Amazing</option>
        <option value="boring">Boring</option>
        <option value="fun">Fun</option> 
      </select>
      <pre><code class="html"><%= '<select class="select mb2">'%><br/>  <%='<option value="choose">Choose a personality</option>'%><br/>  <%='<option value="amazing">Amazing</option>'%><br/>  <%='<option value="boring">Boring</option>'%><br/>  <%='<option value="fun">Fun</option>'%><br/><%='</select>'  %> </code></pre>
    </div>
  </div>

  <div class="mb4">
    <label class="block mb1 type-4">radio buttons</label>
    
    <input type="radio" class="radio" id="option_1" value="option_1" name="options">
    <label class="radio-label" for="option_1">Option 1</label> 
    
    <input type="radio" class="radio" id="option_2" value="option_2" name="options">
    <label class="radio-label" for="option_2">Option 2</label>
  </div>

  <div class="mb4">
    <label class="block mb1 type-4">checkbox</label>
    <input type="checkbox" class="checkbox" id="check_1" value="check_1" name="checkboxes">
    <label for="check_1">Option 1</label> 
    <input type="checkbox" class="checkbox" id="check_2" value="check_2" name="checkboxes">
    <label for="check_2">Option 2</label>
  </div>

   <div class="mb4">
    <label class="block mb1 type-4">date</label>
    <label class="form-label">Date of birth</label> 
    <input type="text" placeholder="MM" maxlength="2" class="date">
    <input type="text" placeholder="DD" maxlength="2" class="date">
    <input type="text" placeholder="YYYY" maxlength="4" class="date">
  </div>
</section>

<section class="mb4">
  <h3 class="mb2 bold">Small Inputs</h3>

  <div class="xs-col-12 lg-col-8 mb4 fill-gray-lighter rounded border">  
    <div class="p3">
      <label class="block mb1 type-4 bold">Small text input</label>
      <label class="block type-4 text-gray-lighter">This is a default small text input. To use any input at a smaller size, apply the <code>.small</code> class.</label>
    </div>
    <div class="fill-white p3">
      <input type="text" class="text-input--small mb2">
      <pre><code class="html"><%='<input type="text" class="text-input--small mb2">'%></code></pre>
    </div>
  </div>


</section>

<section class="mb4">
  <h3 class="mb2 bold">Labels and Messaging</h3>

  <div class="mb4">
    <label class="block mb1 type-4">.form-label--required</label>
    <label class="form-label">Your name <span class="form-label--required">*</span></label>
    <input type="text" class="text-input">
  </div>

  <div class="mb4">
    <label class="block mb1 type-4">.form-label--optional</label>
    <label class="form-label">Link <span class="form-label--optional">(optional)</span></label>
    <input type="text" class="text-input">
  </div>
  
  <div class="mb4">
    <label class="block mb1 type-4">.form-helper</label>
    <label class="form-label">Your username</label>
    <input type="text" class="text-input">
    <label class="form-helper"> BTW, your username cannot be changed</label>
  </div>

   <div class="mb4 form-warning">
    <label class="block mb1 type-4">.form-warning</label>
    <label class="form-label">Your name</label>
    <input type="text" class="text-input">
    <label class="form-feedback">Caps lock is on!</label>
  </div>

   <div class="mb4 form-success">
    <label class="block mb1 type-4">.form-success</label>
    <label class="form-label">Your name</label>
    <input type="text" class="text-input">
    <label class="form-feedback">Looks good!</label>
  </div>

  <div class="mb4 form-error">
    <label class="block mb1 type-4">.form-error</label>
    <label class="form-label">Your name</label>
    <input type="text" class="text-input">
    <label class="form-feedback">This is an error message about your password.</label>
  </div>

    <div class="mb4 form-error">
    <label class="block mb1 type-4">.form-error .helper <br>You can use these messages together. If a field has helper text, the error (or success/warning) message appears above it.</label>
    <label class="form-label">Your name</label>
    <input type="text" class="text-input text-input_small">
    <label class="form-feedback">This is an error message about your password.</label>
    <label class="form-helper"> BTW, your username cannot be changed</label>
  </div>
  </div>
</section>


