<h2 class="bold border-bottom mb4 pb2">Messaging</h2>


<section class="mb4">
  <h3 class="mb2 bold">Default page level messaging</h3>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Error message</label>
      <label class="block type-4 text-gray-lighter">An error message appears when something is wrong! You forgot to fill out a field, or the requirements of a field have not been met properly, etc.</label>
    </div>
  <div class="fill-white p3">
    <div class="page-message page-message--error">
      <div class="page-message__text">Oh no, something went wrong. 
        <a class="page-message__action" href="">Fix this error.</a>
      </div>
    </div>

<pre><code class="html"><%='<div class="page-message page-message--error">'%>
  <%='<div class="page-message__text">Oh no, something went wrong.'%>
    <%='<a class="page-message__action" href="">Fix this error.</a>'%>
  <%='</div>'%>
<%='</div>'%>
</code></pre> 

  </div>
</div>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray-lighter rounded border">
    <div class="p3">
      <label class="block type-4 bold">Success message</label>
      <label class="block type-4 text-gray-lighter">A success message appears when something is a success! The settings have been saved, or the form has been submitted, etc.</label>
    </div>
  <div class="fill-white p3">
    <div class="page-message page-message--success">
      <div class="page-message__text">Your settings have been saved.
      <a class="page-message__action" href="">View your settings.</a>
      </div>
    </div>
    
<pre><code class="html"><%='<div class="page-message page-message--success">'%>
  <%='<div class="page-message__text">Your settings have been saved.'%>
    <%='<a class="page-message__action" href="">View your settings.</a>'%>
  <%='</div>'%>
<%='</div>'%>
</code></pre> 

    </div>
  </div>

</section>