<h2 class="bold border-bottom mb4 pb2">Tables</h2>

<div class="mb4 pb2">

  <h3 class="bold mb1">Borderless Tables</h3>

  <p class="mb3">You can add tables without using any classes at all. Just use the table, th, tr and td html elements to build. When considering whether or not to use the table element, consider whether or not the information inside is tabular data. Additionally, you can set the width of individual columns using <a href="/layout/grid">our grid's column classes,</a> as show below:</p>

  <table class="mb3 xs-col-12 md-col-10">
    <tr>
      <th class="col-6">Title</th>
      <th class="col-3">Views</th>
      <th class="col-3">Social Lift</th>
    </tr>
    <tr>
      <td>16 Easy Cheese Hacks That Will Blow Your Mind</td>
      <td>1,241</td>
      <td>1.1x</td>
    </tr>
    <tr>
      <td>18 Times George Michael Bluth Understood You On A Personal Level</td>
      <td>6,468</td>
      <td>1.2x</td>
    </tr>
    <tr>
      <td>Here’s An Epic Video Of Arnold Schwarzenegger Blowing A Bunch Of Sh*t Up</td>
      <td>8,516</td>
      <td>1.7x</td>
    </tr>
  </table>

  <p>Here's what it looks like in code:</p>

<pre><code class="html"><%='<table>'%>
  <%='<tr>'%>
    <%='<th class="col-6">Title</th>'%>
    <%='<th class="col-3">Views</th>'%>
    <%='<th class="col-3">Social Lift</th>'%>
  <%='</tr>'%>
  <%='<tr>'%>
    <%='<td>16 Easy Cheese Hacks That Will Blow Your Mind</td>'%>
    <%='<td>1,241</td>'%>
    <%='<td>1.1x</td>'%>
  <%='</tr>'%>
  <%='<tr>'%>
    <%='<td>18 Times George Michael Bluth Understood You On A Personal Level</td>'%>
    <%='<td>6,468</td>'%>
    <%='<td>1.2x</td>'%>
  <%='</tr>'%>
  <%='<tr>'%>
    <%='<td>Here’s An Epic Video Of Arnold Schwarzenegger Blowing A Bunch Of Sh*t Up</td>'%>
    <%='<td>8,516</td>'%>
    <%='<td>1.7x</td>'%>
  <%='</tr>'%>
<%='</table>'%></code></pre>

</div>

<div class="mb4 pb2">

  <h3 class="bold mb1">Bordered Tables</h3>

  <p class="mb3">Many times, tables of data can be rendered more legibly by the addition of border styles. Use the class <code class="js-highlight">.table-border</code> to automatically add borders to your table and all its rows.</p>

  <table class="table-border mb3 xs-col-12 md-col-10">
    <tr>
      <th class="col-6">Title</th>
      <th class="col-3">Views</th>
      <th class="col-3">Social Lift</th>
    </tr>
    <tr>
      <td>16 Easy Cheese Hacks That Will Blow Your Mind</td>
      <td>1,241</td>
      <td>1.1x</td>
    </tr>
    <tr>
      <td>18 Times George Michael Bluth Understood You On A Personal Level</td>
      <td>6,468</td>
      <td>1.2x</td>
    </tr>
    <tr>
      <td>Here’s An Epic Video Of Arnold Schwarzenegger Blowing A Bunch Of Sh*t Up</td>
      <td>8,516</td>
      <td>1.7x</td>
    </tr>
  </table>

  <p>And the implementation:</p>

<pre><code class="html"><%='<table class="table-border">'%>
  <%='<tr>'%>
    <%='<th class="col-6">Title</th>'%>
    <%='<th class="col-3">Views</th>'%>
    <%='<th class="col-3">Social Lift</th>'%>
  <%='</tr>'%>
  <%='<tr>'%>
    <%='<td>16 Easy Cheese Hacks That Will Blow Your Mind</td>'%>
    <%='<td>1,241</td>'%>
    <%='<td>1.1x</td>'%>
  <%='</tr>'%>
  <%='<tr>'%>
    <%='<td>18 Times George Michael Bluth Understood You On A Personal Level</td>'%>
    <%='<td>6,468</td>'%>
    <%='<td>1.2x</td>'%>
  <%='</tr>'%>
  <%='<tr>'%>
    <%='<td>Here’s An Epic Video Of Arnold Schwarzenegger Blowing A Bunch Of Sh*t Up</td>'%>
    <%='<td>8,516</td>'%>
    <%='<td>1.7x</td>'%>
  <%='</tr>'%>
<%='</table>'%></code></pre>


</div>

<div class="mb4 pb2">

  <h3 class="bold mb1">Faux Table Layout</h3>

  <p class="mb3">Sometimes, you'll want to give content the layout properties of a table without using the html elements. Using the classnames <code class="js-highlight">.table</code>, <code class="js-highlight">.th</code>, <code class="js-highlight">.tr</code> and <code class="js-highlight">.td</code>, you can add a table layout to non-tabular content.</p>

  <div class="table mb3">
    <div class="td fill-gray-lighter border-right p2">Lines of different lengths</div>
    <div class="td fill-gray-lighter border-right p2">Will automatically expand their inner divs to be as tall as each other.</div>
    <div class="td fill-gray-lighter p2">Because tables are the most amazing things in the whole world don't you agree? Wait where are you going? Come back!</div>
  </div>

  <p>And the code:</p>

<pre><code class="html"><%='<div class="table">'%>
  <%='<div class="td">Lines of different lengths</div>'%>
  <%='<div class="td">Will automatically expand their inner divs to be as tall as each other.</div>'%>
  <%='<div class="td">Because tables are the most amazing things in the whole world don\'t you agree? Wait where are you going? Come back!</div>'%>
<%='</div>'%></code></pre>

</div>
