<h2 class="bold border-bottom mb4 pb2">Tables</h2>

<div class="mb4 pb2">

  <h3 class="bold mb3">Borderless Tables</h3>

  <table>
    <th>Title</th>
    <th>Views</th>
    <th>Social Lift</th>
    <tr>
      <td>16 Easy Cheese Hacks That Will Blow Your Mind</td>
      <td>1,241</td>
      <td>1.1x</td>
    </tr>
    <tr>
      <td>18 Times George Michael Bluth Understood You On A Personal Level</td>
      <td>6,468</td>
      <td>1.2x</td>
    </tr>
    <tr>
      <td>Here’s An Epic Video Of Arnold Schwarzenegger Blowing A Bunch Of Sh*t Up</td>
      <td>8,516</td>
      <td>1.7x</td>
    </tr>
  </table>

<pre><code class="html"><%='<table>'%>
  <%='<th>Title</th>'%>
  <%='<th>Views</th>'%>
  <%='<th>Social Lift</th>'%>
  <%='<tr>'%>
    <%='<td>16 Easy Cheese Hacks That Will Blow Your Mind</td>'%>
    <%='<td>1,241</td>'%>
    <%='<td>1.1x</td>'%>
  <%='</tr>'%>
  <%='<tr>'%>
    <%='<td>18 Times George Michael Bluth Understood You On A Personal Level</td>'%>
    <%='<td>6,468</td>'%>
    <%='<td>1.2x</td>'%>
  <%='</tr>'%>
  <%='<tr>'%>
    <%='<td>Here’s An Epic Video Of Arnold Schwarzenegger Blowing A Bunch Of Sh*t Up</td>'%>
    <%='<td>8,516</td>'%>
    <%='<td>1.7x</td>'%>
  <%='</tr>'%>
<%='</table>'%></code></pre>

</div>

<div class="mb4 pb2">

  <h3 class="bold mb3">Bordered Tables</h3>

  <table class="table-border">
    <th>Title</th>
    <th>Views</th>
    <th>Social Lift</th>
    <tr>
      <td>16 Easy Cheese Hacks That Will Blow Your Mind</td>
      <td>1,241</td>
      <td>1.1x</td>
    </tr>
    <tr>
      <td>18 Times George Michael Bluth Understood You On A Personal Level</td>
      <td>6,468</td>
      <td>1.2x</td>
    </tr>
    <tr>
      <td>Here’s An Epic Video Of Arnold Schwarzenegger Blowing A Bunch Of Sh*t Up</td>
      <td>8,516</td>
      <td>1.7x</td>
    </tr>
  </table>

<pre><code class="html"><%='<table class="table-border">'%>
  <%='<th>Title</th>'%>
  <%='<th>Views</th>'%>
  <%='<th>Social Lift</th>'%>
  <%='<tr>'%>
    <%='<td>16 Easy Cheese Hacks That Will Blow Your Mind</td>'%>
    <%='<td>1,241</td>'%>
    <%='<td>1.1x</td>'%>
  <%='</tr>'%>
  <%='<tr>'%>
    <%='<td>18 Times George Michael Bluth Understood You On A Personal Level</td>'%>
    <%='<td>6,468</td>'%>
    <%='<td>1.2x</td>'%>
  <%='</tr>'%>
  <%='<tr>'%>
    <%='<td>Here’s An Epic Video Of Arnold Schwarzenegger Blowing A Bunch Of Sh*t Up</td>'%>
    <%='<td>8,516</td>'%>
    <%='<td>1.7x</td>'%>
  <%='</tr>'%>
<%='</table>'%></code></pre>


</div>

<div class="mb4 pb2">

  <h3 class="bold mb3">Table Layout</h3>

  <div class="table">
    <div class="td fill-gray-lighter border-right p2">Lines of different lengths</div>
    <div class="td fill-gray-lighter border-right p2">Will automatically expand their inner divs to be as tall as each other.</div>
    <div class="td fill-gray-lighter p2">Because tables are the most amazing things in the whole world don't you agree? Wait where are you going? Come back!</div>
  </div>

<pre><code class="html"><%='<div class="table">'%>
  <%='<div class="td fill-gray-lighter border-right p2">Lines of different lengths</div>'%>
  <%='<div class="td fill-gray-lighter border-right p2">Will automatically expand their inner divs to be as tall as each other.</div>'%>
  <%='<div class="td fill-gray-lighter p2">Because tables are the most amazing things in the whole world don\'t you agree? Wait where are you going? Come back!</div>'%>
<%='</div>'%></code></pre>

</div>