<h2 class="mb2">Colors</h2>

<section class="mb3">
	<h3 class="mb2 bold">Fill Colors</h3>

	<div class="fill-red text-white p2">.fill-red</div>
	<div class="fill-blue text-white p2">.fill-blue</div>
	<div class="fill-yellow p2">.fill-yellow</div>
	<div class="fill-pink text-white p2">.fill-pink</div>
	<div class="fill-gray p2">.fill-gray</div>
	<div class="fill-gray-darker text-white p2">.fill-gray-darker</div>
	<div class="fill-white p2">.fill-white</div>
</section>

<section>
	<h3 class="mb2 bold">Text Colors</h3>

	<div>
		<p class="text-gray type-2">This is the darkest gray and default text color.</p>
		<pre>
		    <code class="html"> <%= '<p class="text-gray type-2">This is the darkest gray and default text color.</p>' %> </code>
		</pre>
	</div>
	<div>
		<p class="text-gray-lighter type-2">This is a little lighter gray.</p>
		<pre>
	    	<code class="html"> <%= '<p class="text-gray-lighter type-2">This is a little lighter gray.</p>' %> </code>
		</pre>
	</div>
	<div>
		<p class="text-gray-lightest type-2">This is the lightest gray text we use. Go no lighter!</p>
		<pre>
	    	<code class="html"> <%= '<p class="text-gray-lightest type-2">This is the lightest gray text we use. Go no lighter!</p>' %> </code>
		</pre>
	</div>
	<div>
		<p class="text-red type-2">This is red text for both brand text/headlines and error messaging. Be careful when mixing!</p>
		<pre>
	    	<code class="html"> <%= '<p class="text-red type-2">This is red text for both brand text/headlines and error messaging. Be careful when mixing!</p>' %> </code>
		</pre>
	</div>
	<div>
		<p class="text-orange type-2">This is orange text for warning messaging.</p>
		<pre>
		    <code class="html"> <%= '<p class="text-orange type-2">This is orange text for warning messaging.</p>' %> </code>
		</pre>
	</div>
	<div>
		<p class="text-green type-2">This is green text for success messaging.</p>
		<pre>
		    <code class="html"> <%= '<p class="text-green type-2">This is green text for success messaging.</p>' %> </code>
		</pre>
	</div>
	<div>
		<p class="text-blue type-2">This is our standard link color. It's on links by default.</p>
		<pre>
		    <code class="html"> <%= '<p class="text-blue type-2">This is our standard link color. It\'s on links by default.</p>' %> </code>
		</pre>
	</div>


</section>