<h2 class="bold border-bottom mb4 pb2">Colors</h2>

<section class="mb4">
	<h3 class="mb1 bold">Fill Colors</h3>
	<p class="mb3">We use a number of fill colors on BuzzFeed. When choosing a color, take into account previous usages and how the user may interpret the color as part of the whole system.</p>
	
	<div class="clearfix mb3">
		<div class="col xs-col-6 lg-col-2 text-center p1 border rounded">
			<label class="block type-5 text-gray-lightest mb1">#e32</label>
			<div class="p4 circle fill-red inline-block"></div>
			<label class="block type-5 text-gray mb1"><span class="js-highlight">$fill-red</span></label>
		</div>

		<div class="col xs-col-6 lg-col-2 text-center p1 border rounded">
			<label class="block type-5 text-gray-lightest mb1">#07e</label>
			<div class="p4 circle fill-blue inline-block"></div>
			<label class="block type-5 text-gray mb1"><span class="js-highlight">$fill-blue</span></label>
		</div>

		<div class="col xs-col-6 lg-col-2 text-center p1 border rounded">
			<label class="block type-5 text-gray-lightest mb1">#fe0</label>
			<div class="p4 circle fill-yellow inline-block"></div>
			<label class="block type-5 text-gray mb1"><span class="js-highlight">$fill-yellow</span></label>
		</div>

		<div class="col xs-col-6 lg-col-2 text-center p1 border rounded">
			<label class="block type-5 text-gray-lightest mb1">#fffab6</label>
			<div class="p4 circle fill-yellow-light inline-block"></div>
			<label class="block type-5 text-gray mb1"><span class="js-highlight">$fill-yellow-light</span></label>
		</div>

		<div class="col xs-col-6 lg-col-2 text-center p1 border rounded">
			<label class="block type-5 text-gray-lightest mb1">#f49c1a</label>
			<div class="p4 circle fill-orange inline-block"></div>
			<label class="block type-5 text-gray mb1"><span class="js-highlight">$fill-orange</span></label>
		</div>

		<div class="col xs-col-6 lg-col-2 text-center p1 border rounded">
			<label class="block type-5 text-gray-lightest mb1">#6fb824</label>
			<div class="p4 circle fill-green inline-block"></div>
			<label class="block type-5 text-gray mb1"><span class="js-highlight">$fill-green</span></label>
		</div>

		<div class="col xs-col-6 lg-col-2 text-center p1 border rounded">
			<label class="block type-5 text-gray-lightest mb1">#eb2649</label>
			<div class="p4 circle fill-pink inline-block"></div>
			<label class="block type-5 text-gray mb1"><span class="js-highlight">$fill-pink</span></label>
		</div>

		<div class="col xs-col-6 lg-col-2 text-center p1 border rounded">
			<label class="block type-5 text-gray-lightest mb1">#f4f4f4</label>
			<div class="p4 circle fill-gray-lighter inline-block"></div>
			<label class="block type-5 text-gray mb1"><span class="js-highlight">$fill-gray-lighter</span></label>
		</div>

		<!--		^ Continue adding the ones below, following the same pattern		!--> 

	</div>





	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#aaa</label>
			<div class="p4 circle fill-gray inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-gray inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-gray; }" %></code></pre>
	</div>

	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#222</label>
			<div class="p4 circle fill-gray-darker inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-gray-darker inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-gray-darker; }" %></code></pre>
	</div>

	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#fff</label>
			<div class="p4 circle fill-white inline-block border"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-white inline-block border"></div>' %> </code><code class="css"><%= ".class { background: $fill-white; }" %></code></pre>
	</div>
</section>

<section class="mb4">
	<h3 class="mb1 bold">Social Fill Colors</h3>
	<p class="mb3">As the title implies, these colors are for representing social networks only. <span class="text-red">Do not use these colors for anything else, please.</span></p>	
	
	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#3b5998</label>
			<div class="p4 circle fill-facebook inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-facebook inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-facebook; }" %> </code></pre>
	</div>

	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#55acee</label>
			<div class="p4 circle fill-twitter inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-twitter inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-twitter; }" %></code></pre>
	</div>

	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#dd4b39</label>
			<div class="p4 circle fill-google inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-google inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-google; }" %></code></pre>
	</div>

	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#0077b5</label>
			<div class="p4 circle fill-linkedin inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-linkedin inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-linkedin; }" %></code></pre>
	</div>

	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#bd081c</label>
			<div class="p4 circle fill-pinterest inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-pinterest inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-pinterest; }" %></code></pre>
	</div>

	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#36465d</label>
			<div class="p4 circle fill-tumblr inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-tumblr inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-tumblr; }" %></code></pre>
	</div>

	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#cd201f</label>
			<div class="p4 circle fill-youtube inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-youtube inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-youtube; }" %></code></pre>
	</div>

	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#517fa4</label>
			<div class="p4 circle fill-instagram inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-instagram inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-instagram; }" %></code></pre>
	</div>

	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#00b488</label>
			<div class="p4 circle fill-vine inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-vine inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-vine; }" %></code></pre>
	</div>

	<div class="col-12 clearfix mb3">
		<div class="col col-2 text-center">
			<label class="block type-5 text-gray-lightest mb1">#fffc00</label>
			<div class="p4 circle fill-snapchat inline-block"></div>
		</div>
		<pre class="col col-10"><code class="html"><%= '<div class="p4 circle fill-snapchat inline-block"></div>' %> </code><code class="css"><%= ".class { background: $fill-snapchat; }" %></code></pre>
	</div>

</section>

<section>
	<h3 class="mb1 bold">Text Colors</h3>
	<p class="mb3">When choosing a text color, take into account the standard usage (green for success, for example) and make sure you're not subverting or misrepresenting what a piece of text means by using the wrong color.</p>

	<div class="mb4">	
		<p class="text-gray type-2 mb1">This is the darkest gray and default text color.</p>
		<label class="block type-5 text-gray-lightest mb1">#333</label>
		<pre><code class="html"><%= '<p class="text-gray type-2">This is the darkest gray and default text color.</p>' %> </code><code class="css"><%= ".class { color: $text-gray; }" %></code></pre>
	</div>

	<div class="mb4">
		<p class="text-gray-lighter type-2 mb1">This is a little lighter gray.</p>
		<label class="block type-5 text-gray-lightest mb1">#666</label>
		<pre><code class="html"><%= '<p class="text-gray-lighter type-2">This is a little lighter gray.</p>' %></code><code class="css"><%= ".class { color: $text-gray-lighter; }" %></code></pre>
	</div>

	<div class="mb4">
		<p class="text-gray-lightest type-2 mb1">This is the lightest gray text we use. Go no lighter!</p>
		<label class="block type-5 text-gray-lightest mb1">#999</label>
		<pre><code class="html"><%= '<p class="text-gray-lightest type-2">This is the lightest gray text we use. Go no lighter!</p>' %></code><code class="css"><%= ".class { color: $text-gray-lightest; }" %></code></pre>
	</div>

	<div class="mb4">
		<p class="text-red type-2 mb1">This is red text for both brand text/headlines and error messaging. Be careful when mixing!</p>
		<label class="block type-5 text-gray-lightest mb1">#e32</label>
		<pre><code class="html"><%= '<p class="text-red type-2">This is red text for both brand text/headlines and error messaging. Be careful when mixing!</p>' %></code><code class="css"><%= ".class { color: $text-red; }" %></code></pre>
	</div>

	<div class="mb4">
		<p class="text-orange type-2 mb1">This is orange text for warning messaging.</p>
		<label class="block type-5 text-gray-lightest mb1">#f49c1a</label>
		<pre><code class="html"><%= '<p class="text-orange type-2">This is orange text for warning messaging.</p>' %> </code><code class="css"><%= ".class { color: $text-orange; }" %></code></pre>
	</div>

	<div class="mb4">
		<p class="text-green type-2 mb1">This is green text for success messaging.</p>
		<label class="block type-5 text-gray-lightest mb1">#6fb824</label>
		<pre><code class="html"><%= '<p class="text-green type-2">This is green text for success messaging.</p>' %> </code><code class="css"><%= ".class { color: $text-green; }" %></code></pre>
	</div>

	<div class="mb4">
		<p class="text-blue type-2 mb1">This is our standard link color. It's on links by default.</p>
		<label class="block type-5 text-gray-lightest mb1">#07e</label>
		<pre><code class="html"><%= '<p class="text-blue type-2">This is our standard link color. It\'s on links by default.</p>' %> </code><code class="css"><%= ".class { color: $text-blue; }" %></code></pre>
	</div>


</section>