<h1 class="bold border-bottom mb4 pb2">Typography</h1>

<section class="xs-col-12 lg-col-9 mb4">

    <div>
      <h2 class="mb1 bold">Headers</h2>
      <label class="block type-4">Headers set in Proxima range from <code class="js-highlight">h1</code> through <code class="js-highlight">h6</code>. Alternately, classes <code class="js-highlight">.type-1</code> through <code class="js-highlight">.type-6</code> mirror header element styles respectively, and can be used on any element to allow for flexible styling without affecting semantic markup. Header elements and type classes have no margins attached and inherit a line height 1.3x relative to the type size. </label>
    </div>
    <div>
    <div class="my2">
      <p class="text-gray-lightest">h1, .type-1</p>
      <h1>BuzzFeed is the social news and entertainment company (2.25 rem, 36px)</h1>   
    </div>
    <div class="mb3">
      <p class="text-gray-lightest">h2, .type-2</p>
      <h2>BuzzFeed is the social news and entertainment company (1.375rem, 22px)</h2>
    </div>
    <div class="mb3">
      <p class="text-gray-lightest">h3, .type-3</p>
      <h3>BuzzFeed is the social news and entertainment company (1.125rem, 18px)</h3>
    </div>
    <div class="mb3">
      <p class="text-gray-lightest">h4, .type-4</p>
      <h4>BuzzFeed is the social news and entertainment company (1rem, 16px)</h4>
    </div>
    <div class="mb3">
      <p class="text-gray-lightest">h5, .type-5</p>
      <h5>BuzzFeed is the social news and entertainment company (0.875rem, 14px)</h5>
    </div>
    <div class="mb3">
      <p class="text-gray-lightest">h6, .type-6</p>
      <h6>BuzzFeed is the social news and entertainment company (0.75rem, 12px)</h6>
    </div>
<pre class="xs-col-12"><code class="html"><%= '<h1>BuzzFeed is the social news and entertainment company</h1>' %>
<%= '<p class="type-1">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<h2>BuzzFeed is the social news and entertainment company</h2>' %>
<%= '<p class="type-2">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<h3>BuzzFeed is the social news and entertainment company</h3>' %>
<%= '<p class="type-3">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<h4>BuzzFeed is the social news and entertainment company</h4>' %>
<%= '<p class="type-4">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<h5>BuzzFeed is the social news and entertainment company</h5>' %>
<%= '<p class="type-5">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<h6>BuzzFeed is the social news and entertainment company</h6>' %>
<%= '<p class="type-6">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
    
  </div>

</section>

<section class="xs-col-12 lg-col-9 pt1 mb4 pt2">

  <h2 class="mb1 bold">Body</h2>
  <label class="block type-4">Body text, or <code class="js-highlight">p</code>, is the base font size for our typographic system. You can also use the class <code class="js-highlight">.type-4</code> to style any element as body text. Optimal line length for body text should be no longer than (x) characters.</label>

  <div>
    <div class="my2">
      <p class="text-gray-lightest">p, .type-4</p>
      <p>BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M. (1 rem, 16px)</p>
    </div>
<pre><code class="html"><%= '<p>BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>' %></code></pre>

</section>

<section class="xs-col-12 lg-col-9 pt1 mb4 pt2">

  <h2 class="mb1 bold">Emphasis</h2>

  <div class="mb3">
    <div class="my2">
      <p class="text-gray-lightest">.regular</p>
      <p class="bold mb1"><span class="regular">BuzzFeed is the</span> social news and entertainment company</p>
    </div>
<pre><code class="html"><%= '<p class="bold"><span class="regular">BuzzFeed is the</span>social news and entertainment company</p>' %></code></pre>
  </div>

  <div class="mb3">
    <div class="my2">
      <p class="text-gray-lightest">strong, .bold</p>
      <p class="mb1"><strong>BuzzFeed is the social news and entertainment company</strong></p>
    </div>
<pre><code class="html"><%= '<p><strong>BuzzFeed is the social news and entertainment company</strong></p>' %>
<%= '<p class="bold">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>

  <div class="mb3">
    <div class="my2">
      <p class="text-gray-lightest">em, .italic</p> 
      <p class="mb1"><em>BuzzFeed is the social news and entertainment company</em></p>
    </div>
<pre><code class="html"><%= '<p><em>BuzzFeed is the social news and entertainment company</em></p>' %>
<%= '<p class="italic">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>

  <div class="mb3">
    <p class="mb1 caps">BuzzFeed is the social news and entertainment company</p>
    <label class="block type-5 text-gray--lightest">Caps</label>
    <pre><code class="html"><%= '<p class="caps">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>

  <div class="mb3">
    <p class="mb1 text-left">BuzzFeed is the social news and entertainment company</p>
    <label class="block type-5 text-gray--lightest">Text Left</label>
    <pre><code class="html"><%= '<p class="text-left">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 text-center">BuzzFeed is the social news and entertainment company</p>
    <label class="block type-5 text-gray--lightest">Text Center</label>
    <pre><code class="html"><%= '<p class="text-center">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 text-right">BuzzFeed is the social news and entertainment company</p>
    <label class="block type-5 text-gray--lightest">Text Right</label>
    <pre><code class="html"><%= '<p class="text-right">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 text-justify">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    <label class="block type-5 text-gray--lightest">Text Justify</label>
    <pre><code class="html"><%= '<p class="text-justify">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 nowrap overflow-hidden">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    <label class="block type-5 text-gray--lightest">Nowrap</label>
    <pre><code class="html"><%= '<p class="nowrap">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 truncate half-width">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    <label class="block type-5 text-gray--lightest">Truncate</label>
    <pre><code class="html"><%= '<p class="truncate">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>' %></code></pre>
  </div>

</section>


<section class="xs-col-12 lg-col-9 pt1 mb4 pt2">

  <h2 class="mb1 bold">Alignment</h2>

    <div class="my2">
      <div class="mb4">
        <p class="text-gray-lightest">.text-left</p>
        <p class="mb1 text-left border py2">BuzzFeed is the social news and entertainment company</p>
      </div>

      <div class="mb4">
        <p class="text-gray-lightest">.text-right</p>
        <p class="mb1 text-right border py2">BuzzFeed is the social news and entertainment company</p>
      </div>

      <div class="mb4">
        <p class="text-gray-lightest">.text-center</p>
        <p class="mb1 text-center border py2">BuzzFeed is the social news and entertainment company</p>
      </div>

      <div class="mb4">
        <p class="text-gray-lightest">.text-justify</p>
        <p class="mb1 text-justify border py2">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
      </div>
<pre><code class="html"><%= '<p class="text-left">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
<pre><code class="html"><%= '<p class="text-center">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
<pre><code class="html"><%= '<p class="text-right">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
<pre><code class="html"><%= '<p class="text-justify">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
</div>

</section>

<section class="xs-col-12 lg-col-9 pt1 mb4 pt2">

  <h2 class="mb1 bold">Overflow</h2>

    <div class="mb3">
      <div class="my2">
        <p class="text-gray-lightest">.nowrap</p>
        <p class="mb1 nowrap overflow-hidden">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
      </div>
<pre><code class="html"><%= '<p class="nowrap">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>' %></code></pre>
    </div>

    <div class="mb3">
      <div class="my2">
        <p class="text-gray-lightest">.truncate</p>
        <p class="mb1 half-width truncate overflow-hidden">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
      </div>
<pre><code class="html"><%= '<p class="nowrap">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>' %></code></pre>
    </div>

</section>

<section class="xs-col-12 lg-col-9 pt1 mb4 pt2">

  <div>
    <h2 class="mb1 bold">Slab Headings</h2>
    <p class="block">Caponi is BuzzFeed's slab typeface. It's default (and singular weight) is semibold. Caponi is intended to be used for News headlines only, and should never be smaller than an <code class="js-highlight">h5</code>, or 0.875 rem. An <code class="js-highlight">h6</code>, or anything classed with <code class="js-highlight">.type-6</code>, in combination with the <code class="js-highlight">.slab</code> class will default to Proxima. Headlines set in Caponi should be paired with body text set in Proxima.</p>
  </div>
  <div>
  <div class="my2">
    <p class="text-gray-lightest">.slab h1, slab .type-1</p>
    <h1 class="slab">BuzzFeed is the social news and entertainment company (2.25 rem, 36px)</h1>   
  </div>
  <div class="mb3">
    <p class="mb3">Caponi is BuzzFeed's slab typeface. It's default (and singular weight) is semibold. Caponi is intended to be used for News headlines only, and should never be smaller than an h5, or 0.875 rem. An h6, or anything classed with .type-6, in combination with the .slab class will default to Proxima. Headlines set in Caponi should be paired with body text set in Proxima.</p>
    <div class="mb3">
      <h1 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h1>
      <label class="block type-5 text-gray--lightest">2.25 rem | 36px</label>
      <pre><code class="html"><%= '<h1 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h1>' %></code></pre>
    </div>
    <div class="mb3">
      <h2 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h2>
      <label class="block type-5 text-gray--lightest">1.375 rem | 22px</label>
      <pre><code class="html"><%= '<h2 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h2>' %></code></pre>
    </div>
    <div class="mb3">
      <h3 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h3>
      <label class="block type-5 text-gray--lightest">1.125 rem | 18px</label>
      <pre><code class="html"><%= '<h3 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h3>' %></code></pre>
    </div>
    <div class="mb3">
      <h4 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h4>
      <label class="block type-5 text-gray--lightest">1 rem | 16px</label>
      <pre><code class="html"><%= '<h4 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h4>' %></code></pre>
   </div>
    <div class="mb3">
      <h5 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h5>
      <label class="block type-5 text-gray--lightest">0.875 rem | 14px</label>
      <pre><code class="html"><%= '<h5 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h5>' %></code></pre>
   </div>
    <p class="text-gray-lightest">.slab h2, .slab .type-2</p>
    <h2 class="slab">BuzzFeed is the social news and entertainment company (1.375rem, 22px)</h2>
  </div>
  <div class="mb3">
    <p class="text-gray-lightest">.slab h3, .slab .type-3</p>
    <h3 class="slab">BuzzFeed is the social news and entertainment company (1.125rem, 18px)</h3>
  </div>
  <div class="mb3">
    <p class="text-gray-lightest">.slab h4, .slab .type-4</p>
    <h4 class="slab">BuzzFeed is the social news and entertainment company (1rem, 16px)</h4>
  </div>
  <div class="mb3">
    <p class="text-gray-lightest">.slab h5, .slab .type-5</p>
    <h5 class="slab">BuzzFeed is the social news and entertainment company (0.875rem, 14px)</h5>
  </div>
<pre class="xs-col-12"><code class="html"><%= '<h1 class="slab">BuzzFeed is the social news and entertainment company</h1>' %>

<%= '<h2 class="slab">BuzzFeed is the social news and entertainment company</h2>' %>

<%= '<h3 class="slab">BuzzFeed is the social news and entertainment company</h3>' %>

<%= '<h4 class="slab">BuzzFeed is the social news and entertainment company</h4>' %>

<%= '<h5 class="slab">BuzzFeed is the social news and entertainment company</h5>' %>

<%= '<h6 class="slab">BuzzFeed is the social news and entertainment company</h6>' %></code></pre>
    
  </div>
  
</section>

<section class="xs-col-12 lg-col-9 pt1 mb4 pt2">

 <div class="my2">
    <h2 class="mb1 bold">Unstyled Lists</h2>
    <label class="block type-4 mb1">This class keeps list items block level, and removes default browser styling.</label>
    <p class="text-gray-lightest">.list-unstyled</p>
    <ul class="list-unstyled">
      <li>Social News</li>
      <li>Entertainment</li>
      <li>Content-Driven Publishing Technology</li>
      <li>Original Reporting</li>
      <li>Video</li>
    </ul>
</div>

<pre><code class="html"><%= '<ul class="list-unstyled">' %>
<%= '  <li>Social News</li>' %>
<%= '  <li>Entertainment</li>' %>
<%= '  <li>Content-Driven Publishing Technology</li>' %>
<%= '  <li>Original Reporting</li>' %>
<%= '  <li>Video</li>' %>
<%= '</ul>' %></code></pre>

</section>

<section class="xs-col-12 lg-col-9 pt1 mb4 pt2">

  <h2 class="mb1 bold">Links</h2>

    <div class="mb3">
      <div class="my2">
        <p class="text-gray-lightest">.link-blue</p>
        <a class="link-blue" href="#">BuzzFeed is the social news and entertainment company</a>
      </div>
<pre><code class="html"><%= '<a class="link-blue" href="#">BuzzFeed is the social news and entertainment company</a>' %></code></pre>
    </div>

    <div class="mb3">
      <div class="my2">
        <p class="text-gray-lightest">.link-gray</p>
        <a class="link-gray" href="#">BuzzFeed is the social news and entertainment company</a>
      </div>
<pre><code class="html"><%= '<a class="link-gray" href="#">BuzzFeed is the social news and entertainment company</a>' %></code></pre>
    </div>

    <div class="mb3">
      <div class="my2">
        <p class="text-gray-lightest">.link-gray--lightest</p>
        <a class="link-gray--lightest" href="#">BuzzFeed is the social news and entertainment company</a>
      </div>
<pre><code class="html"><%= '<a class="link-gray--lightest" href="#">BuzzFeed is the social news and entertainment company</a>' %></code></pre>
    </div>

</section>
