<h2 class="bold border-bottom mb4 pb2">Typography</h2>

<section class="mb3">

  <h3 class="mb1 bold">Headings</h3>
  <div class="mb3">
    <h1 class="mb1">BuzzFeed is the social news and entertainment company</h1>
    <label class="block type-5 text-gray-lightest">2.25 rem | 36px</label>
    <pre><code class="html"><%= '<h1>BuzzFeed is the social news and entertainment company</h1>' %><br /><%= '<p class="type-1">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <h2 class="mb1">BuzzFeed is the social news and entertainment company</h2>
    <label class="block type-5 text-gray-lightest">1.375rem | 22px</label>
    <pre><code class="html"><%= '<h2>BuzzFeed is the social news and entertainment company</h2>' %><br /><%= '<p class="type-2">BuzzFeed is the social news and entertainment company</p>' %></code><code><%= '.class { font-size: $type-2; }' %></code></pre>
  </div>
  <div class="mb3">
    <h3 class="mb1">BuzzFeed is the social news and entertainment company</h3>
    <label class="block type-5 text-gray-lightest">1.125rem | 18px</label>
    <pre><code class="html"><%= '<h3>BuzzFeed is the social news and entertainment company</h3>' %><br /><%= '<p class="type-3">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <h4 class="mb1">BuzzFeed is the social news and entertainment company</h4>
    <label class="block type-5 text-gray-lightest">1rem | 16px</label>
    <pre><code class="html"><%= '<h4>BuzzFeed is the social news and entertainment company</h4>' %><br /><%= '<p class="type-4">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <h5 class="mb1">BuzzFeed is the social news and entertainment company</h5>
    <label class="block type-5 text-gray-lightest">0.875rem | 14px</label>
    <pre><code class="html"><%= '<h5>BuzzFeed is the social news and entertainment company</h5>' %><br /><%= '<p class="type-5">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <h6 class="mb1">BuzzFeed is the social news and entertainment company</h6>
    <label class="block type-5 text-gray-lightest">0.75rem | 12px</label>
    <pre><code class="html"><%= '<h6>BuzzFeed is the social news and entertainment company</h6>' %><br /><%= '<p class="type-6">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>

</section>

<section class="mb3">

  <h3 class="mb1 bold">Body</h3>
  <div class="mb3">
    <p class="mb1">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    <label class="block type-5 text-gray-lightest">1 rem/16px</label>
    <pre><code class="html"><%= '<p>BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>' %></code></pre>
  </div>

</section>

<section class="mb4">

  <h3 class="mb1 bold">Emphasis and Styling</h3>
  <div class="mb3">
    <p class="regular mb1">BuzzFeed is the social news and entertainment company</p>
    <label class="block type-5 text-gray-lightest">Regular, Normal</label>
    <pre><code class="html"><%= '<p class="regular">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1"><strong>BuzzFeed is the social news and entertainment company</strong></p>
    <label class="block type-5 text-gray-lightest">Bold, Semibold</label>
    <pre><code class="html"><%= '<p><strong>BuzzFeed is the social news and entertainment company</strong></p>' %></code></pre>
    <pre><code class="html"><%= '<p class="bold">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1"><em>BuzzFeed is the social news and entertainment company</em></p>
    <label class="block type-5 text-gray-lightest">Italic</label>
    <pre><code class="html"><%= '<p><em>BuzzFeed is the social news and entertainment company</em></p>' %></code></pre>
    <pre><code class="html"><%= '<p class="italic">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 caps">BuzzFeed is the social news and entertainment company</p>
    <label class="block type-5 text-gray-lightest">Caps</label>
    <pre><code class="html"><%= '<p class="caps">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 text-left">BuzzFeed is the social news and entertainment company</p>
    <label class="block type-5 text-gray-lightest">Text Left</label>
    <pre><code class="html"><%= '<p class="text-left">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 text-center">BuzzFeed is the social news and entertainment company</p>
    <label class="block type-5 text-gray-lightest">Text Center</label>
    <pre><code class="html"><%= '<p class="text-center">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 text-right">BuzzFeed is the social news and entertainment company</p>
    <label class="block type-5 text-gray-lightest">Text Right</label>
    <pre><code class="html"><%= '<p class="text-right">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 text-justify">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    <label class="block type-5 text-gray-lightest">Text Justify</label>
    <pre><code class="html"><%= '<p class="text-justify">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 nowrap overflow-hidden">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    <label class="block type-5 text-gray-lightest">Nowrap</label>
    <pre><code class="html"><%= '<p class="nowrap">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>' %></code></pre>
  </div>
  <div class="mb3">
    <p class="mb1 truncate half-width">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    <label class="block type-5 text-gray-lightest">Truncate</label>
    <pre><code class="html"><%= '<p class="truncate">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>' %></code></pre>
  </div>

</section>

<section class="mb3">

  <h3 class="mb1 bold">Slab Headings</h3>
  <div class="mb3">
    <p class="mb3">Caponi is BuzzFeed's slab typeface. It's default (and singular weight) is semibold. Caponi is intended to be used for News headlines only, and should never be smaller than an h5, or 0.875 rem. An h6, or anything classed with .type-6, in combination with the .slab class will default to Proxima. Headlines set in Caponi can be paired with body text set in Proxima.</p>
    <div class="mb3">
      <h1 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h1>
      <label class="block type-5 text-gray-lightest">2.25 rem | 36px</label>
      <pre><code class="html"><%= '<h1 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h1>' %></code></pre>
    </div>
    <div class="mb3">
      <h2 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h2>
      <label class="block type-5 text-gray-lightest">1.375 rem | 22px</label>
      <pre><code class="html"><%= '<h2 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h2>' %></code></pre>
    </div>
    <div class="mb3">
      <h3 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h3>
      <label class="block type-5 text-gray-lightest">1.125 rem | 18px</label>
      <pre><code class="html"><%= '<h3 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h3>' %></code></pre>
    </div>
    <div class="mb3">
      <h4 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h4>
      <label class="block type-5 text-gray-lightest">1 rem | 16px</label>
      <pre><code class="html"><%= '<h4 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h4>' %></code></pre>
   </div>
    <div class="mb3">
      <h5 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h5>
      <label class="block type-5 text-gray-lightest">0.875 rem | 14px</label>
      <pre><code class="html"><%= '<h5 class="slab my1">BuzzFeed Is The Social News And Entertainment Company</h5>' %></code></pre>
   </div>

</section>

<hr>

<!--List-Unstyled-->
<section class="mb3">

  <h3 class="mb1 bold">List Unstyled</h3>
  <p class="mb2">Unstyled keeps list items block level, just removes default browser padding and list-style.</p>

  <ul class="list-unstyled">
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
    <li>Four</li>
    <li>Tell Me That You Love Me More</li>
  </ul>

  <pre><code class="css"><%= '<ul class="list-unstyled">' %>
  <%= '  <li>...</li>' %>
  <%= '  <li>...</li>' %>
  <%= '  <li>...</li>' %>
  <%= '</ul>' %></code></pre>

</section>
<!--Flex-->
