<section class="xs-col-12 lg-col-9 mb4 border-bottom--lighter pb4">
    <div class="mb3">
      <h2 class="mb1 bold">Headers</h2>
      <label class="block type-4">Headers set in Proxima range from <code class="js-highlight">h1</code> through <code class="js-highlight">h6</code>. Alternately, classes <code class="js-highlight">.type-1</code> through <code class="js-highlight">.type-6</code> mirror header element styles respectively, and can be used on any element to allow for flexible styling without affecting semantic markup. Header elements and type classes have no margins attached and inherit a line height 1.3x relative to the type size. </label>
    </div>

    <div>
      <div class="mb3">
        <p class="text-gray--lightest">h1, .type-1<span class="type-6 ml1">(2.25rem, 36px)</span></p>
        <h1>BuzzFeed is the social news and entertainment company</h1>   
      </div>
      <div class="mb3">
        <p class="text-gray--lightest">h2, .type-2<span class="type-6 ml1">(1.375rem, 22px)</span></p>
        <h2>BuzzFeed is the social news and entertainment company</h2>
      </div>
      <div class="mb3">
        <p class="text-gray--lightest">h3, .type-3<span class="type-6 ml1">(1.125rem, 18px)</span></p>
        <h3>BuzzFeed is the social news and entertainment company</h3>
      </div>
      <div class="mb3">
        <p class="text-gray--lightest">h4, .type-4<span class="type-6 ml1">(1rem, 16px)</span></p>
        <h4>BuzzFeed is the social news and entertainment company</h4>
      </div>
      <div class="mb3">
        <p class="text-gray--lightest">h5, .type-5<span class="type-6 ml1">(0.875rem, 14px)</span></p>
        <h5>BuzzFeed is the social news and entertainment company</h5>
      </div>
      <div class="mb3">
        <p class="text-gray--lightest">h6, .type-6<span class="type-6 ml1">(0.75rem, 12px)</span></p>
        <h6>BuzzFeed is the social news and entertainment company</h6>
      </div>

<pre class="xs-col-12"><code class="html"><%= '<h1>BuzzFeed is the social news and entertainment company</h1>' %>
<%= '<p class="type-1">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<h2>BuzzFeed is the social news and entertainment company</h2>' %>
<%= '<p class="type-2">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<h3>BuzzFeed is the social news and entertainment company</h3>' %>
<%= '<p class="type-3">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<h4>BuzzFeed is the social news and entertainment company</h4>' %>
<%= '<p class="type-4">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<h5>BuzzFeed is the social news and entertainment company</h5>' %>
<%= '<p class="type-5">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<h6>BuzzFeed is the social news and entertainment company</h6>' %>
<%= '<p class="type-6">BuzzFeed is the social news and entertainment company</p>' %></code></pre>

    </div>
</section>

<section class="xs-col-12 lg-col-9 mb4 border-bottom--lighter pb4">
  <div class="mb2">
    <h2 class="mb1 bold">Body</h2>
    <label class="block type-4">Body text, or <code class="js-highlight">p</code>, is the base font size for our typographic system. You can also use the class <code class="js-highlight">.type-4</code> to style any element as body text. Optimal line length for body text is around 75 characters per line.</label>
  </div>
  <div>
    <div class="mb2">
      <p class="text-gray--lightest">p, .type-4<span class="type-6 ml1">(1rem, 16px)</span></p>
      <p>BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    </div>
<pre><code class="html"><%= '<p>BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>' %></code></pre>
  </div>
</section>

<section class="xs-col-12 lg-col-9 mb4 border-bottom--lighter pb4">
  <h2 class="mb2 bold">Emphasis</h2>

  <div class="mb3">
    <p class="text-gray--lightest">.regular</p>
    <p class="bold"><span class="regular">BuzzFeed is the</span> social news and entertainment company</p>
  </div>

  <div class="mb3">
    <p class="text-gray--lightest">strong, .bold</p>
    <p><strong>BuzzFeed is the social news and entertainment company</strong></p>
  </div>

  <div class="mb3">
    <p class="text-gray--lightest">em, .italic</p> 
    <p><em>BuzzFeed is the social news and entertainment company</em></p>
  </div>

  <div class="mb3">
    <p class="text-gray--lightest">.caps</p>    
    <p class="caps">BuzzFeed is the social news and entertainment company</p>
  </div>

<pre><code class="html"><%= '<p class="bold"><span class="regular">BuzzFeed is the</span>social news and entertainment company</p>' %>

<%= '<p class="bold">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<p class="italic">BuzzFeed is the social news and entertainment company</p>' %>

<%= '<p class="caps">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
  
</section>

<section class="xs-col-12 lg-col-9 mb4 border-bottom--lighter pb4">
  <h2 class="mb2 bold">Overflow</h2>

    <div class="mb2">
      <p class="text-gray--lightest">.nowrap</p>
      <p class="nowrap overflow-hidden">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    </div>

    <div class="mb2">
      <p class="text-gray--lightest">.truncate</p>
      <p class="half-width truncate overflow-hidden">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    </div>

<pre><code class="html"><%= '<p class="nowrap">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>' %>

<%= '<p class="nowrap">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>' %></code></pre>
    
</section>


<section class="xs-col-12 lg-col-9 mb4 border-bottom--lighter pb4">
  <h2 class="mb1 bold">Alignment</h2>

  <div>
    <div class="mb4">
      <p class="text-gray--lightest">.text-left</p>
      <p class="mb1 text-left border py2">BuzzFeed is the social news and entertainment company</p>
    </div>

    <div class="mb3">
      <p class="text-gray--lightest">.text-right</p>
      <p class="mb1 text-right border py2">BuzzFeed is the social news and entertainment company</p>
    </div>

    <div class="mb3">
      <p class="text-gray--lightest">.text-center</p>
      <p class="text-center border py2">BuzzFeed is the social news and entertainment company</p>
    </div>

    <div class="mb3">
      <p class="text-gray--lightest">.text-justify</p>
      <p class="mb1 text-justify border py2">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    </div>
<pre><code class="html"><%= '<p class="text-left">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
<pre><code class="html"><%= '<p class="text-center">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
<pre><code class="html"><%= '<p class="text-right">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
<pre><code class="html"><%= '<p class="text-justify">BuzzFeed is the social news and entertainment company</p>' %></code></pre>
</div>
</section>

<section class="xs-col-12 lg-col-9 mb4 border-bottom--lighter pb4">
  <div class="mb2">
    <h2 class="mb1 bold">Slab Headers</h2>
    <p class="block">Caponi is BuzzFeed's slab typeface. It's default (and singular weight) is semibold. Caponi is intended to be used for News headlines only, and should never be smaller than an <code class="js-highlight">h5</code>, or 0.875 rem. An <code class="js-highlight">h6</code>, or anything classed with <code class="js-highlight">.type-6</code>, in combination with the <code class="js-highlight">.slab</code> class will default to Proxima. Headlines set in Caponi should be paired with body text set in Proxima.</p>
  </div>

  <div class="mb3">
    <p class="text-gray--lightest">.slab h1, slab .type-1<span class="type-6 ml1">(2.25rem, 36px)</span></p>
    <h1 class="slab">BuzzFeed is the social news and entertainment company</h1>   
  </div>

  <div class="mb3">
    <p class="text-gray--lightest">.slab h2, .slab .type-2<span class="type-6 ml1">(1.375rem, 22px)</span></p>
    <h2 class="slab">BuzzFeed is the social news and entertainment company</h2>
  </div>

  <div class="mb3">
    <p class="text-gray--lightest">.slab h3, .slab .type-3<span class="type-6 ml1">(1.125rem, 18px)</span></p>
    <h3 class="slab">BuzzFeed is the social news and entertainment company</h3>
  </div>

  <div class="mb3">
    <p class="text-gray--lightest">.slab h4, .slab .type-4<span class="type-6 ml1">(1rem, 16px)</span></p>
    <h4 class="slab">BuzzFeed is the social news and entertainment company</h4>
  </div>

  <div class="mb3">
    <p class="text-gray--lightest">.slab h5, .slab .type-5<span class="type-6 ml1">(0.875rem, 14px)</span></p>
    <h5 class="slab">BuzzFeed is the social news and entertainment company</h5>
  </div>

<pre class="xs-col-12"><code class="html"><%= '<h1 class="slab">BuzzFeed is the social news and entertainment company</h1>' %>

<%= '<h2 class="slab">BuzzFeed is the social news and entertainment company</h2>' %>

<%= '<h3 class="slab">BuzzFeed is the social news and entertainment company</h3>' %>

<%= '<h4 class="slab">BuzzFeed is the social news and entertainment company</h4>' %>

<%= '<h5 class="slab">BuzzFeed is the social news and entertainment company</h5>' %></code></pre>
</section>


<section class="xs-col-12 lg-col-9 mb4 border-bottom--lighter pb4">
  <h2 class="mb1 bold">Links</h2>
  <p>Our default link is blue. For other link colors, refer to the Links section on our <a href="./colors">Colors</a> page.</p>
    <div class="mb3">
      <div class="my2">
        <p class="text-gray--lightest">a, .link-blue</p>
        <a class="link-blue" href="#">BuzzFeed is the social news and entertainment company</a>
      </div>
<pre><code class="html"><%= '<a class="link-blue" href="#">BuzzFeed is the social news and entertainment company</a>' %></code></pre>
    </div>

</section>

<section class="xs-col-12 lg-col-9 mb4 border-bottom--lighter pb4">
  <h2 class="mb1 bold">Lists</h2>
  <p class="mb3">Please note, there's no need to add a class for ordered and unordered lists, they get automatically get the styling below.</p>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray--lighter rounded border">
    <div class="p3">
      <h3 class="bold">Ordered</h3>
      <p class="text-gray--lighter">For listing of explicitly ordered items.</p>
    </div>
    <div class="fill-white p3">
      <ol>
        <li>John</li>
        <li>Paul</li>
        <li>George</li>
        <li>Ringo</li>
      </ol>

<pre class="mt2"><code class="html"><%= '<ol>' %>
  <%= '<li>…</li>' %>
  <%= '<li>…</li>' %>
  <%= '<li>…</li>' %>
<%= '</ol>' %></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray--lighter rounded border">
    <div class="p3">
      <h3 class="bold">Unordered</h3>
      <p class="text-gray--lighter">For items that are not explicitly ordered.</p>
    </div>
    <div class="fill-white p3">
      <ul>
        <li>John</li>
        <li>Paul</li>
        <li>George</li>
        <li>Ringo</li>
      </ul>

<pre class="mt2"><code class="html"><%= '<ul>' %>
  <%= '<li>…</li>' %>
  <%= '<li>…</li>' %>
  <%= '<li>…</li>' %>
<%= '</ul>' %></code></pre>
    </div>
  </div>

  <div class="xs-col-12 lg-col-9 mb4 fill-gray--lighter rounded border">
    <div class="p3">
      <h3 class="bold">Unstyled</h3>
      <p class="text-gray--lighter">Unstyled keeps list items block level, just removes default browser padding and list-style.</p>
    </div>
    <div class="fill-white p3">
      <ul class="list-unstyled">
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
        <li>Tell Me That You Love Me More</li>
      </ul>

<pre class="mt2"><code class="html"><%= '<ul class="list-unstyled">' %>
  <%= '<li>…</li>' %>
  <%= '<li>…</li>' %>
  <%= '<li>…</li>' %>
<%= '</ul>' %></code></pre>
    </div>
  </div>
</section>
<!--Flex-->
