<h2 class="mb3">Typography Alternate</h2>

<section style="width:85%; float:right;" class="mb4">

  <h3 class="mb3 bold">Headings</h3>
  <div class="mb3">
    <h1 class="mb1">Yale Will Offer Its First Online Degree</h1>
    <label class="block type-5 text-gray-lightest">h1: 2.25 rem | 36px</label>
  </div>
  <div class="mb3">
    <h2 class="mb1">Yale Will Offer Its First Online Degree</h2>
    <label class="block type-5 text-gray-lightest">h2: 1.375rem | 22px</label>
  </div>
  <div class="mb3">
    <h3 class="mb1">Yale Will Offer Its First Online Degree</h3>
    <label class="block type-5 text-gray-lightest">h3: 1.125rem | 18px</label>
  </div>
  <div class="mb3">
    <h4 class="mb1">Yale Will Offer Its First Online Degree</h4>
    <label class="block type-5 text-gray-lightest">h4: 1rem | 16px</label>
  </div>
  <div class="mb3">
    <h5 class="mb1">Yale Will Offer Its First Online Degree</h5>
    <label class="block type-5 text-gray-lightest">h5: 0.75rem | 12px</label>
  </div>
  <div class="mb3">
    <h6 class="mb1">Yale Will Offer Its First Online Degree</h6>
    <label class="block type-5 text-gray-lightest">h6: 0.625rem | 10px</label>
  </div>

  <label class="block type-5 text-gray-lightest">HTML</label>
  <pre>
    <code class="html"> 
      <%= "<h1> Yale Will Offer Its First Online Degree </h4>" %>
      <%= "<p class='type-1'> Yale Will Offer Its First Online Degree </p>" %> 

      <%= "<h2> Yale Will Offer Its First Online Degree </h4>" %>
      <%= "<p class='type-2'> Yale Will Offer Its First Online Degree </p>" %> 

      <%= "<h3> Yale Will Offer Its First Online Degree </h4>" %>
      <%= "<p class='type-3'> Yale Will Offer Its First Online Degree </p>" %> 

      <%= "<h4> Yale Will Offer Its First Online Degree </h4>" %>
      <%= "<p class='type-4'> Yale Will Offer Its First Online Degree </p>" %> 

      <%= "<h5> Yale Will Offer Its First Online Degree </h4>" %>
      <%= "<p class='type-5'> Yale Will Offer Its First Online Degree </p>" %> 

      <%= "<h6> Yale Will Offer Its First Online Degree </h6>" %>
      <%= "<p class='type-5'> Yale Will Offer Its First Online Degree </p>" %> 
    </code>
  </pre>

  <label class="block type-5 text-gray-lightest">SCSS</label>
    <pre>
      <code class="css"> 
        <%= ".class { font-size: $type-1; }" %>
        <%= ".class { font-size: $type-2; }" %>
        <%= ".class { font-size: $type-3; }" %>
        <%= ".class { font-size: $type-4; }" %> 
        <%= ".class { font-size: $type-5; }" %> 
        <%= ".class { font-size: $type-6; }" %> 
      </code>
    </pre>
 
</section>

<section style="width:85%; float:right;" class="mb4">

  <h3 class="mb3 bold">Body</h3>
  <div class="mb3">
    <p class="mb1">BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M.</p>
    <label class="block mb1 type-5">1 rem/16px</label>
  </div>

  <label class="block type-5 text-gray-lightest">HTML</label>
  <pre>
    <code class="html">
      <%= "<p> BuzzFeed is the social news and entertainment company. BuzzFeed is redefining online advertising with its social, content-driven publishing technology. BuzzFeed provides the most shareable breaking news, original reporting, entertainment, and video across the social web to its global audience of more than 200M. </p>" %>
    </code>
  </pre>

</section>

<section style="width:85%; float:right;" class="mb4">

  <h3 class="mb2 bold">Emphasis & Styling</h3>
  <div class="mb3">
    <p class="regular">Yale Will Offer Its First Online Degree</p>
    <label class="block type-5 text-gray-lightest">Regular, Normal</label>
  </div>
  <div class="mb3">
    <p class="semibold">Yale Will Offer Its First Online Degree</p>
    <label class="block type-5 text-gray-lightest">Semibold</label>
  </div>
  <div class="mb3">
    <p class="bold">Yale Will Offer Its First Online Degree</p>
    <label class="block type-5 text-gray-lightest">Bold</label>
  </div>
  <div class="mb3">
    <p class="italic">Yale Will Offer Its First Online Degree</p>
    <label class="block type-5 text-gray-lightest">Italic</label>
  </div>
  <div class="mb3">
    <p class="caps">Yale Will Not Offer Its First Online Degree</p>
    <label class="block mb1 type-5 text-gray-lightest">Caps</label>
  </div>

  <label class="block type-5 text-gray-lightest">HTML</label>
  <pre>
    <code class="html"> 
      <%= "<p class='regular'> Yale Will Offer Its First Online Degree </p>" %>

      <%= "<p class='semibold'> Yale Will Offer Its First Online Degree </p>" %>

      <%= "<p class='bold'> Yale Will Offer Its First Online Degree </p>" %>

      <%= "<p class='italic'> Yale Will Offer Its First Online Degree </p>" %>

      <%= "<p class='italic'> Yale Will Offer Its First Online Degree </p>" %>

      <%= "<p class='caps'> Yale Will Offer Its First Online Degree </p>" %> 
    </code>
  </pre>

</section>




